@model Escon.SisctNET.Model.Company

    <div class="col-md-12">
        <div class="row">
            <div class="form-group col-lg-8 col-md-8 col-xs-12">
                <label asp-for="AnnexId" class="control-label"></label>
                @if (Model.Annex.Description != "NENHUM")
                {
                    <input class="form-control" value="@Model.Annex.Description" disabled />
                }
                else
                {
                    <input class="form-control" disabled />
                }
            </div>
            <div class="form-group col-lg-2 col-md-2 col-xs-12">
                @Html.LabelFor(model => model.TipoApuracao, "Incentivo", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.TipoApuracao, new { @id = "tipoApu", @data_off = "Saída", @data_on = "Entrada", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "success", @data_offstyle = "danger", @readonly = "true", @disabled = "true" })
                    </label>
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-xs-12">
                @Html.LabelFor(model => model.TypeCompany, "Tipo", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.TypeCompany, new { @data_off = "Indústria", @data_on = "Produto", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary", @data_offstyle = "warning", @readonly = "true", @disabled = "true" })
                    </label>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                <label asp-for="ChapterId" class="control-label"></label>
                @if (Model.Chapter.Name != "NENHUM")
                {
                    <input class="form-control" value="@Model.Chapter.Name" disabled />
                }
                else
                {

                    <input class="form-control" disabled />
                }
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                <label asp-for="SectionId" class="control-label"></label>
            @if (Model.Section.Name != "Nenhuma")
                {
                    <input class="form-control" value="@Model.Section.Name" disabled />
                }
                else
                {

                    <input class="form-control" disabled />
                }
            </div>
        </div>
        <div class="row ">
            <div class="form-group col-lg-2 col-md-6 col-xs-12">
                <label class="control-label">Icms %</label>
                <input class="form-control money" value="@Model.Icms" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <label class="control-label">Icms Aliq. Superior 25 %</label>
                <input class="form-control money" value="@Model.IcmsAliqM25" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <label class="control-label">Icms P/ Não Contribuinte %</label>
                <input class="form-control money" value="@Model.IcmsNContribuinte" disabled />
            </div>
            <div class="form-group col-lg-4 col-md-6 col-xs-12">
                <label class="control-label">Icms P/ Não Contribuinte Fora do Estado %</label>
                <input class="form-control money" value="@Model.IcmsNContribuinteFora" disabled />
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Funef" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.Funef" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Fecop" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.Fecop" disabled />
            </div>

            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <div>
                    <strong style="font-size:10px;">Transferência</strong>
                </div>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.Transferencia" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                <input class="form-control money" value="@Model.TransferenciaExcedente" disabled />
            </div>

            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <div>
                    <strong style="font-size:10px;">Transferência Interestadual Entrada</strong>
                </div>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.TransferenciaInter" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                <input class="form-control money" value="@Model.TransferenciaInterExcedente" disabled />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Cotac" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.Cotac" name="cotac" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Suspension" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.Suspension" name="suspension" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda p/ Contribuinte</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.VendaContribuinte" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                <input class="form-control money" value="@Model.VendaContribuinteExcedente" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda p/ CPF/Não Contribuinte</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.VendaCpf" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                <input class="form-control money" value="@Model.VendaCpfExcedente" disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="AliqInterna" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.AliqInterna" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">

            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda p/ Mesmo Grupo</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.VendaMGrupo" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                <input class="form-control money" value="@Model.VendaMGrupoExcedente" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda do Anexo</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.VendaAnexo" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                <input class="form-control money" value="@Model.VendaAnexoExcedente" disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-2 col-md-6 col-xs-12">
                <label asp-for="IncIInterna" class="control-label" style="font-size:10px;"></label><br /> <span style="font-size:10px;">Elencadas</span>
                <input class="form-control money" value="@Model.IncIInterna" disabled />
            </div>
            <div class="form-group col-lg-2 col-md-6 col-xs-12">
                <label asp-for="IncIInterestadual" class="control-label" style="font-size:10px;"></label><br /> <span style="font-size:10px;">Elencadas</span>
                <input class="form-control money" value="@Model.IncIInterestadual" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">

            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <br />
                <strong style="font-size:10px;">Venda p/ Cliente Credenciado no Art. 781</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <br />
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.VendaArt781" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <br />
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                <input class="form-control money" value="@Model.VendaArt781Excedente" disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-2 col-md-6 col-xs-12">
                <label asp-for="IncIIInterna" class="control-label" style="font-size:10px;"></label><br /> <span style="color:red; font-size:10px;">Daselencadas</span>
                <input class="form-control money" value="@Model.IncIIInterna" disabled />
            </div>
            <div class="form-group col-lg-2 col-md-6 col-xs-12">
                <label asp-for="IncIIInterestadual" class="control-label" style="font-size:10px;"></label> <br /> <span style="color:red; font-size:10px;">Daselencadas</span>
                <input class="form-control money" value="@Model.IncIIInterestadual" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">

            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <br />
                <strong style="font-size:10px;">Faturamento (Permanência no Incetivo)</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <br />
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.Faturamento" disabled />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <br />
                <label class="control-label" style="font-size:10px;">Limite %</label>
                <input class="form-control money" value="@Model.FaturamentoExcedente" disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <label asp-for="CompraInterna" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.CompraInterna" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <label asp-for="CompraInter" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.CompraInter" disabled />
            </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <label asp-for="VendaInterna" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.VendaInterna" disabled />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <label asp-for="VendaInter" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.VendaInter" disabled />
            </div>
        </div>

    </div>