@model Escon.SisctNET.Model.Company

<div class="col-lg-12">
    <form asp-action="EditNew">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" class="form-control" type="hidden" />
        <div class="row">
            <div class="form-group col-lg-8 col-md-8 col-xs-12">
                <label asp-for="AnnexId" class="control-label"></label>
                <select asp-items="@ViewBag.AnnexId" class="form-control selectoption" name="AnnexId" id="annex"></select>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-xs-12">
                @Html.LabelFor(model => model.TipoApuracao, "Incentivo", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.TipoApuracao, new { @id = "TipoApuracao", @data_off = "Saída", @data_on = "Entrada", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "success", @data_offstyle = "danger", @readonly = "true" })
                    </label>
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-xs-12" id="checkbox">
                @Html.LabelFor(model => model.TypeCompany, "Tipo", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.TypeCompany, new { @id = "TypeCompany", @data_off = "Indústria", @data_on = "Produto", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary", @data_offstyle = "warning", @readonly = "true" })
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                <label asp-for="ChapterId" class="control-label"></label>
                <select asp-items="@ViewBag.ChapterId" class="form-control selectoption" name="ChapterId" id="chapter"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-xs-12">
                <label asp-for="SectionId" class="control-label"></label>
                <select asp-items="@ViewBag.SectionId" class="form-control selectoption" name="SectionId" id="section"></select>
            </div>
        </div>
        <div class="row ">
            <div class="form-group col-lg-2 col-md-6 col-xs-12">
                <label class="control-label">Icms %</label>
                <input class="form-control money" name="Icms" value="@Model.Icms" />
            </div>
            @if (Model.TipoApuracao == false && (Model.AnnexId == null || Model.AnnexId == 0))
            {
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label class="control-label">Icms Aliq. Superior 25  %</label>
                    <input class="form-control money" name="IcmsAliqM25" id="IcmsAliqM25" value="@Model.IcmsAliqM25" />
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label class="control-label">Icms P/ Não Contribuinte %</label>
                    <input class="form-control money" name="IcmsNContribuinte" id="IcmsNContribuinte" value="@Model.IcmsNContribuinte" />
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="control-label">Icms P/ Não Contribuinte Fora do Estado %</label>
                    <input class="form-control money" name="IcmsNContribuinteFora" id="IcmsNContribuinteFora" value="@Model.IcmsNContribuinteFora" />
                </div>
            }
            else
            {
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label class="control-label">Icms Aliq. Superior 25 %</label>
                    <input class="form-control money" name="IcmsAliqM25" id="IcmsAliqM25" value="@Model.IcmsAliqM25" disabled />
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label class="control-label">Icms P/ Não Contribuinte %</label>
                    <input class="form-control money" name="IcmsNContribuinte" id="IcmsNContribuinte" value="@Model.IcmsNContribuinte" disabled />
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="control-label">Icms P/ Não Contribuinte Fora do Estado %</label>
                    <input class="form-control money" name="IcmsNContribuinteFora" id="IcmsNContribuinteFora" value="@Model.IcmsNContribuinteFora" disabled />
                </div>
            }

        </div>
        <div class="row">
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Funef" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.Funef" name="Funef" />
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Fecop" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.Fecop" name="Fecop" />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <div>
                    <strong style="font-size:10px;">Transferência</strong>
                </div>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                @if (Model.ChapterId == 4)
                {
                    <input class="form-control money" value="@Model.Transferencia" name="Transferencia" id="Transferencia"/>
                }
                else
                {
                    <input class="form-control money" value="@Model.Transferencia" name="Transferencia" id="Transferencia" disabled/>
                }
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                @if (Model.ChapterId == 4)
                {
                    <input class="form-control money" value="@Model.TransferenciaExcedente" name="TransferenciaExcedente" id="TransferenciaExcedente"/>
                }
                else
                {
                    <input class="form-control money" value="@Model.TransferenciaExcedente" name="TransferenciaExcedente" id="TransferenciaExcedente" disabled/>
                }
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <div>
                    <strong style="font-size:10px;">Transferência Interestadual Entrada</strong>
                </div>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.TransferenciaInter" name="TransferenciaInter" id="TransferenciaInter" />
                }
                else
                {
                    <input class="form-control money" value="@Model.TransferenciaInter" name="TransferenciaInter" id="TransferenciaInter" disabled/>
                }
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.TransferenciaInterExcedente" name="TransferenciaInterExcedente" id="TransferenciaInterExcedente"/>
                }
                else
                {
                    <input class="form-control money" value="@Model.TransferenciaInterExcedente" name="TransferenciaInterExcedente" id="TransferenciaInterExcedente" disabled/>
                }
            </div>

        </div>

        <div class="row">
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Cotac" class="control-label" style="font-size:10px;"></label>
                @if (Model.TipoApuracao == false)
                {
                    <input class="form-control money" value="@Model.Cotac" name="Cotac" id="Cotac" />

                }
                else
                {
                    <input class="form-control money" value="@Model.Cotac" name="Cotac" id="Cotac" disabled/>
                }
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label asp-for="Suspension" class="control-label" style="font-size:10px;"></label>
                <input class="form-control money" value="@Model.Suspension" name="Suspension" />
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda p/ Contribuinte</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.VendaContribuinte" name="VendaContribuinte" id="VendaContribuinte"/>
                }
                else
                {
                    <input class="form-control money" value="@Model.VendaContribuinte" name="VendaContribuinte" id="VendaContribuinte"  disabled/>
                }
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.VendaContribuinteExcedente" name="VendaContribuinteExcedente" id="VendaContribuinteExcedente"/>
                }
                else
                {
                    <input class="form-control money" value="@Model.VendaContribuinteExcedente" name="VendaContribuinteExcedente" id="VendaContribuinteExcedente" disabled/>
                }
            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda p/ CPF/Não Contribuinte</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.VendaCpf" name="VendaCpf" id="VendaCpf" />
                }
                else
                {
                    <input class="form-control money" value="@Model.VendaCpf" name="VendaCpf" id="VendaCpf" disabled />
                }
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.VendaCpfExcedente" name="VendaCpfExcedente"  id="VendaCpfExcedente"/>
                }
                else
                {
                    <input class="form-control money" value="@Model.VendaCpfExcedente" name="VendaCpfExcedente" id="VendaCpfExcedente" disabled />
                }
            </div>
        </div>
        <div class="row">
            @if (Model.AnnexId == 3)
            {
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <label asp-for="AliqInterna" class="control-label" style="font-size:10px;"></label>
                    <input class="form-control money" value="@Model.AliqInterna" name="AliqInterna" id="AliqInterna" />
                </div>
            }
            else
            {
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <label asp-for="AliqInterna" class="control-label" style="font-size:10px;"></label>
                    <input class="form-control money" value="@Model.AliqInterna" name="AliqInterna" id="AliqInterna" disabled />
                </div>
            }

            <div class="form-group col-lg-1 col-md-6 col-xs-12">

            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda p/ Mesmo Grupo</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.VendaMGrupo" name="VendaMGrupo" id="VendaMGrupo" />
                }
                else
                {
                    <input class="form-control money" value="@Model.VendaMGrupo" name="VendaMGrupo" id="VendaMGrupo" disabled/>
                }
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                @if (Model.TipoApuracao == true)
                {
                    <input class="form-control money" value="@Model.VendaMGrupoExcedente" name="VendaMGrupoExcedente" id="VendaMGrupoExcedente"/>
                }
                else
                {
                    <input class="form-control money" value="@Model.VendaMGrupoExcedente" name="VendaMGrupoExcedente" id="VendaMGrupoExcedente" disabled />
                }
            </div>

            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <strong style="font-size:10px;">Venda do Anexo</strong>
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Limite %</label>
                @if (Model.TipoApuracao == true && Model.ChapterId != 4)
                {
                    <input class="form-control money" value="@Model.VendaAnexo" name="VendaAnexo" id="VendaAnexo" />
                }
                else
                {
                    <input class="form-control money" value="@Model.VendaAnexo" name="VendaAnexo" id="VendaAnexo" disabled />
                }
            </div>
            <div class="form-group col-lg-1 col-md-6 col-xs-12">
                <label class="control-label" style="font-size:10px;">Excedente %</label>
                @if (Model.TipoApuracao == true && Model.ChapterId != 4)
                {
                    <input class="form-control money" value="@Model.VendaAnexoExcedente" name="VendaAnexoExcedente" id="VendaAnexoExcedente"/>

                }
                else
                {
                    <input class="form-control money" value="@Model.VendaAnexoExcedente" name="VendaAnexoExcedente" id="VendaAnexoExcedente" disabled/>
                }
            </div>
        </div>
        <div class="row">
            @if (Model.AnnexId == 3)
            {
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIInterna" class="control-label" style="font-size:10px;"></label><br /> <span style="font-size:10px;">Elencadas</span>
                    <input class="form-control money" value="@Model.IncIInterna" name="IncIInterna" id="IncIInterna" />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIInterestadual" class="control-label" style="font-size:10px;"></label><br /> <span style="font-size:10px;">Elencadas</span>
                    <input class="form-control money" value="@Model.IncIInterestadual" name="IncIInterestadual" id="IncIInterestadual" />
                </div>
            }
            else
            {
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIInterna" class="control-label" style="font-size:10px;"></label> <br /> <span style="font-size:10px;">Elencadas</span>
                    <input class="form-control money" value="@Model.IncIInterna" name="IncIInterna" id="IncIInterna" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIInterestadual" class="control-label" style="font-size:10px;"></label> <br /> <span style="font-size:10px;">Elencadas</span>
                    <input class="form-control money" value="@Model.IncIInterestadual" name="IncIInterestadual" id="IncIInterestadual" disabled />
                </div>
            }
            <div class="form-group col-lg-3 col-md-6 col-xs-12">

            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <br />
                <strong style="font-size:10px;">Venda p/ Cliente Credenciado no Art. 781</strong>
            </div>
            @if (Model.AnnexId == 3)
            {
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Limite %</label>
                    <input class="form-control money" value="@Model.VendaArt781" name="VendaArt781" id="VendaArt781" />
                </div>
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Excedente %</label>
                    <input class="form-control money" value="@Model.VendaArt781Excedente" name="VendaArt781Excedente" id="VendaArt781Excedente" />
                </div>
            }
            else
            {
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Limite %</label>
                    <input class="form-control money" value="@Model.VendaArt781" name="VendaArt781" disabled />
                </div>
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Excedente %</label>
                    <input class="form-control money" value="@Model.VendaArt781Excedente" name="VendaArt781Excedente" disabled />
                </div>
            }

        </div>

        <div class="row">
            @if (Model.AnnexId == 3)
            {
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIIInterna" class="control-label" style="font-size:10px;"></label><br /> <span style="color:red; font-size:10px;">Daselencadas</span>
                    <input class="form-control money" value="@Model.IncIIInterna" name="IncIIInterna" id="IncIIInterna" />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIIInterestadual" class="control-label" style="font-size:10px;"></label> <br /> <span style="color:red; font-size:10px;">Daselencadas</span>
                    <input class="form-control money" value="@Model.IncIIInterestadual" name="IncIIInterestadual" id="IncIIInterestadual" />
                </div>
            }
            else
            {
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIIInterna" class="control-label" style="font-size:10px;"></label> <br /> <span style="color:red; font-size:10px;">Daselencadas</span>
                    <input class="form-control money" value="@Model.IncIIInterna" name="IncIIInterna" id="IncIIInterna" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="IncIIInterestadual" class="control-label" style="font-size:10px;"></label> <br /> <span style="color:red;font-size:10px;">Daselencadas</span>
                    <input class="form-control money" value="@Model.IncIIInterestadual" name="IncIIInterestadual" id="IncIIInterestadual" disabled />
                </div>
            }

            <div class="form-group col-lg-3 col-md-6 col-xs-12">

            </div>
            <div class="form-group col-lg-3 col-md-6 col-xs-12">
                <br />
                <br />
                <strong style="font-size:10px;">Faturamento (Permanência no Incetivo)</strong>
            </div>
            @if (Model.ChapterId == 4)
            {
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Limite %</label>
                    <input class="form-control money" value="@Model.Faturamento" name="Faturamento" id="Faturamento" />
                </div>
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Excedente %</label>
                    <input class="form-control money" value="@Model.FaturamentoExcedente" name="FaturamentoExcedente" id="FaturamentoExcedente" />
                </div>
            }
            else
            {
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Limite %</label>
                    <input class="form-control money" value="@Model.Faturamento" name="Faturamento" id="Faturamento" disabled />
                </div>
                <div class="form-group col-lg-1 col-md-6 col-xs-12">
                    <br />
                    <label class="control-label" style="font-size:10px;">Excedente %</label>
                    <input class="form-control money" value="@Model.FaturamentoExcedente" name="FaturamentoExcedente" id="FaturamentoExcedente" disabled />
                </div>
            }
        </div>

        <div class="row">
            
        </div>

        <div class="form-group col-lg-12 col-md-12 col-xs-12">
            <input type="submit" value="Confirmar" class="btn btn-success pull-right" />
        </div>
    </form>
</div>

<script type="text/javascript">
    var anexo = @Model.AnnexId;
    $("#annex").children('option').each(function () {
        if ($(this).val() == anexo) {
            $(this).attr('selected', true);
        }
    });

    var capitulo = @Model.ChapterId;
    $("#chapter").children('option').each(function () {
        if ($(this).val() == capitulo) {
            $(this).attr('selected', true);
        }
    });

    var section = @Model.SectionId;
    $("#section").children('option').each(function () {
        if ($(this).val() == section) {
            $(this).attr('selected', true);
        }
    });

    $("#TipoApuracao").on("change", function () {
        if ($(this).prop('checked')) {
            $('#IcmsAliqM25').prop('disabled', true);
            $('#IcmsNContribuinte').prop('disabled', true);
            $('#IcmsNContribuinteFora').prop('disabled', true);
            $('#TypeCompany').prop('disabled', true);
            $('#Cotac').prop('disabled', true);
            $("#Transferencia").prop("disabled", true);
            $("#TransferenciaExcedente").prop("disabled", true);
            $('#TransferenciaInter').prop('disabled', false);
            $('#TransferenciaInterExcedente').prop('disabled', false);
            $('#VendaContribuinte').prop('disabled', false);
            $('#VendaContribuinteExcedente').prop('disabled', false);
            $('#VendaCpf').prop('disabled', false);
            $('#VendaCpfExcedente').prop('disabled', false);
            $('#VendaMGrupo').prop('disabled', false);
            $('#VendaMGrupoExcedente').prop('disabled', false);
            $("#VendaAnexo").prop("disabled", false);
            $("#VendaAnexoExcedente").prop("disabled", false);
        } else {
            $('#IcmsAliqM25').prop('disabled', false);
            $('#IcmsNContribuinte').prop('disabled', false);
            $('#IcmsNContribuinteFora').prop('disabled', false);
            $('#TypeCompany').prop('disabled', false);
            $('#Cotac').prop('disabled', false);
            $("#Transferencia").prop("disabled", true);
            $("#TransferenciaExcedente").prop("disabled", true);
            $('#TransferenciaInter').prop('disabled', true);
            $('#TransferenciaInterExcedente').prop('disabled', true);
            $('#VendaContribuinte').prop('disabled', true);
            $('#VendaContribuinteExcedente').prop('disabled', true);
            $('#VendaCpf').prop('disabled', true);
            $('#VendaCpfExcedente').prop('disabled', true);
            $('#VendaMGrupo').prop('disabled', true);
            $('#VendaMGrupoExcedente').prop('disabled', true);
            $("#VendaAnexo").prop("disabled", true);
            $("#VendaAnexoExcedente").prop("disabled", true);
        }

    });

    
    

    $("#annex").on("change", function () {
        if ($(this).val() == "3") {
            $('#IcmsAliqM25').prop('disabled', true);
            $('#IcmsNContribuinte').prop('disabled', true);
            $('#IcmsNContribuinteFora').prop('disabled', true);
            $("#AliqInterna").prop("disabled", false);
            $("#IncIInterna").prop("disabled", false);
            $("#IncIInterestadual").prop("disabled", false);
            $("#IncIIInterna").prop("disabled", false);
            $("#IncIIInterestadual").prop("disabled", false);
            $("#VendaArt781").prop("disabled", false);
            $("#VendaArt781Excedente").prop("disabled", false);
        }
        else {
            $('#IcmsAliqM25').prop('disabled', false);
            $('#IcmsNContribuinte').prop('disabled', false);
            $('#IcmsNContribuinteFora').prop('disabled', false);
            $("#AliqInterna").prop("disabled", true);
            $("#IncIInterna").prop("disabled", true);
            $("#IncIInterestadual").prop("disabled", true);
            $("#IncIIInterna").prop("disabled", true);
            $("#IncIIInterestadual").prop("disabled", true);
            $("#VendaArt781").prop("disabled", true);
            $("#VendaArt781Excedente").prop("disabled", true);
        }
    });

    $("#chapter").on("change", function () {
        if ($(this).val() == "4") {
            $("#Transferencia").prop("disabled", false);
            $("#TransferenciaExcedente").prop("disabled", false);
            $("#VendaAnexo").prop("disabled", true);
            $("#VendaAnexoExcedente").prop("disabled", true);
            $("#Faturamento").prop("disabled", false);
            $("#FaturamentoExcedente").prop("disabled", false);
        }
        else {
            $("#Transferencia").prop("disabled", true);
            $("#TransferenciaExcedente").prop("disabled", true);
            $("#VendaAnexo").prop("disabled", false);
            $("#VendaAnexoExcedente").prop("disabled", false);
            $("#Faturamento").prop("disabled", true);
            $("#FaturamentoExcedente").prop("disabled", true);
        }
    });

    $(".textformartmask").on("input", function () {
        $(this).val($(this).val().toUpperCase());
    });
</script>