@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        @if (ViewBag.Type == 0)
        {
            <a asp-controller="Home" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        }
        else
        {
            <a asp-controller="HomeExit" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        }


        <h3 class="box-title">
            <strong>Incentivo</strong>
        </h3>
        <div style="text-align:center;">
            <strong> @Model.SocialName - @Model.Document</strong>
        </div>
        <br />
    </div>

    <div class="box-body">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-lg-2 col-md-2 col-xs-12">
                    @Html.LabelFor(model => model.TipoApuracao, "Incentivo", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.TipoApuracao, new { @id = "tipoApu", @data_off = "Saída", @data_on = "Entrada", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "success", @data_offstyle = "danger", @readonly = "true", @disabled = "true" })
                        </label>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-xs-12">
                    @Html.LabelFor(model => model.TypeCompany, "Tipo", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.TypeCompany, new { @data_off = "Indústria", @data_on = "Produto", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary",@data_offstyle = "warning", @readonly = "true", @disabled = "true" })
                        </label>
                    </div>
                </div>
                <div class="form-group col-lg-8 col-md-8 col-xs-12">
                    <label asp-for="AnnexId" class="control-label"></label>
                    @if (Model.AnnexId != null)
                    {
                        <input class="form-control" name="AnnexId" value="@Model.Annex.Description" disabled />
                    }
                    else
                    {
                        <input class="form-control" name="AnnexId" disabled />
                    }
                </div>

            </div>
            <div class="row ">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Icms %</label>
                    <input class="form-control money" name="Icms" value="@Model.Icms" disabled />
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label class="control-label">Icms Aliq. Superior 25 %</label>
                    <input class="form-control money" name="IcmsAliqM25" id="icmsAliqM25" value="@Model.IcmsAliqM25" disabled />
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <label class="control-label">Icms P/ Não Contribuinte %</label>
                    <input class="form-control money" name="IcmsNContribuinte" id="icmsNContri" value="@Model.IcmsNContribuinte" disabled />
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label class="control-label">Icms P/ Não Contribuinte Fora do Estado %</label>
                    <input class="form-control money" name="IcmsNContribuinteFora" id="icmsNContriFora" value="@Model.IcmsNContribuinteFora" disabled />
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Funef" class="control-label"></label>
                    <input class="form-control money" value="@Model.Funef" name="funef" disabled />
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <br />
                    <div>
                        <strong>Transferências Interestaduais entradas</strong>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite %</label>
                    <input class="form-control money" value="@Model.TransferenciaInter" name="transferenciaInter" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente %</label>
                    <input class="form-control money" value="@Model.TransferenciaInterExcedente" name="transferenciaInterExcedente" disabled />
                </div>
                <div class="col-lg-2 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Fecop" class="control-label"></label>
                    <input class="form-control money" value="@Model.Fecop" name="fecop" disabled />
                </div>

            </div>

            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Cotac" class="control-label"></label>
                    <input class="form-control money" value="@Model.Cotac" name="cotac" disabled />
                </div>

                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <br />
                    <strong>Venda p/ Contribuinte</strong>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite %</label>
                    <input class="form-control money" value="@Model.VendaContribuinte" name="vendaContribuinte" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente %</label>
                    <input class="form-control money" value="@Model.VendaContribuinteExcedente" name="vendaContribuinteExcedente" disabled />
                </div>
                <div class="col-lg-2 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Suspension" class="control-label"></label>
                    <input class="form-control money" value="@Model.Suspension" name="suspension" disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <br />
                    <strong>Venda p/ CPF/Não Contribuinte</strong>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite %</label>
                    <input class="form-control money" value="@Model.VendaCpf" name="vendaCpf" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente %</label>
                    <input class="form-control money" value="@Model.VendaCpfExcedente" name="vendaCpfExcedente" disabled />
                </div>
                <div class="col-lg-2 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Uf" class="control-label"></label>
                    <input class="form-control" value="@Model.Uf" name="uf" disabled />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <br />
                    <strong>Venda p/ Mesmo Grupo</strong>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite %</label>
                    <input class="form-control money" value="@Model.VendaMGrupo" name="vendaMGrupo" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente %</label>
                    <input class="form-control money" value="@Model.VendaMGrupoExcedente" name="vendaMGrupoExcedente" disabled />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-2 col-md-6 col-xs-12">

                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <br />
                    <strong>Venda do Anexo</strong>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Limite %</label>
                    <input class="form-control money" value="@Model.VendaAnexo" name="vendaAnexo" disabled />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Excedente %</label>
                    <input class="form-control money" value="@Model.VendaAnexoExcedente" name="vendaAnexoExcedente" disabled />
                </div>
            </div>

        </div>

    </div>
</div>
