@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "EditNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
    
        <a asp-controller="Company" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
      
        <h3 class="box-title">
            <strong>Incentivo</strong>
        </h3>
        <div style="text-align:center;">
            <strong> @Model.FantasyName - @Model.Document</strong>
        </div>
        <br />
    </div>

    <div class="box-body">
        @if (SessionManager.GetPersonInSession().Profile.Id.Equals(1) || SessionManager.GetPersonInSession().Profile.Id.Equals(4))
        {
            <div class="col-lg-12">
                <form asp-action="EditNew">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" class="form-control" type="hidden" />
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-6 col-xs-12">
                            <label asp-for="AnnexId" class="control-label"></label>
                            <select asp-items="@ViewBag.AnnexId" class="form-control selectoption" name="anexo"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Icms %</label>
                            <input class="form-control" name="icms" value="@Model.Icms" />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <br />
                            <div>
                                <strong>Transferências</strong>
                            </div>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Limite %</label>
                            <input class="form-control" value="@Model.Transferencia" name="transferencia" />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Excedente %</label>
                            <input class="form-control" value="@Model.TransferenciaExcedente" name="transferenciaEx" />
                        </div>
                        <div class="col-lg-1 col-md-6 col-xs-12">

                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Suspensão %</label>
                            <input class="form-control" value="@Model.Suspension" name="suspension" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Funef %</label>
                            <input class="form-control" value="@Model.Funef" name="funef" />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <br />
                            <strong>Venda p/ Contribuinte</strong>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Limite %</label>
                            <input class="form-control" value="@Model.VendaContribuinte" name="vendaContri" />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Excedente %</label>
                            <input class="form-control" value="@Model.VendaContribuinteExcedente" name="vendaContriEx" />
                        </div>
                        <div class="col-lg-1 col-md-6 col-xs-12">

                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Fecop %</label>
                            <input class="form-control" value="@Model.Fecop" name="fecop" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Cotac %</label>
                            <input class="form-control" value="@Model.Cotac" name="cotac" />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <br />
                            <strong>Venda p/ CPF</strong>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Limite %</label>
                            <input class="form-control" value="@Model.VendaCpf" name="vendaCpf" />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Excedente %</label>
                            <input class="form-control" value="@Model.VendaCpfExcedente" name="vendaCpfEx" />
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <input type="submit" value="Alterar" class="btn btn-success pull-right" />
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-lg-12 col-md-6 col-xs-12">
                        <label asp-for="AnnexId" class="control-label"></label>
                        <input asp-for="Annex.Description" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Icms" class="control-label"></label>
                        <input asp-for="Icms" class="form-control" disabled />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <br />
                        <div>
                            <strong>Transferências</strong>
                        </div>
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Limite %</label>
                        <input asp-for="Transferencia" class="form-control" disabled />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Excedente %</label>
                        <input asp-for="TransferenciaExcedente" class="form-control" disabled />
                    </div>
                    <div class="col-lg-1 col-md-6 col-xs-12">

                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Suspension" class="control-label"></label>
                        <input asp-for="Suspension" class="form-control" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Funef" class="control-label"></label>
                        <input asp-for="Funef" class="form-control" disabled />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <br />
                        <strong>Venda p/ Contribuinte</strong>
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Limite %</label>
                        <input asp-for="VendaContribuinte" class="form-control" disabled />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Excedente %</label>
                        <input asp-for="VendaContribuinteExcedente" class="form-control" disabled />
                    </div>
                    <div class="col-lg-1 col-md-6 col-xs-12">

                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Fecop" class="control-label"></label>
                        <input asp-for="Fecop" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Cotac" class="control-label"></label>
                        <input asp-for="Cotac" class="form-control" disabled />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <br />
                        <strong>Venda p/ CPF</strong>
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Limite</label>
                        <input asp-for="VendaCpf" class="form-control" disabled />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Excedente</label>
                        <input asp-for="VendaCpfExcedente" class="form-control" disabled />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
