@model Escon.SisctNET.Model.Cst

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <a asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong>Editar Cst: </strong> @Model.Code</h3>
    </div>
    <hr />
    <div class="box-body">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-lg-4 col-md-6 col-xs-12">
                        @Html.LabelFor(model => model.Type, "Tipo", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Type, new { @data_off = "ICMS", @data_on = "PIS/COFINS", @data_size = "small", @data_toggle = "toggle", @data_offstyle = "primary", @data_onstyle = "warning", @readonly = "true", @disabled = "true" })
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-2 col-xs-12">
                        @Html.LabelFor(model => model.Ident, "Identificador", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Ident, new { @data_off = "Entrada", @data_on = "Saida", @data_size = "small", @data_toggle = "toggle", @data_offstyle = "success", @data_onstyle = "danger", @readonly = "true" })
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-xs-12">
                            <label asp-for="TaxationTypeNcmId" class="control-label"></label>
                            <select asp-items="@ViewBag.TaxationTypeNcmId" name="TaxationTypeNcmId" class="form-control selectoption" id="tipo"></select>
                            <span asp-validation-for="TaxationTypeNcmId" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-2 col-md-2 col-xs-12">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-10 col-md-10 col-xs-12">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <input type="submit" value="Confirmar" class="btn btn-success pull-right" />
                </div>
            </form>
        </div>
    </div>
    <div class="box-footer">

    </div>
</div>


<script type="text/javascript">
    var tipo = @Model.TaxationTypeNcmId;
    $("#tipo").children('option').each(function () {
        if ($(this).val() == tipo) {
            $(this).attr('selected', true);
        }
    });

</script>