@model Escon.SisctNET.Model.Taxation


    <div style="width:100%; padding:20px;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NcmId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncm.Code)
            </dd>
            <dt>
                Descrição
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ncm.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cest)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cest)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TaxationTypeId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TaxationType.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AliqInterna)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AliqInterna)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Picms)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Picms)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MVA)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MVA)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BCR)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BCR)
            </dd>
            @if (Model.Company.ChapterId == 4)
            {
                <dt>
                    Percentual Inciso
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PercentualInciso)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Uf)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Uf)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateStart)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateStart)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateEnd)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateEnd)
            </dd>

        </dl>
    </div>