@model IEnumerable<Escon.SisctNET.Model.Ncm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"><strong>Ncms Cadastrados</strong></h3>
        <div class="btn-group pull-right">
            
            <a asp-action="Create" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Novo Ncm
            </a>
        </div>

    </div>
    <div class="box-body">
        <div style="width:100%; overflow:hidden; overflow-x:scroll; padding:20px;">
            <form asp-action="Index" method="GET">
                <input type="text" name="ncm"/>
                <input type="submit" value="Pesquisar" />
            </form>

            <table style="width:100%">

                <thead>
                    <tr>
                        <th style="width:10%">
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th style="width:80%">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th style="width:10%">
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:10%">
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td style="width:80%">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td style="text-align:center;width:10%">
                                @Html.CheckBoxFor(modelItem => item.Active, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary", @readonly = "true", @id = item.Id })
                            </td>
                            <td style="width:10%;">
                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil pull-left", @style = "margin-left:10px; margin-bottom:10px;" })
                                @Html.ActionLink(" ", "Delete", new { id = item.Id },
                                    new { onclick = "return confirm('Deseja exluir esse registro?');", @class = "glyphicon glyphicon-trash pull-left", @style = "margin-left:10px; margin-bottom:10px;" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    
</script>