
<input type="hidden" id="CpfCnpjIE" value="@ViewBag.document" />
<input type="hidden" id="hddCompanyId" value="@ViewBag.CompanyId" />
<input type="hidden" id="TypeTaxation" value="@ViewBag.TypeTaxation" />

<!--Total-->
<input type="hidden" id="ValorTotal" value="@ViewBag.TotalImpostoIncentivo" />
<input type="hidden" id="PeriodoReferencia" value="@ViewBag.PeriodReferenceDarWs" />

<!--ICMS por MVA-->
@if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "AT" || ViewBag.TypeTaxation == "CO" || ViewBag.TypeTaxation == "COR")
{
    <input type="hidden" id="DarSTCO" data-code="@ViewBag.DarSTCO" value="@ViewBag.IcmsPagarSIE" />
}
else
{
    <input type="hidden" id="DarSTCO" data-code="@ViewBag.DarSTCO" value="" />
}


<!--Fecop por MVA-->
<input type="hidden" id="DarFecop" data-code="@ViewBag.DarFecop" value="@ViewBag.TotalFinalFecopCalculadaSIE" /> 
<!--Fecop Incentivo-->
<input type="hidden" id="DarFecopEI" data-code="@ViewBag.DarFecop" value="@ViewBag.ImpostoFecop" />

<!--ICMS Incentivo-->
<input type="hidden" id="DarIcms" data-code="@ViewBag.DarIcms" value="@ViewBag.ImpostoIcms" />

<!--Funef-->
<input type="hidden" id="DarFunef" data-code="@ViewBag.DarFunef" value="@ViewBag.TaxaFunef" />

@if (ViewBag.TypeTaxation == "AP")
{
    <input type="hidden" id="DarAp" data-code="@ViewBag.DarAp" value="@ViewBag.IcmsPagarSIE" />
}
else
{
    <input type="hidden" id="DarAp" data-code="@ViewBag.DarAp" value="" />
}

@if (ViewBag.TypeTaxation == "IM")
{
    <input type="hidden" id="DarIm" data-code="@ViewBag.DarIm" value="@ViewBag.IcmsPagarSIE" />
}
else
{
    <input type="hidden" id="DarIm" data-code="@ViewBag.DarIm" value="" />
}


<button type="button" class="btn btn-success pull-right" style="width:320px;" id="btnSendBillet">
    <div id="loaderBillet" class="loader pull-left" style="display:none;"></div>
    ENVIAR BOLETO PARA O CLIENTE
</button>

<script src="~/app/productNote.js"></script>