
<div style="border:2px solid; text-align:center; page-break-before: always; padding-top:20px;">
    <strong>RESUMO DOS IMPOSTOS</strong>
</div>

<table class="table" style="font-size: 12px; border:2px solid;">
    <thead>
        <tr>
            <th style="width:120px; text-align:center">CÓDIGO DAR</th>
            <th style="width:100px; text-align:center">ICMS APURADO</th>
            <th style="width:100px; text-align:center">ICMS RECOLHIDO</th>
            <th style="width:100px; text-align:center">ICMS A RECOLHER</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Company.Incentive == true)
        {
            <tr>
                <td style="text-align:left">
                    @ViewBag.DarIcms.Code (@ViewBag.DarIcms.Description)
                    <input type="hidden" id="DarIcms" data-code="@ViewBag.DarIcms.Code" value="@ViewBag.TotalDarIcms" data-substituicao="0" />
                </td>

                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarIcms)</td>
                <td style="text-align:right; padding-right:1%;">0,00 </td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarIcms)</td>
            </tr>
        }
        else
        {
            <input type="hidden" id="DarIcms" data-code="@ViewBag.DarIcms.Code" value="0" data-substituicao="0" />
        }

        <tr>
            <td style="text-align:left">
                @ViewBag.DarSTCO.Code (@ViewBag.DarSTCO.Description (Substituição))
                <input type="hidden" id="DarST" data-code="@ViewBag.DarSTCO.Code" value="@ViewBag.TotalDarST" data-substituicao="1" />
            </td>

            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoST)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoST)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarST) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarSTCO.Code (@ViewBag.DarSTCO.Description (Consumo))
                <input type="hidden" id="DarCO" data-code="@ViewBag.DarSTCO.Code" value="@ViewBag.TotalDarCO" data-substituicao="0" />
            </td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoCO)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoCO)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarCO) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarAP.Code (@ViewBag.DarAP.Description)
                <input type="hidden" id="DarAp" data-code="@ViewBag.DarAP.Code" value="@ViewBag.TotalDarAp" data-substituicao="0" />
            </td>

            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoAP)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoAP)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarAp) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarIM.Code (@ViewBag.DarIM.Description)
                <input type="hidden" id="DarIm" data-code="@ViewBag.DarIM.Code" value="@ViewBag.TotalDarIm" data-substituicao="0" />
            </td>

            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoIM)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoIM)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarIm) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarFecop.Code (@ViewBag.DarFecop.Description)
                <input type="hidden" id="DarFecop" data-code="@ViewBag.DarFecop.Code" value="@ViewBag.TotalDarFecop" data-substituicao="0" />
            </td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoFecop)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoFecop)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFecop) </td>
        </tr>
        @if (ViewBag.Company.Incentive == true && ViewBag.Company.TipoApuracao == false && ViewBag.Company.AnnexId != 3)
        {
            <tr>
                <td style="text-align:left">
                    @ViewBag.DarCotac.Code (@ViewBag.DarCotac.Description)
                    <input type="hidden" id="DarCotac" data-code="@ViewBag.DarCotac.Code" value="@ViewBag.TotalDarCotac" data-substituicao="0" />
                </td>

                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarCotac) </td>
                <td style="text-align:right; padding-right:1%;">0,00</td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarCotac) </td>
            </tr>
        }
        else
        {
            <input type="hidden" id="DarCotac" data-code="@ViewBag.DarCotac.Code" value="0" data-substituicao="0" />
        }

        @if (ViewBag.Company.Incentive == true)
        {
            <tr>
                <td style="text-align:left">
                    @ViewBag.DarFunef.Code (@ViewBag.DarFunef.Description)
                    <input type="hidden" id="DarFunef" data-code="@ViewBag.DarFunef.Code" value="@ViewBag.TotalDarFunef" data-substituicao="0" />
                </td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFunef)</td>
                <td style="text-align:right; padding-right:1%;">0,00</td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFunef)</td>
            </tr>
        }
        else
        {
            <input type="hidden" id="DarFunef" data-code="@ViewBag.DarFunef.Code" value="0" data-substituicao="0" />
        }

        
    </tbody>
    <tfoot>
        <tr>
            <th style="text-align:center">
                Total
            </th>
            <th style="text-align:right; padding-right:1%;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.TotalDarIcms) + Convert.ToDecimal(ViewBag.TotalAPuradoST) + Convert.ToDecimal(ViewBag.TotalAPuradoCO) +
                                        Convert.ToDecimal(ViewBag.TotalAPuradoAP) + Convert.ToDecimal(ViewBag.TotalAPuradoIM) + Convert.ToDecimal(ViewBag.TotalAPuradoFecop) +
                                        Convert.ToDecimal(ViewBag.TotalDarCotac) + Convert.ToDecimal(ViewBag.TotalDarFunef))
            </th>
            <th style="text-align:right; padding-right:1%;">
                @string.Format("{0:N}", Convert.ToDecimal(Convert.ToDecimal(ViewBag.TotalRecolhidoST) + Convert.ToDecimal(ViewBag.TotalRecolhidoCO) + 
                                        Convert.ToDecimal(ViewBag.TotalRecolhidoAP) + Convert.ToDecimal(ViewBag.TotalRecolhidoIM) +
                                        Convert.ToDecimal(ViewBag.TotalRecolhidoFecop)))
            </th>
            <th style="text-align:right; padding-right:1%;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.TotalDarIcms) + Convert.ToDecimal(ViewBag.TotalDarST) + Convert.ToDecimal(ViewBag.TotalDarCO) +
                                        Convert.ToDecimal(ViewBag.TotalDarAP) + Convert.ToDecimal(ViewBag.TotalDarIM) + Convert.ToDecimal(ViewBag.TotalDarFecop) +
                                        Convert.ToDecimal(ViewBag.TotalDarCotac) + Convert.ToDecimal(ViewBag.TotalDarFunef))
            </th>
        </tr>
    </tfoot>
</table>

