<div style="border:2px solid; text-align:center; page-break-before: always; padding-top:10px;">
    <strong>Empresas com Inscrição Estadual</strong>
</div>
<table class="table" style="font-size:8px; border: 2px solid;">
    <thead style="font-size:10px;">
        <tr>
            <th style="font-size:11px;">Tributação</th>
            <th>Código do Dar</th>
            <th>Icms Apurado</th>
            <th>(-) Icms Frete com IE</th>
            <th>(-) GNRE Paga</th>
            <th>(+) GNRE Não Paga</th>
            <th>(-) Icms ST</th>
            <th width="80px">(=) Valor DIEF</th>
            <th>(-) Icms Pago - Posto Fiscal</th>
            <th width="80px">Icms A Pagar</th>
            <th></th>
            <th>Fecop Apurada</th>
            <th>(-) Fecop Frete com IE</th>
            <th>(-) GNRE Paga</th>
            <th>(+) GNRE Não Paga</th>
            <th>(-) Fecop ST</th>
            <th width="80px">(=) Valor DIEF</th>
            <th>(-) Fecop Pago - Posto Fiscal</th>
            <th width="80px">Fecop A Pagar</th>

        </tr>
    </thead>
    <tbody style="font-size:10px;">
        <tr>
            <th>Icms ST</th>
            <td>@ViewBag.DarSTCO</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotatlApuradoSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsFreteSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnrePagaSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnreNPagaSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsPagoSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalDiefSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.IcmsSTIE</td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.IcmsAPagarSTIE</th>
            <td></td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
        </tr>
        <tr>
            <th>Fecop ST</th>
            <td>@ViewBag.DarFecop</td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td></td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopCalculadaSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopFreteSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GNREPagaFecopSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GNREnPagaFecopSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopNfeSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopDiefSTIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.IcmsFecopSTIE</td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.TotalFinalFecopCalculadaSTIE</th>
        </tr>
        <tr>
            <th>Antecipação Parcial</th>
            <td>@ViewBag.DarAp</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotatlApuradoAPIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFreteAPIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnrePagaAPIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnreNPagaAPIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsPagoAPIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalDiefAPIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.IcmsAPIE</td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.IcmsAPagarAPIE</th>
            <th></th>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
        </tr>
        <tr>
            <th>Consumo</th>
            <td>@ViewBag.DarSTCO</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotatlApuradoCOIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFreteCOIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnrePagaCOIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnreNPagaCOIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsPagoCOIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalDiefCOIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.IcmsCOIE</td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.IcmsAPagarCOIE</th>
            <th></th>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
        </tr>
        <tr>
            <th>Consumo p/ Revenda</th>
            <td>@ViewBag.DarSTCO</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotatlApuradoCORIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFreteCORIE</td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsPagoCORIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalDiefCORIE</td>
            <td style="text-align:center"> ---- </td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.IcmsAPagarCORIE</th>
            <th></th>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
        </tr>
        <tr>
            <th>Imobilizado</th>
            <td>@ViewBag.DarIm</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotatlApuradoIMIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFreteIMIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnrePagaIMIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GnreNPagaIMIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsPagoIMIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalDiefIMIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.IcmsIMIE</td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.IcmsAPagarIMIE</th>
            <th></th>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
        </tr>
        <tr>
            <th>Icms AT</th>
            <td>@ViewBag.DarSTCO</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotatlApuradoATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsFreteATIE</td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalIcmsPagoATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalDiefATIE</td>
            <td style="text-align:center"> ---- </td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.IcmsAPagarATIE</th>
            <td></td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
        </tr>
        <tr>
            <th>Fecop AT</th>
            <td>@ViewBag.DarFecop</td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td style="text-align:center"> ---- </td>
            <td></td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopCalculadaATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopFreteATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GNREPagaFecopATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.GNREnPagaFecopATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopNfeATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalFecopDiefATIE</td>
            <td style="text-align:right; padding-right:1%;">@ViewBag.IcmsFecopATIE</td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.TotalFinalFecopCalculadaATIE</th>
        </tr>

    </tbody>
</table>
