<div style="width:100%; padding-top:0px; border:2px solid; page-break-before: always;">
    <table style="font-size:12px;" border="1">
        <thead style="font-size:14px;">
            <tr>
                <th style="text-align:center;" width="320px">Histórico</th>
                <th style="text-align:center" width="150px">Aliq. Inter. do Produto até 25%</th>
                <th style="text-align:center" width="180px">Aliq. Inter. do Produto superior 25%</th>
                <th style="text-align:center" width="120px">Receitas de Produtos ST</th>
                <th style="text-align:center" width="140px">Receitas de Produtos Isento</th>
                <th style="text-align:center" width="170px">Total (R$)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-size:11px;">Venda p/ Contribuintes (R$)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaContribuinteIncentivo</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.ContribuinteIncentivoAliM25</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaContribuinteNIncentivo</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.ContribuinteIsento</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.TotalVendaContibuinte</td>
            </tr>
            <tr>
                <td style="font-size:11px;">Percentual do Incentivo Fiscal (%)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.PercentualIcmsContrib %</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.PercentualIcmsAiqM25Contrib %</td>
                <td></td>
                <td style="text-align:right"></td>
                <td></td>
            </tr>
            <tr>
                <th style="font-size:11px;">Total (R$)</th>
                <th style="text-align:right; padding-right:1%;">@ViewBag.ValorVendaContribIncentivo</th>
                <td style="text-align:right; padding-right:1%;">@ViewBag.ValorVendaContribuinteAliM25</td>
                <td></td>
                <td style="text-align:right"></td>
                <td></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th style="text-align:right">&nbsp;</th>
                <td style="text-align:right">&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align:right"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:11px;">Venda p/ Não Contribuintes (R$)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaNContribIncentivo</td>
                <td></td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaNContribuinteNIncentivo</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.NaoContribuinteIsento</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.TotalGeralVendaNContibuinte</td>
            </tr>
            <tr>
                <td style="font-size:11px;">Venda p/ Não Contribuintes ST (R$)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaNContribuinteNIncentivo</td>
                <td></td>
                <td style="text-align:right; padding-right:1%;"></td>
                <td style="text-align:right; padding-right:1%;"></td>
                <td style="text-align:right"></td>
            </tr>
            <tr>
                <td style="font-size:11px;">Base de Cálculo (R$)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.TotalVendaNContribuinte</td>
                <td></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
            </tr>
            <tr>
                <td style="font-size:11px;">Percentual do Incentivo Fiscal (%)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.PercentualIcmsNContribuinte %</td>
                <td></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td></td>
            </tr>
            <tr>
                <th style="font-size:11px;">Total (R$)</th>
                <th style="text-align:right; padding-right:1%;">@ViewBag.ValorVendaNContribIncentivo</th>
                <td></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th style="text-align:right">&nbsp;</th>
                <td style="text-align:right">&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align:right"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th style="font-size:11px;">Total das Vendas (R$)</th>
                <th style="text-align:right; padding-right:1%;">@ViewBag.TotalGeralVendasIncentivo</th>
                <td></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th style="text-align:right">&nbsp;</th>
                <td style="text-align:right">&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align:right"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:11px;">Venda p/ Não Contribuintes Fora do Estado (R$)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaNForaEstadoContribuinteIncetivo</td>
                <td style="text-align:right; padding-right:1%;"></td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaNContribuinteNIncentivoForaDoEstado</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.NaoContribuinteForaDoEstadoIsento</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.TotalGeralVendaNContibuinteForaDoEstado</td>
            </tr>
            <tr>
                <td style="font-size:11px;">Venda p/ Não Contribuintes Fora do Estado ST (R$)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.VendaNContribuinteNIncentivoForaDoEstado</td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
            </tr>
            <tr>
                <td style="font-size:11px;">Base de Cálculo (R$)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.TotalVendaNContribuinteForaDoEstado</td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
            </tr>
            <tr>
                <td style="font-size:11px;">Percentual do Incentivo Fiscal (%)</td>
                <td style="text-align:right; padding-right:1%;">@ViewBag.PercentualIcmsNaoContribForaDoEstado %</td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td></td>
            </tr>
            <tr>
                <th style="font-size:11px;">Total (R$)</th>
                <th style="text-align:right; padding-right:1%;">@ViewBag.ValorVendaNContribForaDoEstado</th>
                <td></td>
                <td style="text-align:right"></td>
                <td style="text-align:right"></td>
                <td></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th style="text-align:right">&nbsp;</th>
                <td style="text-align:right">&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align:right"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th style="font-size:11px;">Total Geral do Icms</th>
                <th style="text-align:right; padding-right:1%;">@ViewBag.TotalGeralIcmsIncentivo</th>
                <td></td>
                <td></td>
                <td style="text-align:right"></td>
                <th style="text-align:right"></th>
            </tr>
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_GeneralSummaryTaxIncentiveProduct", new ViewDataDictionary(ViewData))