<div style="width: 100%; font-size:12px; page-break-before: always;">
    <table class="table" style="border: 2px solid;">
        <thead>
            <tr>
                <th></th>
                <th>Total da Base de Cálculo Incentivo</th>
                @if (ViewBag.Company.AnnexId == 1 && ViewBag.Company.ChapterId != 4)
                {
                    <th>Saldo Anexo CCCXVI</th>
                }
                <th>Total Icms Não Incentivado</th>
                <th>Total Icms Incentivado</th>
                <th>Total Fecop Não Incentivada</th>
                <th>Total Fecop Incentivada</th>
                <th style="text-align:center" width="120px">Total</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Company.AnnexId != 3 && ViewBag.Company.ChapterId != 4)
            {
                <tr>
                    <th>
                        Base de Cálculo Regime
                    </th>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.Base) </td>
                    @if (ViewBag.Company.AnnexId == 1)
                    {
                        <td style="text-align:center"> ---- </td>
                    }
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.Base) </td>
                </tr>
            }
            @if (ViewBag.Company.ChapterId == 4)
            {
                <tr>
                    <th>
                        Base de Cálculo Regime @ViewBag.PercentualCaputI %
                    </th>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputI) </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputI) </td>
                </tr>
                @if (ViewBag.PercentualCaputI != ViewBag.PercentualCaputII)
                {
                    <tr>
                        <th>
                            Base de Cálculo Regime @ViewBag.PercentualCaputII %
                        </th>
                        <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputII) </td>
                        <td style="text-align:center"> ---- </td>
                        <td style="text-align:center"> ---- </td>
                        <td style="text-align:center"> ---- </td>
                        <td style="text-align:center"> ---- </td>
                        <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputII) </td>
                    </tr>

                }
            }
            <tr>
                <th>
                    Imposto Normal
                </th>
                <td style="text-align:center"> ---- </td>
                @if (ViewBag.Company.AnnexId == 1 && ViewBag.Company.ChapterId != 4)
                {
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsAnexoCCCXVI)</td>
                }
                <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsNormal) </td>
                <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsIncentivo)</td>
                <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.FecopNormal) </td>
                <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.FecopIncentivo) </td>
                <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.ImpostoGeral)</th>
            </tr>
        </tbody>
    </table>
</div>

@if (ViewBag.Company.AnnexId == 3 && ViewBag.Company.ChapterId != 4)
{
    @await Html.PartialAsync("_IncentiveDrugsSectionII", new ViewDataDictionary(ViewData))

    <div style="width: 100%; font-size:12px; padding-top:10px;">
        @await Html.PartialAsync("_Medicament", new ViewDataDictionary(ViewData))
    </div>
}
else
{
    @if (ViewBag.Company.AnnexId == 1)
    {
        @await Html.PartialAsync("_AutoParts", new ViewDataDictionary(ViewData))
    }
    else if (ViewBag.Company.ChapterId == 4)
    {
        @await Html.PartialAsync("_MotorcycleAutoParts", new ViewDataDictionary(ViewData))
    }
    else
    {
        @await Html.PartialAsync("_Wholesaler", new ViewDataDictionary(ViewData))
    }

    @if (ViewBag.Type != "Nota")
    {
        @await Html.PartialAsync("_GeneralReportEntryIncentiveSurplus", new ViewDataDictionary(ViewData))
    }
}


<div style="width:100%;">
    <div class="col-lg-12 col-md-12 col-sm-12" style="border:2px solid; text-align:center;">
        <strong>RESUMO DA APURAÇÃO DO INCENTIVO</strong>
    </div>
    <table class="table" style="border: 2px solid;">
        <thead>
            <tr style="border: 2px solid;">
                <th width="500px"></th>
                <th style="text-align:center">Valor do Imposto</th>
                <th style="text-align:center">Código DAR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th style="text-align:center">ICMS Incentivo</th>
                <td style="text-align:right"> @string.Format("{0:N}", ViewBag.ImpostoIcms)</td>
                <td style="text-align:center">@ViewBag.DarIcms.Code</td>
            </tr>
            @if (ViewBag.Company.AnnexId != 3 && ViewBag.Type != "Nota")
            {
                <tr>
                    <th style="text-align:center">ICMS Excedente</th>
                    <td style="text-align:right">@string.Format("{0:N}", ViewBag.TotalIcmsExcedente)</td>
                    <td style="text-align:center">@ViewBag.DarIcms.Code</td>
                </tr>
            }

            @if (ViewBag.Company.AnnexId == 1 && ViewBag.Type == "Geral")
            {
                <tr>
                    <th style="text-align:center">ICMS ANEXO CCCXVI</th>
                    <td style="text-align:right">@string.Format("{0:N}", ViewBag.IcmsAnexo)</td>
                    <td style="text-align:center">@ViewBag.DarIcms.Code</td>
                </tr>
            }
            @if (ViewBag.Type != "Nota")
            {
                <tr>
                    <th style="text-align:center">Adicional Suspensão</th>
                    <td style="text-align:right">@string.Format("{0:N}", ViewBag.TotalSuspensao)</td>
                    <td style="text-align:center">@ViewBag.DarIcms.Code</td>
                </tr>
            }

            @if (ViewBag.Company.AnnexId != 1 && ViewBag.Company.ChapterId != 4)
            {
                <tr>
                    <th style="text-align:center">Fecop Incentivo</th>
                    <td style="text-align:right">@string.Format("{0:N}", ViewBag.ImpostoFecop)</td>
                    <td style="text-align:center">@ViewBag.DarFecop.Code</td>
                </tr>
            }


            @if (ViewBag.Company.AnnexId == 1 && ViewBag.Type == "Geral")
            {
                <tr>
                    <th style="text-align:center">Fecop ANEXO CCCXVI</th>
                    <td style="text-align:right">@string.Format("{0:N}", ViewBag.FecopAnexo)</td>
                    <td style="text-align:center">@ViewBag.DarFecop.Code</td>
                </tr>
            }

            <tr>
                <th style="text-align:center">Funef</th>
                <td style="text-align:right">@string.Format("{0:N}", ViewBag.TaxaFunef)</td>
                <td style="text-align:center">@ViewBag.DarFunef.Code</td>
            </tr>
        </tbody>
    </table>
</div>

