<div style="width: 100%; font-size:12px; page-break-before: always;">

    @if (ViewBag.Company.Incentive == true && (ViewBag.Company.Annex.Description.Equals("ANEXO CCCXXVI (Art. 791 - A)") ||
        ViewBag.Company.Annex.Description.Equals("ANEXO VII (Art. 59 Parte 1) - REGIMES ESPECIAIS DE TRIBUTAÇÃO")) && ViewBag.TypeTaxation == "ST")
    {
        <table class="table" style="font-size:8px; border:2px solid;">
            <thead style="font-size:12px;">
                <tr>
                    <th style="text-align:center;" colspan="6">
                        PRODUTOS DENTRO DO ESTADO   
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center;">Nota</th>
                    <th style="text-align:center;">Produto</th>
                    <th style="text-align:center;">NCM</th>
                    <th style="text-align:center;">CEST</th>
                    <th style="text-align:center;">Valor Produto</th>
                    <th style="text-align:center;">B. Cálculo</th>
                </tr>
            </thead>
            <tbody style="font-size:12px;">
                @foreach (var item in  ViewBag.ProdutosIntena)
                {
                    <tr>
                        <td>@item.Note.Nnf</td>
                        <td>@item.Xprod</td>
                        <td style="text-align:center;">@item.Ncm</td>
                        <td style="text-align:center;">@item.Cest</td>
                        <td style="text-align:right;">@string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) + Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc))</td>
                        <td style="text-align:right;">@string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) + Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc) + Convert.ToDecimal(item.Freterateado))</td>
                    </tr>
                }
                <tr>
                    <th style="text-align:center;" colspan="4">
                        TOTAL
                    </th>
                    <th style="text-align:right;">
                        @string.Format("{0:N}", ViewBag.TotalProdutoInterna)
                    </th>
                    <th style="text-align:right;">
                        @string.Format("{0:N}", ViewBag.BaseInterna)
                    </th>
                </tr>
            </tbody>

        </table>
  
    }

    <table class="table" style="border: 2px solid;">
        <thead>
            <tr>
                <th></th>
                <th>Total da Base de Cálculo Incentivo</th>
                @if (ViewBag.Company.Annex.Description.Equals("ANEXO II - AUTOPEÇAS") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-B"))
                {
                    <th>Saldo Anexo CCCXVI</th>
                }
                <th>Total Icms Não Incentivado</th>
                <th>Total Icms Incentivado</th>
                <th>Total Fecop Não Incentivada</th>
                <th>Total Fecop Incentivada</th>
                <th style="text-align:center" width="120px">Total</th>
            </tr>
        </thead>
        <tbody>
            @if (!ViewBag.Company.Annex.Description.Equals("ANEXO ÚNICO") && !ViewBag.Company.Annex.Description.Equals("ANEXO CCCXXVI (Art. 791 - A)") &&
                !ViewBag.Company.Annex.Description.Equals("ANEXO VII (Art. 59 Parte 1) - REGIMES ESPECIAIS DE TRIBUTAÇÃO") && !ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-C"))
            {
                <tr>
                    <th>
                        Base de Cálculo Regime
                    </th>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.Base) </td>
                    @if (ViewBag.Company.Annex.Description.Equals("ANEXO II/ANEXO V-A I - AUTOPEÇAS") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-B"))
                    {
                        <td style="text-align:center"> ---- </td>
                    }
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.Base) </th>
                </tr>
            }

            @if ((ViewBag.Company.Annex.Description.Equals("ANEXO CCCXXVI (Art. 791 - A)") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO II – A")) || 
                ViewBag.Company.Annex.Description.Equals("ANEXO VII (Art. 59 Parte 1) - REGIMES ESPECIAIS DE TRIBUTAÇÃO"))
            {
                <tr>
                    <th>
                        Base de Cálculo Regime Entrada Interna
                    </th>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseInterna) </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseInterna) </th>
                </tr>
                
                <tr>
                    <th>
                        Base de Cálculo Regime Entrada Interestadual
                    </th>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseInter) </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseInter) </th>
                </tr>

                <tr>
                    <th>
                        Base de Cálculo Regime Saida
                    </th>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseSaida) </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseSaida) </th>
                </tr>
            }

            @if (ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-C"))
            {
                <tr>
                    <th>
                        Base de Cálculo Regime @ViewBag.PercentualCaputI %
                    </th>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputI) </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputI) </th>
                </tr>
                @if (ViewBag.PercentualCaputI != ViewBag.PercentualCaputII)
                {
                    <tr>
                        <th>
                            Base de Cálculo Regime @ViewBag.PercentualCaputII %
                        </th>
                        <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputII) </td>
                        <td style="text-align:center"> ---- </td>
                        <td style="text-align:center"> ---- </td>
                        <td style="text-align:center"> ---- </td>
                        <td style="text-align:center"> ---- </td>
                        <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.BaseCaputII) </th>
                    </tr>

                }
            }

            @if ((ViewBag.Company.Annex.Description.Equals("ANEXO CCCXXVI (Art. 791 - A)") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO II – A")) || 
                ViewBag.Company.Annex.Description.Equals("ANEXO VII (Art. 59 Parte 1) - REGIMES ESPECIAIS DE TRIBUTAÇÃO"))
            {
                <tr>
                    <th>
                        Imposto Normal Entrada
                    </th>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsNormal) </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsIncentivo)</td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.FecopNormal) </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.FecopIncentivo) </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.ImpostoEntradaGeral)</th>
                </tr>
                <tr>
                    <th>
                        Imposto Normal Saida
                    </th>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.ImpostoSaidaGeral) </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <td style="text-align:center"> ---- </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.ImpostoSaidaGeral)</th>
                </tr>
            }
            else
            {
                <tr>
                    <th>
                        Imposto Normal
                    </th>
                    <td style="text-align:center"> ---- </td>
                    @if (ViewBag.Company.Annex.Description.Equals("ANEXO II - AUTOPEÇAS") && !ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-C"))
                    {
                        <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsAnexoCCCXVI)</td>
                    }
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsNormal) </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.IcmsIncentivo)</td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.FecopNormal) </td>
                    <td style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.FecopIncentivo) </td>
                    <th style="text-align:right;padding-right:1%">@string.Format("{0:N}", ViewBag.ImpostoGeral)</th>
                </tr>
            }

        </tbody>
    </table>
</div>

@if (ViewBag.Company.Annex.Description.Equals("ANEXO ÚNICO") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO II"))
{
    @if (ViewBag.Company.Section.Name.Equals("Seção II")){
        @await Html.PartialAsync("_IncentiveDrugsSectionII", new ViewDataDictionary(ViewData))

        <div style="width: 100%; font-size:12px; padding-top:10px;">
            @await Html.PartialAsync("_Medicament", new ViewDataDictionary(ViewData))
        </div>
    }
}
else if ((ViewBag.Company.Annex.Description.Equals("ANEXO CCCXXVI (Art. 791 - A)") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO II – A")) ||
        ViewBag.Company.Annex.Description.Equals("ANEXO VII (Art. 59 Parte 1) - REGIMES ESPECIAIS DE TRIBUTAÇÃO"))
{
    @await Html.PartialAsync("_PharmaceuticalProduct", new ViewDataDictionary(ViewData))
}
else
{
    @if (ViewBag.Company.Annex.Description.Equals("ANEXO II - AUTOPEÇAS"))
    {
        @await Html.PartialAsync("_AutoParts", new ViewDataDictionary(ViewData))
    }
    else if (ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-C"))
    {
        @await Html.PartialAsync("_MotorcycleAutoParts", new ViewDataDictionary(ViewData))
    }
    else
    {
        @await Html.PartialAsync("_Wholesaler", new ViewDataDictionary(ViewData))
    }

    @if (ViewBag.Type != "Nota")
    {
        @await Html.PartialAsync("_GeneralReportEntryIncentiveSurplus", new ViewDataDictionary(ViewData))
    }
}

@if (ViewBag.Type != "RegimeBA")
{
    <div style="width:100%;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="border:2px solid; text-align:center;">
            <strong>RESUMO DA APURAÇÃO DO INCENTIVO</strong>
        </div>
        <table class="table" style="border: 2px solid;">
            <thead>
                <tr style="border: 2px solid;">
                    <th style="text-align:center" width="500px">Imposto</th>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Código DAR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="text-align:center">ICMS Incentivo</th>
                    <td style="text-align:right"> @string.Format("{0:N}", ViewBag.ImpostoIcms)</td>
                    <td style="text-align:center">@ViewBag.DarIcms.Code</td>
                </tr>

                @if (ViewBag.Company.Annex.Description.Equals("ANEXO II - AUTOPEÇAS") || ViewBag.Company.Annex.Description.Equals("ANEXO III - BEBIDAS ALCOÓLICAS, EXCETO CERVEJA E CHOPE") && ViewBag.Type != "Nota")
                {
                    <tr>
                        <th style="text-align:center">ICMS Excedente</th>
                        <td style="text-align:right">@string.Format("{0:N}", ViewBag.TotalIcmsExcedente)</td>
                        <td style="text-align:center">@ViewBag.DarIcms.Code</td>
                    </tr>
                }

                @if (ViewBag.Company.Annex.Description.Equals("ANEXO II - AUTOPEÇAS") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-B") && ViewBag.Type == "Geral")
                {
                    <tr>
                        <th style="text-align:center">ICMS ANEXO CCCXVI</th>
                        <td style="text-align:right">@string.Format("{0:N}", ViewBag.IcmsAnexo)</td>
                        <td style="text-align:center">@ViewBag.DarIcms.Code</td>
                    </tr>
                }

                @if (!ViewBag.Company.Annex.Description.Equals("ANEXO CCCXXVI (Art. 791 - A)") && !ViewBag.Company.Annex.Description.Equals("ANEXO VII (Art. 59 Parte 1) - REGIMES ESPECIAIS DE TRIBUTAÇÃO") &&
                    ViewBag.Type != "Nota")
                {
                    <tr>
                        <th style="text-align:center">Adicional Suspensão</th>
                        <td style="text-align:right">@string.Format("{0:N}", ViewBag.TotalSuspensao)</td>
                        <td style="text-align:center">@ViewBag.DarIcms.Code</td>
                    </tr>
                }

                @if (ViewBag.Company.Annex.Description.Equals("ANEXO III - BEBIDAS ALCOÓLICAS, EXCETO CERVEJA E CHOPE") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV"))
                {
                    <tr>
                        <th style="text-align:center">Fecop Incentivo</th>
                        <td style="text-align:right">@string.Format("{0:N}", ViewBag.ImpostoFecop)</td>
                        <td style="text-align:center">@ViewBag.DarFecop.Code</td>
                    </tr>
                }

                @if (ViewBag.Company.Annex.Description.Equals("ANEXO II - AUTOPEÇAS") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-B") && ViewBag.Type == "Geral")
                {
                    <tr>
                        <th style="text-align:center">Fecop ANEXO CCCXVI</th>
                        <td style="text-align:right">@string.Format("{0:N}", ViewBag.FecopAnexo)</td>
                        <td style="text-align:center">@ViewBag.DarFecop.Code</td>
                    </tr>
                }

                <tr>
                    <th style="text-align:center">Funef</th>
                    <td style="text-align:right">@string.Format("{0:N}", ViewBag.TaxaFunef)</td>
                    <td style="text-align:center">@ViewBag.DarFunef.Code</td>
                </tr>
            </tbody>
        </table>
    </div>

}

