<table class="table" style="font-size:12px; border:2px solid;">
    <thead>
        <tr>
            <th style="border:1px solid;">

            </th>
            <th style="text-align:center; border:1px solid;">
                Total
            </th>
            <th style="text-align:center; border:1px solid;">
                Devolução
            </th>
            <th style="text-align:center; border:1px solid;">
                Base de Cálculo
            </th>
            <th style="text-align:center; border:1px solid;">
                Percentual (%)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Venda
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalVenda
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevo
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalc
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;"></th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ Contribuintes
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.Contribuinte
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevoContrib
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalcContrib
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.PercentualVendaContribuinte %
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ Não Contribuintes
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.NContribuinte
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevoNContrib
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalcNContrib
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.PercentualVendaNContribuinte %
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas do Anexo II
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.VendaAnexo
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevoAnexo
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalcAnexo
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.PercentualVendaAnexo %
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ mesmo grupo maior que @ViewBag.PercentualCNPJ %
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalVendaGrupo
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevoGrupo
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalExecedente
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.PercentualVendaGrupo %
            </th>
        </tr>
    </tbody>
</table>

@if (ViewBag.Grupo.Count == 0)
{
    <h6 style="padding-left:20px;"><strong>Não houve vendas para o mesmo grupo maior que @ViewBag.PercentualCNPJ %</strong></h6>
}
else
{
    
    <table class="table" style="font-size: 12px; border:2px solid;">
        <thead>
            <tr style="border: 1px solid;">
                <th style="border: 1px solid; text-align:center;">CNPJ</th>
                <th style="border: 1px solid; text-align:center;">Cliente</th>
                <th style="border: 1px solid;">Base de Cálculo</th>
                <th style="border: 1px solid;">Percentual (%)</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Grupo)
            {
                <tr>
                    <td>@item[0]</td>
                    <td>@item[1]</td>
                    <td>@item[3]</td>
                    <td>@item[2] %</td>

                </tr>
            }

        </tbody>
    </table>
}

<div style="border:2px solid; text-align:center; page-break-before: always;">
    <strong>ICMS Excedente</strong>
</div>
<table class="table" style="font-size: 12px; border:2px solid;">
    <thead>
        <tr>
            <th style="width:200px;"></th>
            <th style="width:120px;">Vendas</th>
            <th></th>
            <th style="width:120px;">Limite (MÁXIMO)</th>
            <th></th>
            <th style="width:100px;">Excedente</th>
            <th></th>
            <th style="width:100px;">Adicional</th>
            <th></th>
            <th style="width:100px;">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Grupo)
        {
            <tr>
                <th>ICMS Excedente Grupo</th>
                <td>@item[3]</td>
                <th style="font-size:17px; text-align:center">-</th>
                <td>@item[4]</td>
                <th style="font-size:17px; text-align:center">=</th>
                <td>@item[5]</td>
                <th style="text-align:center">x</th>
                <td>@item[6]</td>
                <th style="font-size:17px; text-align:center;">=</th>
                <td style="text-align:right; padding-right:1%;">@item[7]</td>
            </tr>
        }
        <tr>
            <th>Transferência Interestadual</th>
            <td>@ViewBag.TotalTransferencia</td>
            <th style="font-size:17px; text-align:center">-</th>
            <td>@ViewBag.LimiteTransferencia</td>
            <th style="font-size:17px; text-align:center">=</th>
            <td>@ViewBag.ExcedenteTransferencia</td>
            <th style="text-align:center">x</th>
            <td>@ViewBag.PercentaulTransferencia</td>
            <th style="font-size:17px; text-align:center">=</th>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalExcedenteTransferencia</td>
        </tr>
        <tr>
            <th>ICMS Excedente P/ Não Contribuinte</th>
            <td>@ViewBag.BaseCalcNContrib</td>
            <th style="font-size:17px; text-align:center">-</th>
            <td>@ViewBag.LimiteNContribuinte</td>
            <th style="font-size:17px; text-align:center">=</th>
            <td>@ViewBag.ExcedenteNContribuinte</td>
            <th style="text-align: center">x</th>
            <td>@ViewBag.PercentualExcedenteNContribuinte</td>
            <th style="font-size:17px; text-align:center">=</th>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalExcedenteNContribuinte</td>
        </tr>
        <tr>
            <th style="width:200px;">&nbsp;</th>
            <th style="width:120px;">&nbsp;</th>
            <th>&nbsp;</th>
            <th style="width:120px;">&nbsp;</th>
            <th></th>
            <th style="width:100px;">&nbsp;</th>
            <th>&nbsp;</th>
            <th style="width:100px;">&nbsp;</th>
            <th></th>
            <th style="width:100px;">&nbsp;</th>
        </tr>
        <tr>
            <th style="width:200px;"></th>
            <th style="width:120px;">Limite (MÍNIMO)</th>
            <th></th>
            <th style="width:120px;">Vendas</th>
            <th></th>
            <th style="width:100px;">Excedente</th>
            <th></th>
            <th style="width:100px;">Adicional</th>
            <th></th>
            <th style="width:100px;">Total</th>
        </tr>
        <tr>
            <th>Venda Conforme Anexo</th>
            <td>@ViewBag.LimiteAnexo</td>
            <th style="font-size:17px; text-align:center">-</th>
            <td>@ViewBag.BaseCalcAnexo</td>
            <th style="font-size:17px; text-align:center">=</th>
            <td>@ViewBag.ExcedenteAnexo</td>
            <th style="text-align:center">x</th>
            <td>@ViewBag.PercentualExcedenteAnexo</td>
            <th style="font-size:17px; text-align:center">=</th>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalExcedenteAnexo</td>
        </tr>
        <tr>
            <th style="width:200px;">&nbsp;</th>
            <th style="width:120px;">&nbsp;</th>
            <th>&nbsp;</th>
            <th style="width:120px;">&nbsp;</th>
            <th></th>
            <th style="width:100px;">&nbsp;</th>
            <th>&nbsp;</th>
            <th style="width:100px;">&nbsp;</th>
            <th></th>
            <th style="width:100px;">&nbsp;</th>
        </tr>
        <tr>
            <th style="width:200px;"></th>
            <th style="width:120px;">Base de Cálculo</th>
            <th></th>
            <th style="width:120px;"></th>
            <th></th>
            <th style="width:100px;"></th>
            <th></th>
            <th style="width:100px;">Adicional</th>
            <th></th>
            <th style="width:100px;">Total</th>
        </tr>
        <tr>
            <th>Suspensão</th>
            <td>@ViewBag.BaseCalcSuspensao</td>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <th style="text-align:center">x</th>
            <td>@ViewBag.PercentaulSuspensao</td>
            <th style="font-size:17px; text-align:center">=</th>
            <td style="text-align:right; padding-right:1%;">@ViewBag.TotalSuspensao</td>
        </tr>
        <tr>
            <th>Total Icms Excedente</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th></th>
            <td></td>
            <th style="text-align:right; padding-right:1%;">@ViewBag.TotalIcms</th>
        </tr>
    </tbody>
</table>
