
<div style="border:2px solid; text-align:center; page-break-before: always; padding-top:20px;">
    <strong>RESUMO DOS IMPOSTOS</strong>
</div>

<table class="table" style="font-size: 12px; border:2px solid;">
    <thead>
        <tr>
            <th style="width:120px; text-align:center">CÓDIGO DAR</th>
            <th style="width:100px; text-align:center">ICMS APURADO</th>
            <th style="width:100px; text-align:center">ICMS RECOLHIDO</th>
            <th style="width:100px; text-align:center">ICMS A RECOLHER</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Incetive == true)
        {
            <tr>
                <td style="text-align:left">
                    @ViewBag.DarIcms (Icms - Apuração Normal)
                    <input type="hidden" id="DarIcms" data-code="@ViewBag.DarIcms" value="@ViewBag.TotalDarIcms" data-substituicao="0" />
                </td>

                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarIcms)</td>
                <td style="text-align:right; padding-right:1%;">0,00 </td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarIcms)</td>
            </tr>
        }
        else
        {
            <input type="hidden" id="DarIcms" data-code="@ViewBag.DarIcms" value="0" data-substituicao="0" />
        }

        <tr>
            <td style="text-align:left">
                @ViewBag.DarSTCO (Icms - Imposto,Juros e Multas (Substituição))
                <input type="hidden" id="DarST" data-code="@ViewBag.DarSTCO" value="@ViewBag.TotalDarST" data-substituicao="1" />
            </td>

            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoST)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoST)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarST) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarSTCO (Icms - Imposto,Juros e Multas (Consumo))
                <input type="hidden" id="DarCO" data-code="@ViewBag.DarSTCO" value="@ViewBag.TotalDarCO" data-substituicao="0" />
            </td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoCO)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoCO)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarCO) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarAp (Icms - Antecipação Parcial)
                <input type="hidden" id="DarAp" data-code="@ViewBag.DarAp" value="@ViewBag.TotalDarAp" data-substituicao="0" />
            </td>

            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoAP)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoAP)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarAp) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarIm (Icms - Diferencial de Alíquota - Ativo Imobilizado)
                <input type="hidden" id="DarIm" data-code="@ViewBag.DarIm" value="@ViewBag.TotalDarIm" data-substituicao="0" />
            </td>

            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoIM)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoIM)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarIm) </td>
        </tr>
        <tr>
            <td style="text-align:left">
                @ViewBag.DarFecop (Icms  - Adicional Fecop)
                <input type="hidden" id="DarFecop" data-code="@ViewBag.DarFecop" value="@ViewBag.TotalDarFecop" data-substituicao="0" />
            </td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalAPuradoFecop)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalRecolhidoFecop)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFecop) </td>
        </tr>
        @if (ViewBag.Incetive == true && ViewBag.TypeIncetive == false && ViewBag.Comp.AnnexId != 3)
        {
            <tr>
                <td style="text-align:left">
                    @ViewBag.DarCotac (Taxa - Administração Cotac)
                    <input type="hidden" id="DarCotac" data-code="@ViewBag.DarCotac" value="@ViewBag.TotalDarCotac" data-substituicao="0" />
                </td>

                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarCotac) </td>
                <td style="text-align:right; padding-right:1%;">0,00</td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarCotac) </td>
            </tr>
        }
        else
        {
            <input type="hidden" id="DarCotac" data-code="@ViewBag.DarCotac" value="0" data-substituicao="0" />
        }

        @if (ViewBag.Incetive == true)
        {
            <tr>
                <td style="text-align:left">
                    @ViewBag.DarFunef (Taxa Funef)
                    <input type="hidden" id="DarFunef" data-code="@ViewBag.DarFunef" value="@ViewBag.TotalDarFunef" data-substituicao="0" />
                </td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFunef)</td>
                <td style="text-align:right; padding-right:1%;">0,00</td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFunef)</td>
            </tr>
        }
        else
        {
            <input type="hidden" id="DarFunef" data-code="@ViewBag.DarFunef" value="0" data-substituicao="0" />
        }
    </tbody>
</table>

