
<div style="border:2px solid; text-align:center; page-break-before: always;">
    <strong>RESUMO DOS IMPOSTOS</strong>
</div>

<table class="table" style="font-size: 12px; border:2px solid;">
    <thead>
        <tr>
            <th style="width:120px; text-align:center">Código DAR</th>
            <th style="width:100px; text-align:center">Total do Imposto</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Company.Incentive == true)
        {
            <tr>
                <td>@ViewBag.DarIcms.Code (@ViewBag.DarIcms.Description)</td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarIcms)</td>
            </tr>
        }
        <tr>
            <td>@ViewBag.DarSTCO.Code (@ViewBag.DarSTCO.Description (Substituição))</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarSTCO)</td>
        </tr>
        <tr>
            <td>@ViewBag.DarFecop.Code @ViewBag.DarFecop.Description)</td>
            <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFecop)</td>
        </tr>
        @if (ViewBag.Company.Incentive == true && ViewBag.Company.AnnexId == null)
        {
            <tr>
                <td>@ViewBag.DarCotac.Code (@ViewBag.DarCotac.Description)</td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarCotac)</td>
            </tr>
        }
        @if (ViewBag.Company.Incentive == true)
        {
            <tr>
                <td>@ViewBag.DarFunef.Code (@ViewBag.DarFunef.Description)</td>
                <td style="text-align:right; padding-right:1%;">@string.Format("{0:N}", ViewBag.TotalDarFunef)</td>
            </tr>
        }
    </tbody>
</table>

