<thead style="font-size:13px;">
    <tr>
        <th style="text-align:center">Nº NFe</th>
        <th style="text-align:center">Data</th>
        <th style="text-align:center">CNPJ</th>
        <th style="text-align:center">Fornecedor</th>
        <th style="text-align:center">Valor NFe</th>
        <th style="text-align:center" width="30px">Base de Cálulo</th>
        <th style="text-align:center">Icms (%)</th>
        <th style="text-align:center">Valor Icms</th>
    </tr>
</thead>
<tbody style="font-size:13px;">
    @foreach (var item in ViewBag.Notas)
    {
        <tr>
            <td>@item.Nnf</td>
            <td>@item.Dhemi.ToString("dd/MM/yyyy")</td>
            <td>@item.Cnpj</td>
            <td>@item.Xnome</td>
            <td style="text-align:right; padding-right:1%">@string.Format("{0:N}", Convert.ToDecimal(item.Vnf))</td>
            <td style="text-align:right; padding-right:1%">@string.Format("{0:N}", Convert.ToDecimal(item.Vbasecalc))</td>
            <td style="text-align:right; padding-right:1%">@string.Format("{0:N}", Convert.ToDecimal(item.Percentual))</td>
            <td style="text-align:right; padding-right:1%">@string.Format("{0:N}", Convert.ToDecimal(item.Icms))</td>
        </tr>
    }
    <tr>
        <th style="text-align:center" colspan="4">TOTAL</th>
        <th style="text-align:right; padding-right:1%">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Vnf))</th>
        <th style="text-align:right; padding-right:1%">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.BaseCalc))</th>
        <th style="text-align:center; padding-right:1%">----</th>
        <th style="text-align:right; padding-right:1%">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Icms))</th>
    </tr>
</tbody>
