<div style="border:2px solid; text-align:center;">
    <strong>APURAÇÂO INCENTIVADA</strong>
</div>
<table class="table" style="border: 2px solid;">
    <thead>
        <tr style="border:1px solid;">
            <th>
                Imposto Normal
            </th>
            <th>

            </th>
            <th>
                Imposto Incetivado
            </th>
            <th>

            </th>
            <th>
                Base de Cálculo Funef
            </th>
            <th>

            </th>
            <th>
                Funef %
            </th>
            <th></th>
            <th>
                Taxa Funef
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @string.Format("{0:N}", ViewBag.ImpostoGeral)
            </th>
            <th style="font-size:15px;">
                -
            </th>
            <th>
                @string.Format("{0:N}", ViewBag.ImpostoIcms)
            </th>
            <th>
                =
            </th>
            <th>
                @string.Format("{0:N}", ViewBag.BaseFunef)
            </th>
            <th>
                x
            </th>
            <th style="text-align:center">
                @string.Format("{0:N}", ViewBag.Funef) 
            </th>
            <th>
                =
            </th>
            <th style="text-align:center">
                @string.Format("{0:N}", ViewBag.TaxaFunef)
            </th>
        </tr>
    </tbody>
</table>