@model IEnumerable<Escon.SisctNET.Model.ProductNote>

<thead>
    <tr>
        <th>Cod Produto</th>
        <th>Produto</th>
        <th>Ncm</th>
        <th>Fornecedor</th>
        <th>Nota</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in ViewBag.product)
    {
        <tr>
            <td>@item.Cprod</td>
            <td>@item.Xprod</td>
            <td>@item.Ncm</td>
            <td>@item.Note.Xnome</td>
            <td>@item.Nnf</td>
        </tr>
    }
</tbody>