@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@if (ViewBag.TypeTaxation == "AP" || ViewBag.TypeTaxation == "CO" ||
    ViewBag.TypeTaxation == "COR" || ViewBag.TypeTaxation == "IM")
{

    @foreach (var note in ViewBag.NotasTaxation)
    {
        <thead>
            <tr>
                <th>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Número da Nota</th>
                                <th>Fornecedor</th>
                                <th>Valor da Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-weight:normal;">
                                <td>@note.Nnf</td>
                                <td>@note.Xnome</td>
                                <td>@note.Vnf</td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>UF</th>
                                <th>Dia/Mês</th>
                                <th>V. Nota</th>
                                <th>V. Produtos</th>
                                <th>Frete Nº</th>
                                <th>V. Frete</th>
                                <th>IPI</th>
                                <th>BC ICMS</th>
                                <th>Aliq Intra(%)</th>
                                <th>Aliq Inter(%)</th>
                                <th>Dif</th>
                                <th>ICMS Apurado</th>
                                <th>ICMS ST NFe</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Products)
                            {
                                @if (note.Id.Equals(item.NoteId))
                                {
                                    <tr>
                                        <td>@item.Xprod</td>
                                        <td>@item.Note.Uf</td>
                                        <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                        <td>@Convert.ToDecimal(item.Note.Vnf)</td>
                                        <td>@Convert.ToDecimal(item.Vprod + item.Vseg + item.Voutro + item.Vfrete - item.Vdesc)</td>
                                        <td>@item.Note.Nct</td>
                                        <td>@item.Freterateado</td>
                                        <td>@item.Vipi</td>
                                        <td>@item.Vbasecalc</td>
                                        <td>@item.Aliqinterna</td>
                                        <td>@item.Picms</td>
                                        <td>@item.Diferencial</td>
                                        <td>@item.IcmsApurado</td>
                                        <td>@item.IcmsST</td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
        </tbody>

    }

}
else if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "AT")
{
    @foreach (var note in ViewBag.NotasTaxation)
    {
        <thead>
            <tr>
                <th>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Número da Nota</th>
                                <th>Fornecedor</th>
                                <th>Valor da Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-weight:normal;">
                                <td>@note.Nnf</td>
                                <td>@note.Xnome</td>
                                <td>@note.Vnf</td>
                            </tr>
                        </tbody>
                    </table>
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nota</th>
                                <th>Produto</th>
                                <th>Dia/Mês</th>
                                <th>V. Nota</th>
                                <th>V. Produtos</th>
                                <th>IPI</th>
                                <th>Frete Nº</th>
                                <th>V> Frete</th>
                                <th>BC</th>
                                <th>MVA(%)</th>
                                <th>BC ICMS</th>
                                @if (ViewBag.TypeTaxation == "ST")
                                {
                                    <th>BCR(%)</th>
                                    <th>BCR</th>
                                }
                                <th>Aliq Int(%)</th>
                                <th>V. imp. AC</th>
                                <th>Nfe</th>
                                <th>CTe</th>
                                <th>ICMS ST NFe</th>
                                <th>Total ICMS</th>
                                <th>Total Fecop</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Products)
                            {
                                @if (note.Id.Equals(item.NoteId))
                                {
                                    <tr>
                                        <td>@item.Nnf</td>
                                        <td>@item.Xprod</td>
                                        <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                        <td>@Convert.ToDecimal(item.Note.Vnf)</td>
                                        <td>@Convert.ToDecimal(item.Vprod + item.Vseg + item.Voutro + item.Vfrete - item.Vdesc)</td>
                                        <td>@item.Vipi</td>
                                        <td>@item.Note.Nct</td>
                                        <td>@item.Freterateado</td>
                                        <td>@item.Vbasecalc</td>
                                        <td>@item.Mva</td>
                                        <td>@item.Valoragregado</td>
                                        @if (ViewBag.TypeTaxation == "ST")
                                        {
                                            <td>@item.BCR</td>
                                            <td>@item.ValorBCR</td>
                                        }
                                        <td>@item.Aliqinterna</td>
                                        <td>@item.ValorAC</td>
                                        <td>@item.Vicms</td>
                                        <td>@item.IcmsCTe</td>
                                        <td>@item.IcmsST</td>
                                        <td>@item.TotalICMS</td>
                                        <td>@item.TotalFecop</td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
        </tbody>
    }
}