@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "AT")
{
    <thead>
        <tr style="border:1px solid;">
            <th>Nota</th>
            <th>Fornecedor</th>
            <th>Dia/Mês</th>
            <th>V. Nota</th>
            <th>V. Produtos</th>
            <th>IPI</th>
            <th>Frete Nº</th>
            <th>V. Frete</th>
            <th>Total BC</th>
            <th>BC ICMS</th>
            @if (ViewBag.TypeTaxation == "ST")
            {
                <th>BCR</th>
            }
            <th>V. Imp. AC</th>
            <th>Nfe</th>
            <th>CTe</th>
            <th>ICMS ST NFe</th>
            <th>Total ICMS</th>
            <th>Total Fecop</th>
        </tr>
    </thead>
    @for (int i = 0; i < ViewBag.NotasTaxation.Count; i++)
    {
        <tbody style="border:1px solid;">
            <tr>
                <td>@ViewBag.NotasTaxation[i][0]</td>
                <td>@ViewBag.NotasTaxation[i][1]</td>
                <td>@ViewBag.NotasTaxation[i][2]</td>
                <td>@ViewBag.NotasTaxation[i][3]</td>
                <td>@ViewBag.NotasTaxation[i][4]</td>
                <td>@ViewBag.NotasTaxation[i][5]</td>
                <td>@ViewBag.NotasTaxation[i][6]</td>
                <td>@ViewBag.NotasTaxation[i][7]</td>
                <td>@ViewBag.NotasTaxation[i][8]</td>
                <td>@ViewBag.NotasTaxation[i][9]</td>
                @if (ViewBag.TypeTaxation == "ST")
                {
                    <td>@ViewBag.NotasTaxation[i][10]</td>
                }
                <td>@ViewBag.NotasTaxation[i][11]</td>
                <td>@ViewBag.NotasTaxation[i][12]</td>
                <td>@ViewBag.NotasTaxation[i][13]</td>
                <td>@ViewBag.NotasTaxation[i][14]</td>
                <td>@ViewBag.NotasTaxation[i][15]</td>
                <td>@ViewBag.NotasTaxation[i][16]</td>
            </tr>
        </tbody>
    }
}
else if (ViewBag.TypeTaxation == "AP" || ViewBag.TypeTaxation == "CO" ||
    ViewBag.TypeTaxation == "COR" || ViewBag.TypeTaxation == "IM")
{
    <thead>
        <tr>
            <th>Nota</th>
            <th>Fornecedor</th>
            <th>Dia/Mês</th>
            <th>V. Nota</th>
            <th>V. Produtos</th>
            <th>Frete Nº</th>
            <th>V. Frete</th>
            <th>IPI</th>
            <th>BC ICMS</th>
            <th>ICMS ST NFe</th>
            <th>ICMS Apurado</th>

        </tr>
    </thead>

    @for (int i = 0; i < ViewBag.NotasTaxation.Count; i++)
    {
        <tbody>
            <tr style="font-size:11px;">
                <td>@ViewBag.NotasTaxation[i][0]</td>
                <td>@ViewBag.NotasTaxation[i][1]</td>
                <td>@ViewBag.NotasTaxation[i][2]</td>
                <td>@ViewBag.NotasTaxation[i][3]</td>
                <td>@ViewBag.NotasTaxation[i][4]</td>
                <td>@ViewBag.NotasTaxation[i][6]</td>
                <td>@ViewBag.NotasTaxation[i][7]</td>
                <td>@ViewBag.NotasTaxation[i][5]</td>
                <td>@ViewBag.NotasTaxation[i][8]</td>
                <td>@ViewBag.NotasTaxation[i][14]</td>
                <td>@ViewBag.NotasTaxation[i][18]</td>

            </tr>
        </tbody>
    }

}
