@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "AT")
{
    <thead>
        <tr style="border:1px solid;">
            <th></th>
            <th>Nota</th>
            <th>Fornecedor</th>
            <th>UF</th>
            <th>Dia/Mês</th>
            <th>V. Nota</th>
            <th>V. Produtos</th>
            <th>Frete Nº</th>
            <th>V. Frete</th>
            <th>Total BC</th>
            <th>BC ICMS</th>
            <th>BCR</th>
            <th>V. Imp. AC</th>
            <th>ICMS</th>
            <th>ICMS ST NFe</th>
            <th>Fecop ST NFe</th>
            <th>Total ICMS</th>
            <th>Total Fecop</th>
        </tr>
    </thead>

    <tbody style="border:1px solid;">
        @foreach (var item in ViewBag.NotasTaxation)
        {
            <tr style="font-size:11px; border:1px solid;">
                @if (item[19] == "")
                {
                    <td><strong>S</strong></td>
                }
                else
                {
                    <td><strong>I</strong></td>
                }
                <td>@item[0]</td>
                <td>@item[1]</td>
                <td>@item[17]</td>
                <td>@item[2]</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[3].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[4].Replace(".", ",")))</td>
                <td>@item[5]</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[6].Replace(".", ",")))</td>
                <td>
                    @string.Format("{0:N}", Convert.ToDecimal(item[4].Replace(".", ",")) + Convert.ToDecimal(item[6].Replace(".", ",")) +
                                        Convert.ToDecimal(item[7].Replace(".", ",")))
                </td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[8].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[9].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[10].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[11].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[13].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[18].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[14].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[15].Replace(".", ",")))</td>
            </tr>
        }
    </tbody>

}
else if (ViewBag.TypeTaxation == "AP" || ViewBag.TypeTaxation == "CO" ||
    ViewBag.TypeTaxation == "COR" || ViewBag.TypeTaxation == "IM")
{
    <thead>
        <tr style="border:1px solid;">
            <th></th>
            <th>Nota</th>
            <th>Fornecedor</th>
            <th>UF</th>
            <th>Dia/Mês</th>
            <th>V. Nota</th>
            <th>V. Produtos</th>
            <th>Frete Nº</th>
            <th>V. Frete</th>
            <th>BC ICMS</th>
            <th>ICMS ST NFe</th>
            <th>ICMS Apurado</th>

        </tr>
    </thead>

    <tbody style="border:1px solid;">
        @foreach (var item in ViewBag.NotasTaxation)
        {
            <tr style="font-size:11px; border:1px solid;">
                @if (item[19] == "")
                {
                    <td><strong>S</strong></td>
                }
                else
                {
                    <td><strong>I</strong></td>
                }
                <td>@item[0]</td>
                <td>@item[1]</td>
                <td>@item[17]</td>
                <td>@item[2]</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[3].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[4].Replace(".", ",")))</td>
                <td>@item[5]</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[6].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[4].Replace(".", ",")) + Convert.ToDecimal(item[6].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[13].Replace(".", ",")) + Convert.ToDecimal(item[18].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[16].Replace(".", ",")))</td>
            </tr>
        }
    </tbody>

}
else if (ViewBag.TypeTaxation == "Isento" || ViewBag.TypeTaxation == "NT")
{
    <thead>
        <tr style="border:1px solid;">
            <th></th>
            <th>Nota</th>
            <th>Fornecedor</th>
            <th>UF</th>
            <th>Dia/Mês</th>
            <th>V. Nota</th>
            <th>V. Produtos</th>


        </tr>
    </thead>
    <tbody style="border:1px solid;">
        @foreach (var item in ViewBag.NotasTaxation)
        {
            <tr style="font-size:11px; border:1px solid;">
                @if (item[19] == "")
                {
                    <td><strong>S</strong></td>
                }
                else
                {
                    <td><strong>I</strong></td>
                }
                <td>@item[0]</td>
                <td>@item[1]</td>
                <td>@item[17]</td>
                <td>@item[2]</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[3].Replace(".", ",")))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item[4].Replace(".", ",")))</td>
            </tr>
        }
    </tbody>
}
