@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "AT")
{
    <thead>
        <tr>
            <th></th>
            <th>Nota</th>
            <th>Produto</th>
            <th>Dia/Mês</th>
            <th>V. Nota</th>
            <th>V. Produto</th>
            <th>IPI</th>
            <th>Frete Nº</th>
            <th>V. Frete</th>
            <th>B. Cálculo</th>
            <th>MVA(%)</th>
            <th>BC. ICMS</th>
            @if (ViewBag.TypeTaxation == "ST")
            {
                <th>BCR(%)</th>
                <th>BCR</th>
            }
            <th>Aliq Int(%)</th>
            <th>V. Imp. AC</th>
            <th>Nfe</th>
            <th>CTe</th>
            <th>ICMS ST NFe</th>
            <th>Total ICMS</th>
            <th>Total Fecop</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Note.Iest == "")
                {
                    <td style="font-size:11px"><strong>S</strong></td>
                }
                else
                {
                    <td style="font-size:11px"><strong>I</strong></td>
                }

                <td>@Html.DisplayFor(modelItem => item.Nnf)</td>
                <td style="font-size:7px;">@Html.DisplayFor(modelItem => item.Xprod)</td>
                <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Note.Vnf))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) + Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vipi))</td>
                <td>@Html.DisplayFor(modelItem => item.Note.Nct)</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Freterateado))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vbasecalc))</td>
                <td>@Html.DisplayFor(modelItem => item.Mva)</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Valoragregado))</td>
                @if (ViewBag.TypeTaxation == "ST")
                {
                    <td>@Html.DisplayFor(modelItem => item.BCR)</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.ValorBCR))</td>
                }
                <td>@Html.DisplayFor(modelItem => item.Aliqinterna)</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.ValorAC))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vicms))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.IcmsCTe))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.IcmsST))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.TotalICMS))</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.TotalFecop))</td>
                @if (item.Pautado == true)
                {
                    <td>P</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
}
else if (ViewBag.TypeTaxation == "AP" || ViewBag.TypeTaxation == "CO" ||
                ViewBag.TypeTaxation == "COR" || ViewBag.TypeTaxation == "IM")
{
        <thead>
            <tr style="font-size:9px;">
                <th></th>
                <th>Nota</th>
                <th>Produto</th>
                <th>UF</th>
                <th>Dia/Mês</th>
                <th>V. Nota</th>
                <th>V. Produto</th>
                <th>IPI</th>
                <th>Frete Nº</th>
                <th>V. Frete</th>
                <th>BC. ICMS</th>
                <th>Aliq Intra(%)</th>
                <th>Aliq Inter(%)</th>
                <th>Dif</th>
                <th>ICMS ST NFe</th>
                <th>ICMS Apurado</th>
            </tr>
        </thead>
        <tbody style="font-size:9px;">
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.Note.Iest == "")
                    {
                        <td><strong>S</strong></td>
                    }
                    else
                    {
                        <td><strong>I</strong></td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.Nnf)</td>
                    <td>@Html.DisplayFor(modelItem => item.Xprod)</td>
                    <td>@Html.DisplayFor(modelItem => item.Note.Uf)</td>
                    <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.Note.Vnf))</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) + Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc))</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vipi))</td>
                    <td>@Html.DisplayFor(modelItem => item.Note.Nct)</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.Freterateado))</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vbasecalc))</td>
                    <td>@Html.DisplayFor(modelItem => item.Aliqinterna)</td>
                    <td>@Html.DisplayFor(modelItem => item.Picms)</td>
                    <td>@Html.DisplayFor(modelItem => item.Diferencial)</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.IcmsST))</td>
                    <td>@string.Format("{0:N}", Convert.ToDecimal(item.IcmsApurado))</td>
                </tr>

            }
        </tbody>
}
else if (ViewBag.TypeTaxation == "Isento")
{
    <thead style="font-size:12px;">
        <tr>
            <th>Nota</th>
            <th>Produtos</th>
            <th>NCM</th>
            <th>Valor dos produtos</th>
        </tr>
    </thead>
    <tbody style="font-size:12px;">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nnf)</td>
                <td>@Html.DisplayFor(modelItem => item.Xprod)</td>
                <td>@Html.DisplayFor(modelItem => item.Ncm)</td>
                <td>@string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) + Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc))</td>
            </tr>
        }

    </tbody>
}
