@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@if (ViewBag.TypeTaxation == "AP" || ViewBag.TypeTaxation == "CO" ||
   ViewBag.TypeTaxation == "COR" || ViewBag.TypeTaxation == "IM")
{

    @foreach (var note in ViewBag.NotasTaxation)
    {
        <thead>
            <tr>
                <th>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número da Nota</th>
                                <th>Fornecedor</th>
                                <th>UF</th>
                                <th>Dia/Mês</th>
                                <th>Valor da Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-weight:normal;">
                                @if (note.Iest == "")
                                {
                                    <td><strong>S</strong></td>
                                }
                                else
                                {
                                    <td><strong>I</strong></td>
                                }
                                <td>@note.Nnf</td>
                                <td>@note.Xnome</td>
                                <td>@note.Uf</td>
                                <td>@Convert.ToDateTime(note.Dhemi).ToString("dd/MM")</td>
                                <td>@string.Format("{0:N}", Convert.ToDecimal(note.Vnf))</td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                    <table class="table">
                        <thead>
                            @if (ViewBag.IsCTe == true)
                            {
                                <tr style="font-size:9px;">
                                    <th rowspan="2"></th>
                                    <th rowspan="2">Nota</th>
                                    <th rowspan="2">UF</th>
                                    <th rowspan="2">Dia/Mês</th>
                                    <th rowspan="2">V. Nota</th>
                                    <th rowspan="2">Produto</th>
                                    <th style="text-align: center;" colspan="5">NFe</th>
                                    <th style="text-align: center;" colspan="6">CTe</th>
                                    <th rowspan="2">ICMS ST <br /> NFe</th>
                                    <th rowspan="2">ICMS Apurado</th>
                                </tr>
                                <tr style="font-size:9px;">
                                    <th>V. Produto</th>
                                    <th>Aliq Inter(%)</th>
                                    <th>Aliq Intra <br /> NFe(%)</th>
                                    <th>Dif</th>
                                    <th>ICMS Produto</th>
                                    <th>Nº Frete</th>
                                    <th>V. Frete</th>
                                    <th>Aliq Inter(%)</th>
                                    <th>Aliq Intra <br /> UF(%)</th>
                                    <th>Dif</th>
                                    <th>ICMS CTe</th>
                                </tr>
                            }
                            else
                            {
                                <tr style="font-size:9px;">
                                    <th></th>
                                    <th>Nota</th>
                                    <th>UF</th>
                                    <th>Dia/Mês</th>
                                    <th>V. Nota</th>
                                    <th>Produto</th>
                                    <th>V. Produto</th>
                                    <th>Nº Frete</th>
                                    <th>V. Frete</th>
                                    <th>BC. ICMS</th>
                                    <th>Aliq Inter(%)</th>
                                    <th>Aliq Intra <br /> NFe(%)</th>
                                    <th>Dif</th>
                                    <th>ICMS ST <br /> NFe</th>
                                    <th>ICMS Apurado</th>
                                </tr>
                            }
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.Products)
                            {
                                @if (note.Id.Equals(item.NoteId))
                                {
                                    @if (ViewBag.IsCTe == true)
                                    {
                                        <tr>
                                            @if (item.Note.Iest == "")
                                            {
                                                <td><strong>S</strong></td>
                                            }
                                            else
                                            {
                                                <td><strong>I</strong></td>
                                            }
                                            <td>@item.Note.Nnf</td>
                                            <td>@item.Note.Uf</td>
                                            <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                            <td>@string.Format("{0:N}", Convert.ToDecimal(item.Note.Vnf))</td>
                                            <td>
                                                @if (item.Xprod.Length <= 30)
                                                {
                                                    @item.Xprod
                                                }
                                                else
                                                {
                                                    @item.Xprod.Substring(0, 30)
                                                }
                                            </td>
                                            <td>
                                                @string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) +
                                                                        Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc) + Convert.ToDecimal(item.Vipi))
                                            </td>
                                            <td>
                                                @if (item.EBcr == true && item.AliqInternaBCR != null)
                                                {
                                                    @item.AliqInternaBCR
                                                }
                                                else
                                                {
                                                    @item.AliqInterna
                                                }
                                            </td>
                                            <td>
                                                @if (item.EBcr == true && item.PicmsBCR != null)
                                                {
                                                    @if (item.Orig == 1 || item.Orig == 2 || item.Orig == 3 || item.Orig == 8)
                                                    {
                                                        @item.Picms
                                                    }
                                                    else
                                                    {
                                                        @item.PicmsBCR
                                                    }
                                                }
                                                else
                                                {
                                                    @item.Picms
                                                }
                                            </td>
                                            <td>@item.Diferencial</td>
                                            <td>
                                                @if (item.PicmsOrig > 0)
                                                {
                                                    @string.Format("{0:N}", Convert.ToDecimal(item.IcmsApurado))
                                                }
                                                else
                                                {
                                                    @if (ViewBag.DataTemp < ViewBag.DataRef)
                                                    {
                                                        @string.Format("{0:N}", (Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) +
                                                                                Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc) + Convert.ToDecimal(item.Vipi)) *
                                                                                (Convert.ToDecimal(item.Diferencial) / 100))

                                                    }
                                                    else
                                                    {
                                                        @string.Format("{0:N}", Convert.ToDecimal(item.IcmsApurado))
                                                    }
                                                }
                                            </td>
                                            <td>@item.Note.Nct</td>
                                            <td>
                                                @if (Convert.ToDecimal(item.Freterateado) > 0)
                                                {
                                                    @string.Format("{0:N}", Convert.ToDecimal(item.Freterateado))
                                                }
                                            </td>
                                            <td>
                                                @item.AliqInterna
                                            </td>
                                            <td>
                                                @if (item.PicmsOrig > 0)
                                                {
                                                    @item.PicmsOrig
                                                }
                                                else
                                                {
                                                    @item.Picms
                                                }
                                            </td>
                                            <td>
                                                @if (item.DiferencialCTe > 0)
                                                {
                                                    @item.DiferencialCTe
                                                }
                                                else
                                                {
                                                    @item.Diferencial
                                                }
                                            </td>
                                            <td>
                                                @string.Format("{0:N}", Convert.ToDecimal(item.IcmsApuradoCTe))
                                            </td>
                                            <td>@string.Format("{0:N}", Convert.ToDecimal(item.IcmsST) + Convert.ToDecimal(item.VfcpST) + Convert.ToDecimal(item.VfcpSTRet))</td>
                                            <td>
                                                @if (item.IcmsApuradoCTe > 0)
                                                {
                                                    @string.Format("{0:N}", Convert.ToDecimal(item.IcmsApurado) + Convert.ToDecimal(item.IcmsApuradoCTe))
                                                }
                                                else
                                                {
                                                    @string.Format("{0:N}", Convert.ToDecimal(item.IcmsApurado))
                                                } }
                                                }
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            @if (item.Note.Iest == "")
                                            {
                                                <td><strong>S</strong></td>
                                            }
                                            else
                                            {
                                                <td><strong>I</strong></td>
                                            }
                                            <td>@item.Note.Nnf</td>
                                            <td>@item.Note.Uf</td>
                                            <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                            <td>@string.Format("{0:N}", Convert.ToDecimal(item.Note.Vnf))</td>
                                            <td>
                                                @if (item.Xprod.Length <= 30)
                                                {
                                                    @item.Xprod
                                                }
                                                else
                                                {
                                                    @item.Xprod.Substring(0, 30)
                                                }
                                            </td>
                                            <td>
                                                @string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) +
                                                                        Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc) + Convert.ToDecimal(item.Vipi))
                                            </td>
                                            <td>@item.Note.Nct</td>
                                            <td>
                                                @if (Convert.ToDecimal(item.Freterateado) > 0)
                                                {
                                                    @string.Format("{0:N}", Convert.ToDecimal(item.Freterateado))
                                                }
                                            </td>
                                            <td>
                                                @string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) +
                                                                        Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc) + Convert.ToDecimal(item.Vipi))
                                            </td>
                                            <td>
                                                @if (item.EBcr && item.AliqInternaBCR != null)
                                                {
                                                    @item.AliqInternaBCR
                                                }
                                                else
                                                {
                                                    @item.AliqInterna
                                                }
                                            </td>
                                            <td>
                                                @if (item.EBcr == true && item.PicmsBCR != null)
                                                {
                                                    @if (item.Orig == 1 || item.Orig == 2 || item.Orig == 3 || item.Orig == 8)
                                                    {
                                                        @item.Picms
                                                    }
                                                    else
                                                    {
                                                        @item.PicmsBCR
                                                    }
                                                }
                                                else
                                                {
                                                    @item.Picms
                                                }
                                            </td>
                                            <td>@item.Diferencial</td>
                                            <td>@string.Format("{0:N}", Convert.ToDecimal(item.IcmsST) + Convert.ToDecimal(item.VfcpST) + Convert.ToDecimal(item.VfcpSTRet))</td>
                                            <td>
                                                @if (item.IcmsApuradoCTe > 0)
                                                {
                                                    @string.Format("{0:N}", Convert.ToDecimal(item.IcmsApurado) + Convert.ToDecimal(item.IcmsApuradoCTe))
                                                }
                                                else
                                                {
                                                    @string.Format("{0:N}", Convert.ToDecimal(item.IcmsApurado))
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                         </tbody>

                    </table> 
                </td>
            </tr>
        </tbody>

    }

}
else if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "AT")
{
    @foreach (var note in ViewBag.NotasTaxation)
    {
        <thead>
            <tr>
                <th>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número da Nota</th>
                                <th>Fornecedor</th>
                                <th>UF</th>
                                <th>Dia/Mês</th>
                                <th>Valor da Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-weight:normal;">
                                @if (note.Iest == "")
                                {
                                    <td style="font-size:10px"><strong>S</strong></td>
                                }
                                else
                                {
                                    <td style="font-size:10px"><strong>I</strong></td>
                                }
                                <td>@note.Nnf</td>
                                <td>@note.Xnome</td>
                                <td>@note.Uf</td>
                                <td>@Convert.ToDateTime(note.Dhemi).ToString("dd/MM")</td>
                                <td>@string.Format("{0:N}", Convert.ToDecimal(note.Vnf))</td>
                            </tr>
                        </tbody>
                    </table>
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>V. <br /> Produto</th>
                                <th>Frete Nº</th>
                                <th>V. <br /> Frete</th>
                                <th>B. <br /> Cálculo</th>
                                <th>MVA(%)</th>
                                <th>BC. <br /> ICMS</th>
                                <th>BCR(%)</th>
                                <th>BCR</th>
                                <th>Aliq Int(%)</th>
                                <th>V. <br /> Imp. AC</th>
                                <th>ICMS</th>
                                <th>ICMS  <br />ST NFe</th>
                                <th>Fecop  <br />ST NFe</th>
                                <th>Total <br /> ICMS</th>
                                <th>Total <br /> Fecop</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Products)
                            {
                                @if (note.Id.Equals(item.NoteId))
                                {
                                    <tr>
                                        <td>
                                            @if (item.Xprod.Length <= 30)
                                            {
                                                @item.Xprod
                                            }
                                            else
                                            {
                                                @item.Xprod.Substring(0, 30)
                                            }
                                        </td>
                                        <td>
                                            @string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) + Convert.ToDecimal(item.Vfrete) -
                                                                Convert.ToDecimal(item.Vdesc) + Convert.ToDecimal(item.Vipi))
                                        </td>
                                        <td>@item.Note.Nct</td>
                                        <td>@string.Format("{0:N}", Convert.ToDecimal(item.Freterateado))</td>
                                        <td>
                                            @string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) + Convert.ToDecimal(item.Vfrete) +
                                                                Convert.ToDecimal(item.Vipi) + Convert.ToDecimal(item.Freterateado))
                                        </td>
                                        <td>@item.Mva</td>
                                        <td>@string.Format("{0:N}", Convert.ToDecimal(item.Valoragregado))</td>
                                        <td>@item.BCR</td>
                                        <td>
                                            @if (Convert.ToDecimal(item.BCR) > 0)
                                            {
                                                @string.Format("{0:N}", Convert.ToDecimal(item.ValorBCR))
                                            }
                                        </td>
                                        <td>@item.AliqInterna</td>
                                        <td>@string.Format("{0:N}", Convert.ToDecimal(item.ValorAC))</td>
                                        <td>
                                            @if (item.Picms.Equals(12))
                                            {
                                                @string.Format("{0:N}", (Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) +
                                                                        Convert.ToDecimal(item.Vfrete) + Convert.ToDecimal(item.Vipi) + Convert.ToDecimal(item.Freterateado) -
                                                                        Convert.ToDecimal(item.Vdesc)) * 7 / 100)
                                            }
                                            else
                                            {
                                                @string.Format("{0:N}", Convert.ToDecimal(item.IcmsCTe) + Convert.ToDecimal(item.Vicms))
                                            }
                                        </td>
                                        <td>@string.Format("{0:N}", Convert.ToDecimal(item.IcmsST))</td>
                                        <td>@string.Format("{0:N}", Convert.ToDecimal(item.VfcpST) + Convert.ToDecimal(item.VfcpSTRet))</td>
                                        <td>@string.Format("{0:N}", Convert.ToDecimal(item.TotalICMS))</td>
                                        <td>@string.Format("{0:N}", Convert.ToDecimal(item.TotalFecop))</td>
                                        <td>
                                            @if (item.Pautado == true)
                                            {
                                                <span>P</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
        </tbody>
    }
}
else if (ViewBag.TypeTaxation == "Isento" || ViewBag.TypeTaxation == "NT")
{
    @foreach (var note in ViewBag.NotasTaxation)
    {
        <thead>
            <tr>
                <th>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número da Nota</th>
                                <th>Fornecedor</th>
                                <th>UF</th>
                                <th>Dia/Mês</th>
                                <th>Valor da Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-weight:normal;">
                                @if (note.Iest == "")
                                {
                                    <td><strong>S</strong></td>
                                }
                                else
                                {
                                    <td><strong>I</strong></td>
                                }
                                <td>@note.Nnf</td>
                                <td>@note.Xnome</td>
                                <td>@note.Uf</td>
                                <td>@Convert.ToDateTime(note.Dhemi).ToString("dd/MM")</td>
                                <td>@string.Format("{0:N}", Convert.ToDecimal(note.Vnf))</td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>NCM</th>
                                <th>V. Produto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Products)
                            {
                                @if (note.Id.Equals(item.NoteId))
                                {
                                    <tr>
                                        <td>@item.Xprod</td>
                                        <td>@item.Ncm</td>
                                        <td>
                                            @string.Format("{0:N}", Convert.ToDecimal(item.Vprod) + Convert.ToDecimal(item.Vseg) + Convert.ToDecimal(item.Voutro) +
                                                                Convert.ToDecimal(item.Vfrete) - Convert.ToDecimal(item.Vdesc) + Convert.ToDecimal(item.Vipi))
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </td>
            </tr>
        </tbody>

    }
}