<div style="border:2px solid; text-align:center;">
    <strong>Empresas com Inscrição Estadual</strong>
</div>
<table class="table" style="font-size:11px; border:2px solid;">

    @if (ViewBag.TypeTaxation != "Isento" && ViewBag.TypeTaxation != "Nenhum" && ViewBag.TypeTaxation != "NT")
    {
        if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "AT")
        {
            <thead>
                <tr>
                    <th class="col-lg-4 col-md-4 col-sm-4" style="text-align:center; border:1px solid; margin-right:10px;">RESUMO DO IMPOSTO</th>
                    <th class="col-lg-1 col-md-1 col-sm-1"></th>
                    <th class="col-lg-7 col-md-7 col-sm-7" style="text-align:center; border:1px solid; margin-left:10px;">APURAÇÃO FECOP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-lg-4 col-sm-4">
                        <table>
                            @if (ViewBag.TypeTaxation == "ST")
                            {
                                <tr>
                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Substituição Tributária MVA</td>

                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.TotalICMSMvaIE) </td>

                                </tr>
                                @if (ViewBag.Company.Incentive == false)
                                {
                                    <tr>
                                        <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Subst.Tributária Preço Pauta</td>

                                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.TotalICMSPautaIE) </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Antecipação Total</td>

                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.TotalICMSMvaIE) </td>

                                </tr>
                            }
                            <tr>
                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-) ICMS Frete com IE R$</td>
                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.TotalIcmsFreteIE) </td>
                            </tr>
                            <tr>
                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-) GNRE Paga R$</td>
                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.TotalGNREPagaIE) </td>
                            </tr>
                            <tr>
                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(+) GNRE não Paga R$</td>
                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.TotalGNREnPagaIE) </td>
                            </tr>
                            <tr>
                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-) ICMS ST NFe com IE R$</td>
                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.IcmsGeralSTIE) </td>
                            </tr>
                            <tr>
                                <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(=) VALOR A SER INFORMADO NA DIEF</th>
                                <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.ValorDiefIE)</th>
                            </tr>
                            <tr>
                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-) ICMS pago - Posto Fiscal R$</td>
                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.IcmsPagoIE)</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS a Pagar R$</th>
                                <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@string.Format("{0:N}", ViewBag.IcmsPagarIE)</th>
                            </tr>
                        </table>
                        <br />
                        <table class="col-lg-12 col-md-12 col-sm-12">
                            <tr>
                                <td class="col-lg-12 col-md-12 col-sm-12" style="text-align:right"><b>Código DAR: @ViewBag.DarSTCO.Code (@ViewBag.DarSTCO.Description)</b></td>
                            </tr>
                        </table>
                    </td>


                    <td></td>
                    <td class="col-lg-8 col-sm-8">

                        <table class="col-lg-12 col-sm-12">
                            <tr>
                                <th class="col-lg-5 col-sm-5" style="text-align:right;">Base FECOP interestaduais ST</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;">Base (1%)</th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">Valor</th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">Base (2%)</th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">Valor</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;">Total</th>
                            </tr>
                            <tr>
                                <td class="col-lg-4 col-sm-4" style="text-align:right;">Base FECOP interestaduais ST R$</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.Base1IE)</td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.Valorbase1IE)</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.Base2IE)</td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.Valorbase2IE)</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFecopCalculadaIE)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4 col-sm-4" style="text-align:right;">(-) FECOP Frete com IE R$</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.BaseFecop1FreteIE) </td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFecop1FreteIE)</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.BaseFecop2FreteIE)</td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFecop2FreteIE)</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFecopFreteIE)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4 col-sm-4" style="text-align:right;">(+) GNRE não Paga R$</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;"></td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;"></td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.GNRENPagaFecopIE)</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4 col-sm-4" style="text-align:right;">(-) GNRE paga R$</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.GNREPagaFecop1IE)</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.GNREPagaFecop2IE) </td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalGnreFecopIE) </td>
                            </tr>
                            <tr>
                                <td class="col-lg-4 col-sm-4" style="text-align:right;">(-) FECOP ST NFe</td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.FecopNfe1IE) </td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.ValorNfe1IE) </td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.FecopNfe2IE) </td>
                                <td class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.ValorNfe2IE) </td>
                                <td class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFecopNfeIE) </td>
                            </tr>
                            <tr style="background-color:lightgray;">
                                <th class="col-lg-4 col-sm-4" style="text-align:right;">(=) Valor a informar na DIEF R$</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.DiefBase1IE) </th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.DiefValor1IE) </th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.DiefBase2IE) </th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.DiefValor2IE) </th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.DiefTotalIE) </th>
                            </tr>
                            <tr>
                                <th class="col-lg-4 col-sm-4" style="text-align:right;">(-) FECOP pago - Posto Fiscal R$</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.Base1FecopPagoIE)</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.Base2FecopPagoIE)</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalBaseFecopPagoIE)</th>
                            </tr>
                            <tr style="background-color:lightgray;">
                                <th class="col-lg-4 col-sm-4" style="text-align:right;">(=) FECOP a pagar R$</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFecop1IE)</th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                <th class="col-lg-1 col-sm-1" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFecop2IE) </th>
                                <th class="col-lg-2 col-sm-2" style="text-align:center;">@string.Format("{0:N}", ViewBag.TotalFinalFecopCalculadaIE) </th>
                            </tr>
                        </table>
                        <table class="col-lg-12 col-md-12 col-sm-12">
                            <tr>
                                <th class="col-lg-12 col-md-12 col-sm-12" style="text-align:right;">Código DAR: @ViewBag.DarFecop.Code (@ViewBag.DarFecop.Description)</th>
                            </tr>
                        </table>

                        <br />
                        <table class="col-lg-12 col-md-12 col-sm-12">
                            <tr>
                                <th class="col-lg-12 col-md-12 col-sm-12" style="text-align:right;">&nbsp;</th>
                            </tr>
                        </table>
                        <table class="col-lg-12 col-md-12 col-sm-12">
                            <tr style="border:1px solid;">
                                <td class="col-lg-10 col-md-10 col-sm-10">
                                    <strong>I - Empresas com IE no PIauí ICMS NFe</strong>
                                </td>
                                <td class="col-lg-2 col-md-2 col-sm-2">
                                    @string.Format("{0:N}", ViewBag.IcmsGeralSTIE)
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <thead>
                <tr>
                    <th width="100%" style="text-align:center; border:1px solid; margin-right:10px;">RESUMO DO IMPOSTO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table>
                            <tr>
                                @if (ViewBag.TypeTaxation == "AP")
                                {
                                    <td style="text-align:right" width="500px">ICMS Antecipação Parcial</td>
                                }
                                else if (ViewBag.TypeTaxation == "CO")
                                {
                                    <td style="text-align:right" width="500px">ICMS Consumo</td>
                                }
                                else if (ViewBag.TypeTaxation == "COR")
                                {
                                    <td style="text-align:right" width="500px">ICMS Consumo p/ Revenda</td>
                                }
                                else if (ViewBag.TypeTaxation == "IM")
                                {
                                    <td style="text-align:right" width="500px">ICMS Imobilizado</td>
                                }

                            <td style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.TotalICMSIE)</td>
                            </tr>
                            <tr>
                                <td style="text-align:right" width="500px">(-) ICMS Frete com IE R$</td>
                                <td style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.TotalIcmsFreteIE)</td>
                            </tr>
                            <tr>
                                <td style="text-align:right" width="500px">(-) GNRE Paga R$</td>
                                <td style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.TotalGNREPagaIE)</td>
                            </tr>
                            <tr>
                                <td style="text-align:right" width="500px">(+) GNRE não Paga R$</td>
                                <td style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.TotalGNREnPagaIE)</td>
                            </tr>
                            <tr>
                                <td style="text-align:right" width="500px">(-) ICMS ST NFe com IE R$</td>
                                <td style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.IcmsGeralSTIE)</td>
                            </tr>
                            <tr>
                                <th style="text-align:right" width="500px">(=) VALOR A SER INFORMADO NA DIEF</th>
                                <th style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.ValorDiefIE)</th>
                            </tr>
                            <tr>
                                <td style="text-align:right" width="500px">(-) ICMS pago - Posto Fiscal R$</td>
                                <td style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.IcmsPagoIE)</td>

                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th style="text-align:right" width="500px">ICMS a Pagar R$</th>
                                <th style="text-align:right; padding-right:1%;" width="500px">@string.Format("{0:N}", ViewBag.IcmsPagarIE)</th>
                            </tr>
                            <tr>
                                <th style="text-align:right" width="500px">Código DAR</th>
                                @if (ViewBag.TypeTaxation == "CO" || ViewBag.TypeTaxation == "COR")
                                {
                                    <td style="text-align:right; padding-right:1%;" width="500px"><b>@ViewBag.DarSTCO.Code (@ViewBag.DarSTCO.Description)</b></td>
                                }
                                @if (ViewBag.TypeTaxation == "AP")
                                {
                                    <td style="text-align:right; padding-right:1%;" width="500px"><b>@ViewBag.DarAP.Code (@ViewBag.DarAP.Description)</b></td>
                                }
                                @if (ViewBag.TypeTaxation == "IM")
                                {
                                    <td style="text-align:right; padding-right:1%;" width="500px"><b>@ViewBag.DarIM.Code (@ViewBag.DarIM.Description)</b></td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        }

    }
</table>