@model IEnumerable<Escon.SisctNET.Model.ProductNote>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box box-primary">
        <div class="box-header">
            <a asp-controller="Note" asp-action="Index" asp-route-id="@ViewBag.Note.CompanyId" asp-route-year="@ViewBag.Note.AnoRef" asp-route-month="@ViewBag.Note.MesRef" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
            <h3 class="box-title"><strong>Produtos </strong></h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Data</th>
                        <th>UF</th>
                        <th>Fornecedor</th>
                        <th>Valor total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.Note.Nnf</td>
                        <td>@ViewBag.Note.Dhemi.ToString("dd/MM/yyyy")</td>
                        <td>@ViewBag.Note.Uf</td>
                        <td>@ViewBag.Note.Xnome</td>
                        <td>@string.Format("{0:C}", ViewBag.Note.Vnf)</td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-group pull-left" style="padding:20px;">

                <div style="color:red;">
                    Produtos Importados
                </div>
                <div style="color:black;">
                    Produtos Nacionais
                </div>

            </div>

            <div class="btn-group pull-right">

                @if (ViewBag.Note.View == false)
                {
                    <a asp-controller="Note" asp-action="UpdateView" asp-route-id="@ViewBag.Note.Id" class="btn btn-primary">
                        <i class="fa fa-check-square"></i>
                        Visualizar
                    </a>

                }


            </div>
        </div>
        <div class="box-body">
            <div style="width:100%; padding:20px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6 col-md-6 col-xs-12">

                            <b>Quantidades de Produto: @Model.Count()</b>

                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%; padding:20px;">
                <table class="table table-striped table-bordered" id="tblIndex2" style="width:100%;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Xprod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ncm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cest)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cfop)
                            </th>
                            <th width="100px">
                                @Html.DisplayNameFor(model => model.Vprod)
                            </th>
                            <th>@Html.DisplayNameFor(model => model.TaxationTypeId)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="font-size:11px;">
                        @foreach (var item in Model)
                        {
                            @if (item.Orig != 0)
                            {
                                <tr style="color:red;">
                                    <td>
                                        @if (item.Status.Equals(false))
                                        {
                                            <i class="fa fa-times-circle" style="color:red;"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-check-circle" style="color:green;"></i>
                                        }
                                        @Html.DisplayFor(modelItem => item.Xprod)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ncm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cest)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cfop)
                                    </td>
                                    <td style="text-align:center">
                                        @string.Format("{0:C}", item.Vprod)
                                    </td>

                                    @if (item.TaxationTypeId != null)
                                    {
                                        <td>@item.TaxationType.Description</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    @if (item.Pautado.Equals(true))
                                    {
                                        <td>P</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    <td>
                                        @Html.ActionLink(" ", "Product", new { id = item.Id }, new { @class = "fa fa-calculator pull-left", @style = "margin-left:10px; margin-bottom:10px;", @data_toggle = "tooltip", @data_placement = "top", @title = "Tributar Produto" })
                                        @if (SessionManager.GetPersonInSession().Profile.Name.Equals("Master"))
                                        {
                                            @Html.ActionLink(" ", "Delete", new { id = item.Id },
                                               new { onclick = "return confirm('Deseja exluir esse registro?');", @class = "glyphicon glyphicon-trash pull-left", @style = "margin-left:10px; margin-bottom:10px;" })
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @if (item.Status.Equals(false))
                                        {
                                            <i class="fa fa-times-circle" style="color:red;"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-check-circle" style="color:green;"></i>
                                        }
                                        @Html.DisplayFor(modelItem => item.Xprod)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ncm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cest)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cfop)
                                    </td>
                                    <td style="text-align:center">
                                        @string.Format("{0:C}", item.Vprod)
                                    </td>
                                    @if (item.TaxationTypeId != null)
                                    {
                                        <td>@item.TaxationType.Description</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (item.Pautado.Equals(true))
                                    {
                                        <td>P</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    <td>
                                        @Html.ActionLink(" ", "Product", new { id = item.Id }, new { @class = "fa fa-calculator pull-left", @style = "margin-left:10px; margin-bottom:10px;", @data_toggle = "tooltip", @data_placement = "top", @title = "Tributar Produto" })
                                        @if (SessionManager.GetPersonInSession().Profile.Name.Equals("Master"))
                                        {
                                            @Html.ActionLink(" ", "Delete", new { id = item.Id },
                                               new { onclick = "return confirm('Deseja exluir esse registro?');", @class = "glyphicon glyphicon-trash pull-left", @style = "margin-left:10px; margin-bottom:10px;" })
                                        }
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer"></div>
    </div>
<script>
    $("#tblIndex").on("change", ".status", function(){
            try {

                    $.ajax({
                    url: '@(Url.Action("UpdateView", "Note"))',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({ "Id": $(this).prop('id'), "Status": $(this).prop('checked') }),
                    processData: false,
                    success: function (data, textStatus, jQxhr) {

                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                    });

            } catch (e) {
                console.log(e);
            }
        });
</script>