@model Escon.SisctNET.Model.ProductNote

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        
        <a asp-controller="ProductNote" asp-action="Index" asp-route-noteId="@ViewBag.NoteId" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong>Tributação</strong></h3>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <form asp-action="Product" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Cprod" class="form-control" type="hidden" />
                <input asp-for="Cest" class="form-control" type="hidden" />
                <input asp-for="Cfop" class="form-control" type="hidden" />
                <input asp-for="Qcom" class="form-control" type="hidden" />
                <input asp-for="Vuncom" class="form-control" type="hidden" />
                <input asp-for="Vprod" class="form-control" type="hidden" />
                <input asp-for="Vicms" class="form-control" type="hidden" />
                <input asp-for="Vipi" class="form-control" type="hidden" />
                <input asp-for="Picms" class="form-control" type="hidden" />

                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Nnf" class="control-label"></label>
                    <input asp-for="Nnf" class="form-control" readonly />
                    <span asp-validation-for="Nnf" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-10 col-md-6 col-xs-12">
                    <label asp-for="Xprod" class="control-label"></label>
                    <input asp-for="Xprod" class="form-control" readonly />
                    <span asp-validation-for="Xprod" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Ncm" class="control-label"></label>
                    <input asp-for="Ncm" class="form-control" readonly />
                    <span asp-validation-for="Ncm" class="text-danger"></span>

                </div>

                <div class="form-group col-lg-10 col-md-6 col-xs-12">
                    <label class="control-label">Descrição</label>
                    <input type="text" class="form-control" value="@ViewBag.DescriptionNCM" readonly />
                </div>

                <div class="form-group col-lg-3 col-md-6 col-xs-12">
                    <div>
                        <div style="color:red">1 - Normal</div>
                        <div style="color:red">2 - Substituição Tributária</div>
                    </div>
                    <label asp-for="TaxationTypeId" class="control-label"></label>
                    <select asp-items="@ViewBag.TaxationTypeId" class="form-control selectoption" name="taxaType" id="taxaType" required></select>
                </div>

                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Picms" class="control-label"></label>
                    <input type="text" asp-for="Picms" class="form-control" disabled />
                    <span asp-validation-for="Picms" class="text-danger"></span>
                    <label class="control-label">UF</label>
                    <input type="text" class="form-control" value="@ViewBag.Uf" name="Uf" readonly />
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label asp-for="Aliqinterna" class="control-label"></label>
                    <input asp-for="Aliqinterna" name="AliqInt" class="form-control" value="18" required />
                    <span asp-validation-for="Aliqinterna" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Validade Inicial</label>
                    <input type="date" class="form-control" name="dateStart" value="2019-11-01"/>
                </div>
                <div class="form-group col-lg-2 col-md-6 col-xs-12">
                    <label class="control-label">Emissão</label>
                    <input type="text" class="form-control" value="@ViewBag.Dhemi" readonly />
                </div>
                <div class="col-lg-12">
                    <div class="form-group col-lg-2 col-md-3 col-xs-12" id="checkbox">
                        <label asp-for="Pautado" class="control-label"></label>
                        @Html.CheckBoxFor(model => model.Pautado, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary", @readonly = "true" })
                    </div>
                    <div class="form-group col-lg-2 col-md-3 col-xs-12">
                        <label class="control-label">Quantidade da Pauta</label>
                        <input type="text" class="form-control" id="quant" name="quantAlterada" style="font-size:12px;" disabled="disabled" />
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                        <label asp-for="ProductId" class="control-label"></label>
                        <select asp-items="@ViewBag.ProductId" class="form-control selectoption" id="productid" name="productid" disabled="disabled"></select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group col-lg-1 col-md-6 col-xs-12">
                        <label asp-for="Cfop" class="control-label"></label>
                        <input asp-for="Cfop" class="form-control" readonly />
                        <span asp-validation-for="Cfop" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-1 col-md-6 col-xs-12">
                        <label asp-for="Ucom" class="control-label"></label>
                        <input asp-for="Ucom" class="form-control" style="font-size:12px;" readonly />
                        <span asp-validation-for="Ucom" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-1 col-md-6 col-xs-12">
                        <label asp-for="Qcom" class="control-label"></label>
                        <input asp-for="Qcom" class="form-control" disabled />
                        <span asp-validation-for="Qcom" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Vuncom" class="control-label"></label>
                        <input asp-for="Vuncom" class="form-control money" type="text" disabled />
                        <span asp-validation-for="Vuncom" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Vprod" class="control-label"></label>
                        <input asp-for="Vprod" class="form-control money" type="text" disabled />
                        <span asp-validation-for="Vprod" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Vicms" class="control-label"></label>
                        <input asp-for="Vicms" class="form-control money" disabled />
                        <span asp-validation-for="Vicms" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-1 col-md-6 col-xs-12">
                        <label asp-for="Vipi" class="control-label"></label>
                        <input asp-for="Vipi" class="form-control money" disabled />
                        <span asp-validation-for="Vipi" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-1 col-md-6 col-xs-12">
                        <label asp-for="IcmsST" class="control-label"></label>
                        <input asp-for="IcmsST" class="form-control money" disabled />
                    </div>
                </div>

                <div class="col-lg-12">

                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">MVA</label>
                        <input type="text" name="mva" class="form-control" value="@Model.Mva" disabled="disabled" />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Aliquota FECOP</label>
                        <input type="text" name="fecop" class="form-control" value="@Model.Fecop" disabled="disabled" />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">BCR(%)</label>
                        <input type="text" name="bcr" class="form-control" value="@Model.BCR" disabled="disabled" />
                    </div>

                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <input type="submit" value="Tributar" onclick="Enviar()" class="btn btn-success pull-right" />
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    var taxacao = @Model.TaxationTypeId;
    $("#taxaType").children('option').each(function () {
        if ($(this).val() == taxacao) {
            $(this).attr('selected', true);
            if (taxacao === 5) {
                $("input[name=mva]").prop("disabled", false);
                $("input[name=fecop]").prop("disabled", false);
                $("input[name=bcr]").prop("disabled", true);
            } else if (taxacao === 6) {
                $("input[name=mva]").prop("disabled", false);
                $("input[name=fecop]").prop("disabled", false);
                $("input[name=bcr]").prop("disabled", false);
            } else {
                $("input[name=mva]").prop("disabled", true);
                $("input[name=fecop]").prop("disabled", true);
                $("input[name=bcr]").prop("disabled", true);
            }
        }
    });

    $("#taxaType").on("change", function () {
        if ($(this).val() == 5) {
            $("input[name=mva]").prop("disabled", false);
            $("input[name=fecop]").prop("disabled", false);
            if ($("input[name=AliqInt]").val() === "18") {
                $("input[name=fecop]").prop("value", "1");
            } else if ($("input[name=AliqInt]").val() === "12") {
                $("input[name=fecop]").prop("value", "");
            } else {
                $("input[name=fecop]").prop("value", "2");
            }
            $("input[name=bcr]").prop("disabled", true);
        } else if ($(this).val() == 6) {
            $("input[name=mva]").prop("disabled", false);
            $("input[name=fecop]").prop("disabled", false);
            $("input[name=bcr]").prop("disabled", false);
        } else {
            $("input[name=mva]").prop("disabled", true);
            $("input[name=mva]").prop("value", "");
            $("input[name=fecop]").prop("disabled", true);
            $("input[name=fecop]").prop("value", "");
            $("input[name=bcr]").prop("disabled", true);
            $("input[name=bcr]").prop("value", "");
        }
       
    });

    $("input[name=AliqInt]").focusout(function () {
        if ($("input[name=AliqInt]").val() === "18") {
                $("input[name=fecop]").prop("value", "1");
        } else if ($("input[name=AliqInt]").val() === "12") {
            $("input[name=fecop]").prop("value", "");
        } else {
           $("input[name=fecop]").prop("value", "2");
        }
    });

    function Enviar() {
        $("#taxaType").children('option').each(function () {
            if ($(this).val() === 0) {
                alert('Selecione uma tributação');
            }
        });
    }

    $("#checkbox").on("change", "input[type='checkbox']", function () {
        if ($(this).prop("checked")) {
            $("#productid").prop("disabled", false);
            $("#quant").prop("disabled", false);
        } else {
            $("#productid").prop("disabled", true);
            $("#quant").prop("disabled", true);
        }
    });

</script>