@model Escon.SisctNET.Model.ProductNote

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="ProductNote" asp-action="Index" asp-route-noteId="@Model.NoteId" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong>Tributação</strong></h3>
    </div>
    <div class="box-body">
        @if (ViewBag.Erro == 1)
        {
            <p style="text-align:center;color:red;"><strong>O NCM @Model.Ncm não foi cadastrado</strong></p>
        }
        else
        {
            <div class="col-lg-12" style="font-size:12px;">
                <form asp-action="Product" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label asp-for="Note.Nnf" class="control-label"></label>
                            <input asp-for="Note.Nnf" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">Emissão</label>
                            <input type="text" class="form-control" value="@Model.Note.Dhemi.ToString("dd/MM/yyyy")" disabled />
                        </div>
                        <div class="form-group col-lg-1 col-md-4 col-xs-4">
                            <label class="control-label">UF</label>
                            <input type="text" class="form-control" value="@Model.Note.Uf" name="Uf" disabled />
                        </div>
                        <div class="form-group col-lg-7 col-md-12 col-xs-12">
                            <label class="control-label">Fornecedor</label>
                            <textarea asp-for="Note.Xnome" class="form-control" style="font-size:12px;" disabled></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-3 col-xs-3">
                            <label asp-for="Cprod" class="control-label"></label>
                            <input asp-for="Cprod" class="form-control" style="font-size:12px;" disabled>
                        </div>
                        <div class="form-group col-lg-9 col-md-9 col-xs-9">
                            <label asp-for="Xprod" class="control-label"></label>
                            <textarea asp-for="Xprod" class="form-control" style="font-size:12px;" disabled></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-2 col-md-2 col-xs-12">
                            <label asp-for="Ncm" class="control-label"></label>
                            <input asp-for="Ncm" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-10 col-md-10 col-xs-12">
                            <label class="control-label">Descrição</label>
                            <textarea class="form-control" style="font-size:12px;" disabled>@ViewBag.DescriptionNCM</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-12 col-xs-12">
                            <div style="color:red">1 - Normal</div>
                            <div style="color:red">2 - Substituição Tributária</div>
                            <label asp-for="TaxationTypeId" class="control-label"></label>
                            <select asp-items="@ViewBag.TaxationTypeId" class="form-control selectoption" name="TaxationTypeId" id="taxaType" onchange="activeButton()"></select>
                        </div>
                        <div class="form-group col-lg-1 col-md-6 col-xs-6">
                            <label asp-for="Ucom" class="control-label"></label>
                            <input asp-for="Ucom" class="form-control" style="font-size:12px;" disabled />
                            <label asp-for="Cfop" class="control-label"></label>
                            <input asp-for="Cfop" class="form-control" disabled />

                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-6">
                            <label asp-for="Qcom" class="control-label"></label>
                            <input asp-for="Qcom" class="form-control" disabled />
                            <label asp-for="Picms" class="control-label"></label>
                            <input type="text" asp-for="Picms" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-6">
                            <label asp-for="Vuncom" class="control-label"></label>
                            <input asp-for="Vuncom" class="form-control" type="text" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vuncom))" disabled />
                            <label asp-for="Vicms" class="control-label"></label>
                            <input asp-for="Vicms" class="form-control " value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vicms))" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-6">
                            <label asp-for="Vprod" class="control-label"></label>
                            <input asp-for="Vprod" class="form-control" type="text" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vprod))" disabled />
                            <label asp-for="Vipi" class="control-label"></label>
                            <input asp-for="Vipi" class="form-control" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vipi))" disabled />

                        </div>
                        <div class="form-group col-lg-2 col-md-12 col-xs-12">
                            <label asp-for="Vdesc" class="control-label"></label>
                            <input asp-for="Vdesc" class="form-control" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vdesc))" disabled />
                            <label asp-for="IcmsST" class="control-label"></label>
                            <input asp-for="IcmsST" class="form-control" value="@string.Format("{0:C}",Convert.ToDecimal(Model.IcmsST))" disabled />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-1 col-md-6 col-xs-6" id="checkbox">
                            <label asp-for="Pautado" class="control-label">Pautado</label> <br />
                            @Html.CheckBoxFor(model => model.Pautado, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary", @readonly = "true" })
                        </div>

                        @if (Model.Pautado == true)
                        {
                            <div class="form-group col-lg-2 col-md-6 col-xs-6">
                                <label class="control-label">Quantidade da Pauta</label>
                                <input type="text" class="form-control" name="Qpauta" id="quant" value="@Model.Qpauta" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-lg-2 col-md-6 col-xs-6">
                                <label class="control-label">Quantidade da Pauta</label>
                                <input type="text" class="form-control" name="Qpauta" id="quant" disabled="disabled" />
                            </div>
                        }

                        @if (Convert.ToDateTime(Model.Note.Dhemi.ToString("dd/MM/yyyy")).Date < Convert.ToDateTime("10/02/2020").Date)
                        {
                            @if (Model.Pautado == true)
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label asp-for="ProductId" class="control-label"></label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="ProductId" id="productid"></select>
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label asp-for="ProductId" class="control-label"></label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="ProductId" id="productid" disabled="disabled"></select>
                                </div>
                            }

                        }
                        else if (Convert.ToDateTime(Model.Note.Dhemi.ToString("dd/MM/yyyy")).Date >= Convert.ToDateTime("10/02/2020").Date && Convert.ToDateTime(Model.Note.Dhemi.ToString("dd/MM/yyyy")).Date < Convert.ToDateTime("14/09/2020").Date)
                        {
                            if (Model.Pautado == true)
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label asp-for="Product1Id" class="control-label">Produto</label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="Product1Id" id="product1id"></select>
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label asp-for="Product1Id" class="control-label">Produto</label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="Product1Id" id="product1id" disabled="disabled"></select>
                                </div>
                            }
                        }
                        else if (Convert.ToDateTime(Model.Note.Dhemi.ToString("dd/MM/yyyy")).Date >= Convert.ToDateTime("14/09/2020").Date && Convert.ToDateTime(Model.Note.Dhemi.ToString("dd/MM/yyyy")).Date < Convert.ToDateTime("01/06/2022").Date)
                        {
                            if (Model.Pautado == true)
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label asp-for="Product2Id" class="control-label">Produto</label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="Product2Id" id="product2id"></select>
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label class="control-label">Produto</label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="Product2Id" id="product2id" disabled="disabled"></select>
                                </div>
                            }
                        }
                        else if (Convert.ToDateTime(Model.Note.Dhemi.ToString("dd/MM/yyyy")).Date >= Convert.ToDateTime("01/06/2022").Date)
                        {
                            
                            if (Model.Pautado == true)
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label asp-for="Product3Id" class="control-label">Produto</label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="Product3Id" id="product3id"></select>
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-lg-9 col-md-12 col-xs-12">
                                    <label class="control-label">Produto</label>
                                    <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="Product3Id" id="product3id" disabled="disabled"></select>
                                </div>
                            }
                        }
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label asp-for="AliqInterna" class="control-label"></label>
                            @if (Model.AliqInterna != null)
                            {
                                <input type="text" name="AliqInterna" class="form-control money" value="@Model.AliqInterna" required />
                            }
                            else
                            {
                                <input type="text" name="AliqInterna" class="form-control money" value="18" required />
                            }
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">FECOP (%)</label>
                            @if (Model.TaxationTypeId.Equals(5) || Model.TaxationTypeId.Equals(6) || Model.TaxationTypeId.Equals(8))
                            {
                                <input type="text" name="Fecop" class="form-control money" value="@Model.Fecop" />
                            }
                            else
                            {
                                <input type="text" name="Fecop" class="form-control money" value="@Model.Fecop" disabled="disabled" />
                            }
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">* INCISO (%)</label>
                            @if (Model.Note.Company.ChapterId == 4)
                            {
                                <input type="text" name="PercentualInciso" class="form-control money" value="@Model.PercentualInciso" />
                            }
                            else
                            {
                                <input type="text" name="PercentualInciso" class="form-control money" disabled="disabled" />
                            }
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-xs-2">
                            <label class="control-label">MVA (%)</label>
                            <input type="text" name="Mva" class="form-control money" value="@Model.Mva" disabled="disabled" />
                        </div>

                        <div class="form-group col-lg-2 col-md-2 col-xs-2">
                            <label class="control-label">BCR (%)</label>
                            <input type="text" name="BCR" class="form-control money" value="@Model.BCR" disabled="disabled" />
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label asp-for="DateStart" class="control-label"></label>
                            @if (Model.DateStart == null)
                            {
                                <input type="date" asp-for="DateStart" class="form-control" name="DateStart" value="2019-11-01" />
                            }
                            else
                            {
                                <input type="date" asp-for="DateStart" class="form-control" name="DateStart" />
                            }
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">Produto</label>
                            <select class="form-control selectoption" name="produto">
                                @if (Model.Produto == null)
                                {
                                    <option value="1" selected>Normal</option>
                                    <option value="2">Especial</option>
                                }
                                else
                                {
                                    @if (Model.Produto.Equals("Especial"))
                                    {
                                        <option value="1">Normal</option>
                                        <option value="2" selected>Especial</option>
                                    }
                                    else
                                    {
                                        <option value="1" selected>Normal</option>
                                        <option value="2">Especial</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <input type="submit" value="Tributar" onclick="Enviar()" disabled="disabled" id="taxar" class="btn btn-success pull-right" />
                    </div>
                </form>
                
                <p>* Percentual Capítulo IV - C Do regime especial de substituição tributária aplicável às operações com autopeças, componentes e acessórios para motocicletas</p>

            </div>
        }
    </div>
</div>

<script type="text/javascript">

    function activeButton() {
        var op = document.getElementById("taxaType").value;
        if (op == "0") {
            document.getElementById('taxar').disabled = true;
        } else {
            document.getElementById('taxar').disabled=false;
        }
    }

    var product = @Model.ProductId
    $("#productid").children('option').each(function () {
        if ($(this).val() == product) {
            $(this).attr('selected', true);

        }
    });

    var product1 = @Model.Product1Id
    $("#product1id").children('option').each(function () {
        if ($(this).val() == product1) {
            $(this).attr('selected', true);
        }
    });

    var product2 = @Model.Product2Id
    $("#product2id").children('option').each(function () {
        if ($(this).val() == product2) {
            $(this).attr('selected', true);
        }
    });

    var product3 = @Model.Product3Id
    $("#product2id").children('option').each(function () {
        if ($(this).val() == product3) {
            $(this).attr('selected', true);
        }
    });

    var taxacao = @Model.TaxationTypeId
    $("#taxaType").children('option').each(function () {
        if ($(this).val() == taxacao) {
            $(this).attr('selected', true);
            if (taxacao === 5 || taxacao === 8) {
                $("input[name=Mva]").prop("disabled", false);
                $("input[name=Fecop]").prop("disabled", false);
                $("input[name=BCR]").prop("disabled", true);
            } else if (taxacao === 6) {
                $("input[name=Mva]").prop("disabled", false);
                $("input[name=Fecop]").prop("disabled", false);
                $("input[name=BCR]").prop("disabled", false);
            } else {
                $("input[name=Mva]").prop("disabled", true);
                $("input[name=Fecop]").prop("disabled", true);
                $("input[name=BCR]").prop("disabled", true);
            }
            if (taxacao == 0) {
                document.getElementById('taxar').disabled = true;
            }
            else {
                document.getElementById('taxar').disabled = false;
            }

        }
    });

    $("#taxaType").on("change", function () {
        if ($(this).val() == 5 || $(this).val() == 8) {
            $("input[name=Mva]").prop("disabled", false);
            $("input[name=Fecop]").prop("disabled", false);
            $("input[name=BCR]").prop("disabled", true);
            $("input[name=BCR]").prop("value", "");

            if (parseFloat($("input[name=AliqInterna]").val()) === 18) { 
                $("input[name=Fecop]").prop("value", "1");
            } else if (parseFloat($("input[name=AliqInterna]").val()) === 19) {
                $("input[name=Fecop]").prop("value", "2");
            } else if (parseFloat($("input[name=AliqInterna]").val()) === 29) {
                $("input[name=Fecop]").prop("value", "2");
            } else if (parseFloat($("input[name=AliqInterna]").val()) === 12) {
                $("input[name=Fecop]").prop("value", "");
            } else {
                $("input[name=Fecop]").prop("value", "");
            }
        } else if ($(this).val() == 6) {
            $("input[name=Mva]").prop("disabled", false);
            $("input[name=Fecop]").prop("disabled", false);
            $("input[name=BCR]").prop("disabled", false);

            if (parseFloat($("input[name=AliqInterna]").val()) === 18) {
                $("input[name=Fecop]").prop("value", "1");
            } else if (parseFloat($("input[name=AliqInterna]").val()) === 19) {
                $("input[name=Fecop]").prop("value", "2");
            } else if (parseFloat($("input[name=AliqInterna]").val()) === 29) {
                $("input[name=Fecop]").prop("value", "2");
            } else if (parseFloat($("input[name=AliqInterna]").val()) === 12) {
                $("input[name=Fecop]").prop("value", "");
            } else {
                $("input[name=Fecop]").prop("value", "");
            }
        }  else {
            $("input[name=Mva]").prop("disabled", true);
            $("input[name=Mva]").prop("value", "");
            $("input[name=Fecop]").prop("disabled", true);
            $("input[name=Fecop]").prop("value", "");
            $("input[name=BCR]").prop("disabled", true);
            $("input[name=BCR]").prop("value", "");
        }

    });

    $("input[name=AliqInterna]").focusout(function () {
        if (parseFloat($("input[name=AliqInterna]").val()) === 18) {
            $("input[name=Fecop]").prop("value", "1");
        } else if (parseFloat($("input[name=AliqInterna]").val()) === 19) {
            $("input[name=Fecop]").prop("value", "2");
        } else if (parseFloat($("input[name=AliqInterna]").val()) === 29) {
            $("input[name=Fecop]").prop("value", "2");
        } else if (parseFloat($("input[name=AliqInterna]").val()) === 12) {
            $("input[name=Fecop]").prop("value", "");
        } else {
            $("input[name=Fecop]").prop("value", "");
        }
    });

    function Enviar() {
        $("#taxaType").children('option').each(function () {
            if ($(this).val() === 0) {
                alert('Selecione uma tributação');
            }
        });
    }

    $("#checkbox").on("change", "input[type='checkbox']", function () {
        if ($(this).prop("checked")) {
            $("#productid").prop("disabled", false);
            $("#product1id").prop("disabled", false);
            $("#product2id").prop("disabled", false);
            $("#product3id").prop("disabled", false);
            $("#quant").prop("disabled", false);
        } else {
            $("#productid").prop("disabled", true);
            $("#product1id").prop("disabled", true);
            $("#product2id").prop("disabled", true);
            $("#product3id").prop("disabled", true);
            $("#quant").prop("disabled", true);
        }
    });
</script>