@model Escon.SisctNET.Model.ProductNote

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="ProductNote" asp-action="Index" asp-route-noteId="@Model.NoteId" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong>Tributação</strong></h3>
    </div>
    <div class="box-body">
        @if (ViewBag.Erro == 1)
        {
            <p style="text-align:center;color:red;"><strong>O NCM @Model.Ncm não foi cadastrado</strong></p>
        }
        else
        {
            <div class="col-lg-12" style="font-size:12px;">
                <form asp-action="Product" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label asp-for="Note.Nnf" class="control-label"></label>
                            <input asp-for="Note.Nnf" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">Emissão</label>
                            <input type="text" class="form-control" value="@Model.Note.Dhemi.ToString("dd/MM/yyyy")" disabled />
                            <input type="hidden" name="Dhemi" id="Dhemi" class="form-control" value="@Model.Note.Dhemi.ToString("yyyy/MM/dd")" />
                        </div>
                        <div class="form-group col-lg-1 col-md-4 col-xs-4">
                            <label class="control-label">UF</label>
                            <input type="text" class="form-control" value="@Model.Note.Uf" name="Uf" disabled />
                        </div>
                        <div class="form-group col-lg-7 col-md-12 col-xs-12">
                            <label class="control-label">Fornecedor</label>
                            <textarea asp-for="Note.Xnome" class="form-control" style="font-size:12px;" disabled></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-3 col-xs-3">
                            <label asp-for="Cprod" class="control-label"></label>
                            <input asp-for="Cprod" class="form-control" style="font-size:12px;" disabled>
                        </div>
                        <div class="form-group col-lg-9 col-md-9 col-xs-9">
                            <label asp-for="Xprod" class="control-label"></label>
                            <textarea asp-for="Xprod" class="form-control" style="font-size:12px;" disabled></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-9 col-md-9 col-xs-9">
                            <label class="control-label">NCM</label>
                            <textarea class="form-control" style="font-size:12px;" disabled>@ViewBag.Ncm.Description</textarea>
                            <input type="hidden" name="ncmId" value="@ViewBag.Ncm.Id">
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-xs-3">
                            <label asp-for="Cest" class="control-label"></label>
                            <input asp-for="Cest" class="form-control" style="font-size:12px;" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-12 col-xs-12">
                            <div style="color:red">1 - Normal</div>
                            <div style="color:red">2 - Substituição Tributária</div>
                            <label asp-for="TaxationTypeId" class="control-label"></label>
                            <select asp-items="@ViewBag.TaxationTypeId" class="form-control selectoption" name="TaxationTypeId" id="taxaType" onchange="escolherTipoUso()"></select>
                        </div>
                        <div class="form-group col-lg-1 col-md-6 col-xs-6">
                            <label asp-for="Ucom" class="control-label"></label>
                            <input asp-for="Ucom" class="form-control" style="font-size:12px;" disabled />
                            <label asp-for="Cfop" class="control-label"></label>
                            <input asp-for="Cfop" class="form-control" disabled />

                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-6">
                            <label asp-for="Qcom" class="control-label"></label>
                            <input asp-for="Qcom" class="form-control" disabled />
                            <label asp-for="Picms" class="control-label"></label>
                            <input type="text" asp-for="Picms" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-6">
                            <label asp-for="Vuncom" class="control-label"></label>
                            <input asp-for="Vuncom" class="form-control" type="text" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vuncom))" disabled />
                            <label asp-for="Vicms" class="control-label"></label>
                            <input asp-for="Vicms" class="form-control " value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vicms))" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-6">
                            <label asp-for="Vprod" class="control-label"></label>
                            <input asp-for="Vprod" class="form-control" type="text" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vprod))" disabled />
                            <label asp-for="Vipi" class="control-label"></label>
                            <input asp-for="Vipi" class="form-control" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vipi))" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-12 col-xs-12">
                            <label asp-for="Vdesc" class="control-label"></label>
                            <input asp-for="Vdesc" class="form-control" value="@string.Format("{0:C}",Convert.ToDecimal(Model.Vdesc))" disabled />
                            <label asp-for="IcmsST" class="control-label"></label>
                            <input asp-for="IcmsST" class="form-control" value="@string.Format("{0:C}",Convert.ToDecimal(Model.IcmsST))" disabled />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-2 col-md-6 col-xs-4" id="eBcr">
                            <label asp-for="EBcr" class="control-label">BCR</label> <br />
                            @Html.CheckBoxFor(model => model.EBcr, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label asp-for="AliqInterna" class="control-label"></label>
                            <input type="text" name="AliqInterna" id="AliqInterna" class="form-control money" value="@ViewBag.Aliquot" required />
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">FECOP (%)</label>
                            @if (Convert.ToDateTime(Model.Note.Dhemi.ToString("dd/MM/yyyy")).Date < Convert.ToDateTime("08/12/2022").Date)
                            {
                                @if (Model.TaxationType.Type.Equals("ST"))
                                {
                                    <input type="text" name="Fecop" id="Fecop" class="form-control money" value="@Model.Fecop" />
                                }
                                else
                                {
                                    @if (Model.Fecop.Equals(null))
                                    {
                                        <input type="text" name="Fecop" id="Fecop" class="form-control money" disabled="disabled" />

                                    }
                                    else
                                    {
                                        <input type="text" name="Fecop" id="Fecop" class="form-control money" value="@Model.Fecop" />
                                    }
                                }
                            }
                            else
                            {
                                @if (Model.Fecop.Equals(null))
                                {
                                    <input type="text" name="Fecop" id="Fecop" class="form-control money" disabled="disabled" />

                                }
                                else
                                {
                                    <input type="text" name="Fecop" id="Fecop" class="form-control money" value="@Model.Fecop" />
                                }
                            }
                        </div>
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">* INCISO (%)</label>
                            @if (Model.Note.Company.Chapter.Name.Equals("NENHUM"))
                            {
                                <input type="text" name="PercentualInciso" class="form-control money" disabled="disabled" />
                            }
                            else
                            {
                                @if (Model.Note.Company.Chapter.Name.Equals("CAPÍTULO IV-C"))
                                {
                                    <input type="text" name="PercentualInciso" class="form-control money" value="@Model.PercentualInciso" />
                                }
                                else
                                {
                                    <input type="text" name="PercentualInciso" class="form-control money" disabled="disabled" />
                                }
                            }
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-xs-4">
                            <label class="control-label">MVA (%)</label>
                            <input type="text" name="Mva" id="Mva" class="form-control money" value="@Model.Mva" disabled="disabled" />
                        </div>

                        <div class="form-group col-lg-2 col-md-2 col-xs-4">
                            <label class="control-label">BCR (%)</label>
                            @if(Model.EBcr == true)
                            {
                                <input type="text" name="BCR" id="BCR" class="form-control money" value="@Model.BCR" required />
                            }
                            else
                            {
                                <input type="text" name="BCR" id="BCR" class="form-control money" disabled="disabled" />
                            }
                        </div>                      
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-xs-12">
                            <label class="control-label">Aliquota Interestadual BCR (%)</label>
                            @if (Convert.ToDecimal(Model.PicmsBCR) > 0)
                            {
                                <input type="text" name="PicmsBCR" id="PicmsBCR" class="form-control money" value="@Model.PicmsBCR" required />
                            }
                            else
                            {
                                <input type="text" name="PicmsBCR" id="PicmsBCR" class="form-control money" disabled="disabled" />
                            }
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-12">
                            <label class="control-label">Aliquota Interna BCR (%)</label>
                            @if (Convert.ToDecimal(Model.AliqInternaBCR) > 0)
                            {
                                <input type="text" name="AliqInternaBCR" id="AliqInternaBCR" class="form-control money" value="@Model.AliqInternaBCR" required />
                            }
                            else
                            {
                                <input type="text" name="AliqInternaBCR" id="AliqInternaBCR" class="form-control money" disabled="disabled" />
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-1 col-md-6 col-xs-6" id="pauta">
                            <label asp-for="Pautado" class="control-label">Pautado</label> <br />
                            @Html.CheckBoxFor(model => model.Pautado, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "primary", @readonly = "true"})
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-6">
                            <label class="control-label">Quantidade da Pauta</label>

                            @if (Model.Pautado == true)
                            {
                                <input type="text" class="form-control" name="Qpauta" id="Qpauta" value="@Model.Qpauta" />
                            }
                            else
                            {
                                <input type="text" class="form-control" name="Qpauta" id="Qpauta" disabled="disabled" />
                            }
                        </div>

                        <div class="form-group col-lg-9 col-md-12 col-xs-12">
                            <label asp-for="ProductId" class="control-label"></label>

                            @if (Model.Pautado == true)
                            {
                                <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="ProductId" id="ProductId" onchange="escolherProduto()"></select>
                            }
                            else
                            {
                                <select asp-items="@ViewBag.ProductId" class="form-control selectoption" name="ProductId" id="ProductId" disabled="disabled" onchange="escolherProduto()"></select>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label asp-for="DateStart" class="control-label"></label>
                            <input type="date" asp-for="DateStart" class="form-control" name="DateStart" />
                        </div>
                         <div class="form-group col-lg-2 col-md-4 col-xs-4">
                            <label class="control-label">Produto</label>
                            <select asp-for="Produto" class="form-control selectoption" name="produto">
                                @if (Model.Produto == null)
                                {
                                    <option value="Normal" selected>Normal</option>
                                    <option value="Especial">Especial</option>
                                }
                                else
                                {
                                    @if (Model.Produto.Equals("Especial"))
                                    {
                                        <option value="Normal">Normal</option>
                                        <option value="Especial" selected>Especial</option>
                                    }
                                    else
                                    {
                                        <option value="Normal" selected>Normal</option>
                                        <option value="Especial">Especial</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <input type="submit" value="Tributar" id="taxar" class="btn btn-success pull-right" />
                    </div>
                </form>
                
                <p>* Percentual Capítulo IV - C Do regime especial de substituição tributária aplicável às operações com autopeças, componentes e acessórios para motocicletas</p>

            </div>
        }
    </div>
</div>

<script type="text/javascript">

    function escolherTipoUso() {
        var taxaType = parseInt($("#taxaType").val());

        if (taxaType == 10) {
            alert('Selecione um Tipo de Uso');
            document.getElementById('taxar').disabled = true;
        } else {
            if ($("#Pautado").prop("checked")) {
                var productId = parseInt($("#ProductId").val());

                if (productId === 0) {
                    alert('Selecione um Produto da Pauta');
                    document.getElementById('taxar').disabled = true;
                } else {
                    document.getElementById('taxar').disabled = false;
                }
            } else {
                document.getElementById('taxar').disabled = false;
            }
        }
    }

    function escolherProduto() {
        var taxaType = parseInt($("#taxaType").val());

        if (taxaType == 10) {
            alert('Selecione um Tipo de Uso');
            document.getElementById('taxar').disabled = true;
        } else {
            var productId = parseInt($("#ProductId").val());

            if (productId === 0) {
                alert('Selecione um Produto da Pauta');
                document.getElementById('taxar').disabled = true;
            } else {
                document.getElementById('taxar').disabled = false;
            }
        }
    }

    var product = @Model.ProductId
    $("#ProductId").children('option').each(function () {
        if ($(this).val() == product) {
            $(this).attr('selected', true);
        }
    });

    var taxacao = @Model.TaxationTypeId
    $("#taxaType").children('option').each(function () {
        if ($(this).val() == taxacao) {
            $(this).attr('selected', true);

            if (taxacao === 5 || taxacao === 6 || taxacao === 8) {
                $("#Mva").prop("disabled", false);
                $("#Mva").prop('required', true);
            } else {
                $("#Mva").prop("disabled", true);
                $("#Mva").prop('required', false);
            }

            if (taxacao == 10) {
                document.getElementById('taxar').disabled = true;
            } else {
                document.getElementById('taxar').disabled = false;
            }
        }
    });

    var Dhemi = $("#Dhemi").val();
    var data = "2022/12/08"

    $("#taxaType").on("change", function () {
        var aliqInterna = parseFloat($("#AliqInterna").val());

        if ($(this).val() == 5 || $(this).val() == 6 || $(this).val() == 8) {
            $("#Mva").prop("disabled", false);
            $("#Mva").prop('required', true);

            if ($(this).val() == 6) {
                $("#BCR").prop("disabled", false);
                $("#BCR").prop('required', true);
            } else {
                $("#BCR").prop("disabled", true);
                $("#BCR").prop('required', false);
            }

            if (Dhemi < data) {
                if (aliqInterna === 18) {
                    $("#Fecop").prop("disabled", false);
                    $("#Fecop").prop('required', true);
                    $("#Fecop").prop("value", "1");
                } else if (aliqInterna === 19 || aliqInterna === 23 || aliqInterna === 29 || aliqInterna === 35) {
                    $("#Fecop").prop("disabled", false);
                    $("#Fecop").prop('required', true);
                    $("#Fecop").prop("value", "2");
                } else {
                    $("#Fecop").prop("value", "");
                    $("#Fecop").prop('required', false);
                    $("#Fecop").prop("disabled", true);
                }
            } else {
                if (aliqInterna === 23 || aliqInterna === 29 || aliqInterna === 35) {
                    $("#Fecop").prop("disabled", false);
                    $("#Fecop").prop('required', true);
                    $("#Fecop").prop("value", "2");
                } else {
                    $("#Fecop").prop("value", "");
                    $("#Fecop").prop('required', false);
                    $("#Fecop").prop("disabled", true);
                }
            }
        } else {
            $("#Mva").prop("value", "");
            $("#Mva").prop("disabled", true);
            $("#Mva").prop('required', false);
            $("#BCR").prop("value", "");
            $("#BCR").prop("disabled", true);
            $("#BCR").prop('required', false);
            $("#Fecop").prop("value", "");
            $("#Fecop").prop("disabled", true);
            $("#Fecop").prop('required', false);
        }

    });

    $("#AliqInterna").focusout(function () {
        var aliqInterna = parseFloat($("#AliqInterna").val());

        if (Dhemi < data) {
            if (aliqInterna === 18) {
                $("#Fecop").prop('required', true);
                $("#Fecop").prop("value", "1");
            } else if (aliqInterna === 19 || aliqInterna === 23 || aliqInterna === 29 || aliqInterna === 35) {
                $("#Fecop").prop('required', true);
                $("#Fecop").prop("value", "2");
            } else {
                $("#Fecop").prop("value", "");
                $("#Fecop").prop('required', false);
                $("#Fecop").prop("disabled", true);
            }
        } else {
            if (aliqInterna === 23 || aliqInterna === 29 || aliqInterna === 35) {
                $("#Fecop").prop("disabled", false);
                $("#Fecop").prop('required', true);
                $("#Fecop").prop("value", "2");
            } else {
                $("#Fecop").prop("value", "");
                $("#Fecop").prop('required', false);
                $("#Fecop").prop("disabled", true);
            }
        }
    });

    $("#pauta").on("change", "input[type='checkbox']", function () {
        if ($(this).prop("checked")) {
            alert('Selecione um Produto da Pauta');
            $("#Qpauta").prop("disabled", false);
            $("#ProductId").prop("disabled", false);
            document.getElementById('taxar').disabled = true;
        } else {
            $("#Qpauta").prop("value", "");
            $("#Qpauta").prop("disabled", true);
            $("#ProductId").prop("disabled", true);
            document.getElementById('taxar').disabled = false;
        }
    });

    $("#eBcr").on("change", "input[type='checkbox']", function () {
        if ($(this).prop("checked")) {
            $("#BCR").prop("disabled", false);
            $("#BCR").prop('required', true);
            $("#BCR").prop("value", "");
        } else {
            $("#BCR").prop("value", "");
            $("#BCR").prop('required', false);
            $("#BCR").prop("disabled", true);
        }
    });

</script>