@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@{
    ViewData["Title"] = "Relatory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table > thead > tr > th {
        border-bottom: 2px solid;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid;
    }
</style>

<div class="box box-primary" style="margin:-10px;">

    <div class="box-header">
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/img/sisCT.png" style="width:25%; height:60%; float:left;" />
                    <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
                </div>
            </div>

            <div style="text-align:center;">
                <strong>@ViewBag.Company.SocialName</strong> <br />
                <b>CNPJ: </b>@ViewBag.Company.Document <b>Insc. Estadual: </b> @ViewBag.Company.Ie
            </div>

            @await Html.PartialAsync("_ReportTypeName", new ViewDataDictionary(ViewData))

        </div>
        <div class="form-group col-lg-12 col-md-12 col-xs-12" style="text-align:right;">
            <strong>Periodo: @SessionManager.GetMonthInSession()/@SessionManager.GetYearInSession() </strong>
            <input type="hidden" value="@(@SessionManager.GetYearInSession())" id="periodYear" />
            <input type="hidden" value="@(@SessionManager.GetMonthInSession())" id="periodMonth" />
        </div>

    </div>


    <div class="box-body">

        <div style="width:100%;padding:2px;" id="mainTable">

            @if (ViewBag.Erro == 1)
            {
                <p style="text-align:center;color:red;"><strong>OS DADOS PARA CALCULAR ICMS NÃO FORAM IMPORTADO</strong></p>
            }
            else if (ViewBag.Erro == 2)
            {
                <p style="text-align:center;color:red;"><strong>OS DADOS PARA CALCULAR ANEXO CCCXVI NÃO FORAM IMPORTADO</strong></p>
            }
            else if (ViewBag.Erro == 3)
            {
                <p style="text-align:center;color:red;"><strong>OS DADOS PARA CALCULAR ICMS PRODUTOR RURAL NÃO FORAM IMPORTADO</strong></p>
            }
            else if (ViewBag.Erro == 4)
            {
                <p style="text-align:center;color:red;"><strong>HÁ PRODUTO NÃO TRIBUTADO</strong></p>
            }
            else if (ViewBag.Erro == 5)
            {
                <p style="text-align:center;color:red;"><strong>HÁ NOTA NÃO IMPORTADA</strong></p>
            }
            else if (ViewBag.Erro == 6)
            {
                <!-- Apuração Negativa -->
                @await Html.PartialAsync("_NegativeTax", new ViewDataDictionary(ViewData))
            }
            else
            {

                @if (ViewBag.Type == "Geral")
                {
                    <!-- Relatório Geral dos Impostos -->
                    @await Html.PartialAsync("_GeneralReport", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Type == "GNRE" || ViewBag.Type == "IcmsST" || ViewBag.Type == "ProdutoFI" || 
                    ViewBag.Type == "ProdutoFP" || ViewBag.Type == "ProdutoP" || ViewBag.Type == "ProdutoPMC" || ViewBag.Type == "IcmsProdutor")
                {
                    <table class="table" style="font-size:8px; border: 2px solid;">
                        @if (ViewBag.Type == "GNRE")
                        {
                            <!-- Relatório GNRE -->
                            @await Html.PartialAsync("_GnreReport", new ViewDataDictionary(ViewData))
                        }
                        else if (ViewBag.Type == "IcmsST")
                        {
                            <!-- Relatório Produtos Substituição Tributária -->
                            @await Html.PartialAsync("_IcmsSt", new ViewDataDictionary(ViewData))
                        }
                        else if (ViewBag.Type == "ProdutoFI")
                        {
                            <!-- Relatório Produtos Fora do Incentivo -->
                            @await Html.PartialAsync("_ProductFIncentivoReport", new ViewDataDictionary(ViewData))
                        }
                        else if (ViewBag.Type == "ProdutoFP")
                        {
                            <!-- Relatório Produtos Fora da Pauta -->
                            @await Html.PartialAsync("_ProductFPautaReport", Model, new ViewDataDictionary(ViewData))
                        }
                        else if (ViewBag.Type == "ProdutoP")
                        {
                            <!-- Relatório Produtos Dentro da Pauta -->
                            @await Html.PartialAsync("_ProductPautaReport", Model, new ViewDataDictionary(ViewData))
                        }
                        else if (ViewBag.Type == "ProdutoPMC")
                        {
                            <!-- Relatório Produtos Preço da Pauta Menor que o Preço de Custo -->
                            @await Html.PartialAsync("_ProductPautaMCostReport", Model, new ViewDataDictionary(ViewData))
                        }
                        else if (ViewBag.Type == "IcmsProdutor")
                        {
                            <!-- Relatório ICMS Produtor Rural -->
                            @await Html.PartialAsync("_IcmsProducer", Model, new ViewDataDictionary(ViewData))
                        }
                    </table>
                }
                else
                {
                    @if (ViewBag.Type == "Produto" || ViewBag.Type == "ProdutoI" || ViewBag.Type == "ProdutoNI" || ViewBag.Type == "Nota" ||
                         ViewBag.Type == "NotaI" || ViewBag.Type == "NotaNI" || ViewBag.Type == "AgrupadoA" || ViewBag.Type == "AgrupadoS" ||
                         ViewBag.Type == "RegimeBA" || ViewBag.Type == "RegimeBA2")
                    {
                        <table class="table" style="font-size:8px; border: 2px solid;">

                            @if (ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "NotaI" || ViewBag.Type == "NotaNI" ||
                                ViewBag.Type == "ProdutoI" || ViewBag.Type == "ProdutoNI" || ViewBag.Type == "RegimeBA" || ViewBag.Type == "RegimeBA2")
                            {
                                <!-- Produtos -->
                                @await Html.PartialAsync("_ProductReport", Model, new ViewDataDictionary(ViewData))
                            }
                            else if (ViewBag.Type == "AgrupadoA")
                            {
                                <!-- Produtos Agrupado -->
                                @await Html.PartialAsync("_ProductGroupedAnalyticalReport", Model, new ViewDataDictionary(ViewData))
                            }
                            else if (ViewBag.Type == "AgrupadoS")
                            {
                                <!-- Produtos Sintético -->
                                @await Html.PartialAsync("_ProductGroupedSyntheticReport", Model, new ViewDataDictionary(ViewData))
                            }

                        </table>

                        <!-- Resumo Produtos -->
                        @await Html.PartialAsync("_SummaryProducts", new ViewDataDictionary(ViewData))

                        if (ViewBag.TypeTaxation != "Isento" && ViewBag.TypeTaxation != "NT")
                        {
                            <!-- Resumo Imposto -->
                            @await Html.PartialAsync("_TaxSummary", new ViewDataDictionary(ViewData))
                        }
                    }

                    @if (ViewBag.Company.Incentive == true && (!ViewBag.Company.Annex.Description.Equals("NENHUM") || ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-C")) &&
                         ViewBag.Type != "ProdutoNI" && ViewBag.TypeTaxation == "ST" && ViewBag.Type != "Nota" && ViewBag.Type != "NotaI" && ViewBag.Type != "NotaNI" || ViewBag.Type == "RegimeBA" ||
                         ViewBag.Type == "RegimeBA2")
                    {
                        <!-- Resumo Imposto Incentivo -->
                        @if ((ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "STMVA" || ViewBag.TypeTaxation == "STMPAUTA") &&
                       ViewBag.Type != "ProdutoI")
                        {
                            @await Html.PartialAsync("_GeneralReportIncentive", new ViewDataDictionary(ViewData))
                            @if (ViewBag.Type != "RegimeBA" || ViewBag.Type != "RegimeBA2")
                            {
                                @await Html.PartialAsync("_GeneralSummaryTaxIncentive", new ViewDataDictionary(ViewData))
                            }
                        }
                        else if (ViewBag.TypeTaxation == "ST" || ViewBag.TypeTaxation == "STMVA" || ViewBag.TypeTaxation == "STMPAUTA")
                        {
                            @await Html.PartialAsync("_IncentiveTaxSummary", new ViewDataDictionary(ViewData))
                        }

                    }
                }
            }
        </div>

        <!--
            <div class="box-footer no-print">
                <div class=" pull-right">
                      <a class="btn btn-success" id="downloadLink" onclick="exportExcel(this)">Gerar Excel</a>
                </div>
            </div>
        -->

    @if (ViewBag.Erro != 1 && ViewBag.Erro != 2 && ViewBag.Erro != 4 && ViewBag.Erro != 5 && ViewBag.Erro != 6 && ViewBag.Type == "Geral")
    {
        <div class="box-footer no-print">
            <div class=" pull-right">
                <!--
                    <a class="btn btn-primary" id="downloadLink" onclick="exportExcel(this)">Gerar Excel</a>
                -->
            </div>
         
            <br />
            <br />

            <div class="barcode" style="font-size:15px;">
                10540558000113
            </div>
            <div class="pull-left">
                <i class="fa fa-warning"></i>
                <span id="responseMessageGenerateBillet" style="font-style:italic;color:red;">Ao clicar no botão ao lado o documento DAR será gerado e o boleto enviado para o cliente.</span>
            </div>

            @await Html.PartialAsync("_ButtonGenerateBillet", new ViewDataDictionary(ViewData))
        </div>

    }

</div>

    @if (ViewBag.Erro != 1 && ViewBag.Erro != 2 && ViewBag.Erro != 4 && ViewBag.Erro != 5 && ViewBag.Erro != 6 && ViewBag.Type == "Geral")
    {
        <br />
        <br />
        <div class="box box-warning no-print" style="margin:-10px;">
            <div class="box-header">
                <div class="box-title">
                    <i class="fa fa-list"></i>
                    DAR Gerados
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="responseBarCodeGenerateBillet" style="padding:15px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

<script type="text/javascript">
    function exportExcel(elem) {
        var archive = "@ViewBag.Company.SocialName" + "-" + @ViewBag.Company.Document + ".xls";
        var table = document.getElementById("mainTable");
        var html = table.outerHTML;
        var url = 'data:application/vnd.ms-excel,' + escape(html);
        elem.setAttribute("href", url);
        elem.setAttribute("download", archive);
            return false;
    }
</script>
