@model IEnumerable<Escon.SisctNET.Model.ProductNote>

@{
    ViewData["Title"] = "Relatory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<<<<<<< HEAD

<style>
    .table > thead > tr > th {
        border-bottom: 2px solid;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid;
    }
</style>

<div class="box box-primary" style="margin:-10px;">
    <div class="box-header">
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/img/logo-sisct.png" style="width:25%; height:60%; float:left;" />
                    <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
                </div>
            </div>
=======
<style>
    .table > thead > tr > th {
        border-bottom: 2px solid;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid;
    }
</style>

<div class="box box-primary" style="margin:-10px;">

    <div class="box-header">
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/img/logo-sisct.png" style="width:25%; height:60%; float:left;" />
                    <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
                </div>
            </div>

        </div>
>>>>>>> origin/integracao/darweb

        <div style="text-align:center;">
            <strong>@ViewBag.SocialName - @ViewBag.Document</strong>
        </div>

<<<<<<< HEAD
        <div style="text-align:center;">
            <strong>@ViewBag.SocialName - @ViewBag.Document</strong>
        </div>

=======
>>>>>>> origin/integracao/darweb
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
<<<<<<< HEAD

                        @await Html.PartialAsync("_ReportTypeName", new ViewDataDictionary(ViewData))

                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-xs-12" style="text-align:right;">
                        <strong>Periodo: @ViewBag.Month/@ViewBag.Year </strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="box-body">

        @if (ViewBag.Type == "Geral" || ViewBag.Type == "GNRE" || ViewBag.Type == "IcmsST")
        {
            <div style="width:100%;padding:10px; padding-top:-10px;">
                @if (ViewBag.Type == "Geral")
                {
                    @await Html.PartialAsync("_GeneralReport", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Type == "GNRE")
                {
                    @await Html.PartialAsync("_GnreReport", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Type == "IcmsST")
                {
                    @await Html.PartialAsync("_IcmsSt", new ViewDataDictionary(ViewData))
                }
            </div>
        }

        @if (ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "ProdutoI" || ViewBag.Type == "ProdutoNI" ||
            ViewBag.Type == "ProdutoFP" || ViewBag.Type == "AgrupadoA" || ViewBag.Type == "AgrupadoS" && (ViewBag.Type != "Geral" && 
            ViewBag.Type != "GNRE" && ViewBag.Type != "IcmsST"))
        {
            <div style="width:100%; padding:10px; padding-left:1% ; padding-right:1%;">
                <table class="table" style="font-size:8px; border: 2px solid;">
                    @if (ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "ProdutoI" || ViewBag.Type == "ProdutoNI")
                    {
                        @await Html.PartialAsync("_ProductReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "ProdutoFP")
                    {
                        @await Html.PartialAsync("_ProductFPautaReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "AgrupadoA")
                    {
                        @await Html.PartialAsync("_ProductGroupedAnalyticalReport", Model, new ViewDataDictionary(ViewData))
                    }
                    else if (ViewBag.Type == "AgrupadoS")
                    {
                        @await Html.PartialAsync("_ProductGroupedSyntheticReport", Model, new ViewDataDictionary(ViewData))
                    }

                </table>
            </div>
        }
=======
                        @if (@ViewBag.type == 3)
                        {
                            <strong>Produtos sem preço de referência &nbsp;</strong>
                        }
                        @if (ViewBag.type == 4)
                        {
                            <strong>Agrupado - Analítico &nbsp;</strong>
                        }
                        @if (ViewBag.type == 5)
                        {
                            <strong>Agrupado - Sintético &nbsp;</strong>
                        }
                        @if (ViewBag.type == 6)
                        {
                            <strong>Resumo Geral das Entradas &nbsp;</strong>
                        }
                        @if (@ViewBag.TaxationType == 1)
                        {
                            <strong>Substituição Tributária por MVA</strong>
                        }
                        else if (@ViewBag.TaxationType == 2)
                        {
                            <strong>Antecipação Parcial</strong>
                        }
                        else if (@ViewBag.TaxationType == 3)
                        {
                            <strong>Consumo</strong>
                        }
                        else if (@ViewBag.TaxationType == 4)
                        {
                            <strong>Consumo p/ Revenda</strong>
                        }
                        else if (@ViewBag.TaxationType == 5)
                        {
                            <strong>Imobilizado</strong>
                        }
                        else if (@ViewBag.TaxationType == 6)
                        {
                            <strong>Isento</strong>
                        }
                        else if (@ViewBag.TaxationType == 7)
                        {
                            <strong>Antecipação Total</strong>
                        }
                        @if (ViewBag.type == 7)
                        {
                            <strong>&nbsp;Produto Incentivado</strong>
                        }
                        @if (ViewBag.type == 8)
                        {
                            <strong>&nbsp;Produto Não Incentivado</strong>
                        }
                        @if (ViewBag.type == 9)
                        {
                            <strong>&nbsp;ICMS ST NFe sem IE</strong>
                        }
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-xs-12" style="text-align:right;">
                        <strong>Periodo: @ViewBag.Month/@ViewBag.Year </strong>
                        <input type="hidden" value="@(@ViewBag.Year)" id="periodYear" />
                        <input type="hidden" value="@(@ViewBag.Month)" id="periodMonth" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="box-body">
        <div style="width:100%; overflow:hidden; padding:20px; padding-right:23px;">
            <table class="table" style="font-size:8px; border: 2px solid;">
                @if (ViewBag.type == 1 || ViewBag.type == 2 || ViewBag.type == 7 || ViewBag.type == 8)
                {
                    @if (@ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7)
                    {
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nota</th>
                                <th>Produto</th>
                                <th>Dia/Mês</th>
                                <th>Valor da Nota</th>
                                <th>Valor dos Produtos</th>
                                <th>Valor IPI</th>
                                <th>Frete Nº</th>
                                <th>Valor Frete</th>
                                <th>Total BC</th>
                                <th>MVA(%)</th>
                                <th>Base de Cálculo ICMS</th>
                                @if (@ViewBag.TaxationType == 1)
                                {
                                    <th>BCR(%)</th>
                                    <th>Base de Cálculo Reduzida</th>
                                }
                                <th>Aliq Int(%)</th>
                                <th>Valor imp AC</th>
                                <th>Nfe</th>
                                <th>CTe</th>
                                <th>ICMS ST NFe</th>
                                <th>Total ICMS</th>
                                <th>Total Fecop</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.Note.Iest == "")
                                    {
                                        <td><strong>S</strong></td>
                                    }
                                    else
                                    {
                                        <td><strong>I</strong></td>
                                    }

                                    <td>@Html.DisplayFor(modelItem => item.Nnf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Xprod)</td>
                                    <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                    <td>@Html.DisplayFor(modelItem => item.Note.Vnf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vprod)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vipi)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Note.Nct)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Freterateado)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vbasecalc)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Mva)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Valoragregado)</td>
                                    @if (@ViewBag.TaxationType == 1)
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.BCR)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ValorBCR)</td>
                                    }
                                    <td>@Html.DisplayFor(modelItem => item.Aliqinterna)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ValorAC)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vicms)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IcmsCTe)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IcmsST)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalICMS)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalFecop)</td>
                                    @if (item.Pautado == true)
                                    {
                                        <td>P</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    }
                    else if (@ViewBag.TaxationType >= 2 && @ViewBag.TaxationType <= 5)
                    {
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nota</th>
                                <th>Produto</th>
                                <th>UF</th>
                                <th>Dia/Mês</th>
                                <th>Valor da Nota</th>
                                <th>Valor dos Produtos</th>
                                <th>Frete NFe</th>
                                <th>Frete Nº</th>
                                <th>Frete CTe</th>
                                <th>Valor IPI</th>
                                <th>Base de Cálculo ICMS</th>
                                <th>Aliq Intra(%)</th>
                                <th>Aliq Inter(%)</th>
                                <th>Dif</th>
                                <th>ICMS Apurado</th>
                                <th>ICMS ST NFe</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.Note.Iest == "")
                                    {
                                        <td><strong>S</strong></td>
                                    }
                                    else
                                    {
                                        <td><strong>I</strong></td>
                                    }
                                    <td>@Html.DisplayFor(modelItem => item.Nnf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Xprod)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Note.Uf)</td>
                                    <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                    <td>@Html.DisplayFor(modelItem => item.Note.Vnf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vprod)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vfrete)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Note.Nct)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Freterateado)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vipi)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vbasecalc)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Aliqinterna)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Picms)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Diferencial)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IcmsApurado)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IcmsST)</td>
                                </tr>

                            }
                        </tbody>
                    }
                    else if (@ViewBag.TaxationType == 6)
                    {
                        <thead>
                            <tr>
                                <th>Nota</th>
                                <th>Produtos</th>
                                <th>NCM</th>
                                <th>Valor dos produtos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Nnf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Xprod)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Ncm)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vprod)</td>
                                </tr>
                            }

                        </tbody>
                    }
                }
                else if (ViewBag.type == 3)
                {
                    <thead>
                        <tr>
                            <th>Cod Produto</th>
                            <th>Produto</th>
                            <th>Ncm</th>
                            <th>Fornecedor</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.product)
                        {
                            <tr>
                                <td>@item.Cprod</td>
                                <td>@item.Xprod</td>
                                <td>@item.Ncm</td>
                                <td>@item.Note.Xnome</td>
                                <td>@item.Nnf</td>
                            </tr>
                        }
                    </tbody>
                }
                else if (ViewBag.type == 4)
                {
                    if (ViewBag.TaxationType >= 2 && @ViewBag.TaxationType <= 5)
                    {

                        @foreach (var note in ViewBag.NotasTaxation)
                        {
                            <thead>
                                <tr>
                                    <th>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Número da Nota</th>
                                                    <th>Fornecedor</th>
                                                    <th>Valor da Nota</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="font-weight:normal;">
                                                    <td>@note.Nnf</td>
                                                    <td>@note.Xnome</td>
                                                    <td>@note.Vnf</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th>UF</th>
                                                    <th>Dia/Mês</th>
                                                    <th>Valor da Nota</th>
                                                    <th>Valor dos Produtos</th>
                                                    <th>Frete NFe</th>
                                                    <th>Frete Nº</th>
                                                    <th>Frete CTe</th>
                                                    <th>Valor IPI</th>
                                                    <th>Base de Cálculo ICMS</th>
                                                    <th>Aliq Intra(%)</th>
                                                    <th>Aliq Inter(%)</th>
                                                    <th>Dif</th>
                                                    <th>ICMS Apurado</th>
                                                    <th>ICMS ST NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.Products)
                                                {
                                                    @if (note.Id.Equals(item.NoteId))
                                                    {
                                                        <tr>
                                                            <td>@item.Xprod</td>
                                                            <td>@item.Note.Uf</td>
                                                            <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                                            <td>@item.Note.Vnf</td>
                                                            <td>@item.Vprod</td>
                                                            <td>@item.Vfrete</td>
                                                            <td>@item.Note.Nct</td>
                                                            <td>@item.Freterateado</td>
                                                            <td>@item.Vipi</td>
                                                            <td>@item.Vbasecalc</td>
                                                            <td>@item.Aliqinterna</td>
                                                            <td>@item.Picms</td>
                                                            <td>@item.Diferencial</td>
                                                            <td>@item.IcmsApurado</td>
                                                            <td>@item.IcmsST</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </td>
                                </tr>
                            </tbody>

                        }

                    }
                    else if (ViewBag.TaxationType == 1 || ViewBag.TaxationType == 7)
                    {
                        @foreach (var note in ViewBag.NotasTaxation)
                        {
                            <thead>
                                <tr>
                                    <th>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Número da Nota</th>
                                                    <th>Fornecedor</th>
                                                    <th>Valor da Nota</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="font-weight:normal;">
                                                    <td>@note.Nnf</td>
                                                    <td>@note.Xnome</td>
                                                    <td>@note.Vnf</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nota</th>
                                                    <th>Produto</th>
                                                    <th>Dia/Mês</th>
                                                    <th>Valor da Nota</th>
                                                    <th>Valor dos Produtos</th>
                                                    <th>Valor IPI</th>
                                                    <th>Frete Nº</th>
                                                    <th>Valor Frete</th>
                                                    <th>Total BC</th>
                                                    <th>MVA(%)</th>
                                                    <th>Base de Cálculo ICMS</th>
                                                    @if (@ViewBag.TaxationType == 1)
                                                    {
                                                        <th>BCR(%)</th>
                                                        <th>Base de Cálculo Reduzida</th>
                                                    }
                                                    <th>Aliq Int(%)</th>
                                                    <th>Valor imp AC</th>
                                                    <th>Nfe</th>
                                                    <th>CTe</th>
                                                    <th>ICMS ST NFe</th>
                                                    <th>Total ICMS</th>
                                                    <th>Total Fecop</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.Products)
                                                {
                                                    @if (note.Id.Equals(item.NoteId))
                                                    {
                                                        <tr>
                                                            <td>@item.Nnf</td>
                                                            <td>@item.Xprod</td>
                                                            <td>@Convert.ToDateTime(item.Note.Dhemi).ToString("dd/MM")</td>
                                                            <td>@item.Note.Vnf</td>
                                                            <td>@item.Vprod</td>
                                                            <td>@item.Vipi</td>
                                                            <td>@item.Note.Nct</td>
                                                            <td>@item.Freterateado</td>
                                                            <td>@item.Vbasecalc</td>
                                                            <td>@item.Mva</td>
                                                            <td>@item.Valoragregado</td>
                                                            @if (@ViewBag.TaxationType == 1)
                                                            {
                                                                <td>@item.BCR</td>
                                                                <td>@item.ValorBCR</td>
                                                            }
                                                            <td>@item.Aliqinterna</td>
                                                            <td>@item.ValorAC</td>
                                                            <td>@item.Vicms</td>
                                                            <td>@item.IcmsCTe</td>
                                                            <td>@item.IcmsST</td>
                                                            <td>@item.TotalICMS</td>
                                                            <td>@item.TotalFecop</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                }
                else if (ViewBag.type == 5)
                {
                    if (ViewBag.TaxationType == 1 || ViewBag.TaxationType == 7)
                    {
                        <thead>
                            <tr>
                                <th>Nota</th>
                                <th>Fornecedor</th>
                                <th>Dia/Mês</th>
                                <th>Valor da Nota</th>
                                <th>Valor dos Produtos</th>
                                <th>Valor IPI</th>
                                <th>Frete Nº</th>
                                <th>Valor Frete</th>
                                <th>Total BC</th>
                                <th>Base de Cálculo ICMS</th>
                                @if (@ViewBag.TaxationType == 1)
                                {
                                    <th>Base de Cálculo Reduzida</th>
                                }
                                <th>Valor imp AC</th>
                                <th>Nfe</th>
                                <th>CTe</th>
                                <th>ICMS ST NFe</th>
                                <th>Total ICMS</th>
                                <th>Total Fecop</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < ViewBag.NotasTaxation.Count; i++)
                        {
                            <tbody>
                                <tr>
                                    <td>@ViewBag.NotasTaxation[i][0]</td>
                                    <td>@ViewBag.NotasTaxation[i][1]</td>
                                    <td>@ViewBag.NotasTaxation[i][2]</td>
                                    <td>@ViewBag.NotasTaxation[i][3]</td>
                                    <td>@ViewBag.NotasTaxation[i][4]</td>
                                    <td>@ViewBag.NotasTaxation[i][5]</td>
                                    <td>@ViewBag.NotasTaxation[i][6]</td>
                                    <td>@ViewBag.NotasTaxation[i][7]</td>
                                    <td>@ViewBag.NotasTaxation[i][8]</td>
                                    <td>@ViewBag.NotasTaxation[i][9]</td>
                                    @if (@ViewBag.TaxationType == 1)
                                    {
                                        <td>@ViewBag.NotasTaxation[i][10]</td>
                                    }
                                    <td>@ViewBag.NotasTaxation[i][11]</td>
                                    <td>@ViewBag.NotasTaxation[i][12]</td>
                                    <td>@ViewBag.NotasTaxation[i][13]</td>
                                    <td>@ViewBag.NotasTaxation[i][14]</td>
                                    <td>@ViewBag.NotasTaxation[i][15]</td>
                                    <td>@ViewBag.NotasTaxation[i][16]</td>
                                </tr>
                            </tbody>
                        }
                    }
                    else if (ViewBag.TaxationType >= 2 && @ViewBag.TaxationType <= 5)
                    {
                        <thead>
                            <tr>
                                <th>Nota</th>
                                <th>Fornecedor</th>
                                <th>Dia/Mês</th>
                                <th>Valor da Nota</th>
                                <th>Valor dos Produtos</th>
                                <th>Frete NFe</th>
                                <th>Frete Nº</th>
                                <th>Frete CTe</th>
                                <th>Valor IPI</th>
                                <th>Base de Cálculo ICMS</th>
                                <th>ICMS Apurado</th>
                                <th>ICMS ST NFe</th>
                            </tr>
                        </thead>

                        @for (int i = 0; i < ViewBag.NotasTaxation.Count; i++)
                        {
                            <tbody>
                                <tr>
                                    <td>@ViewBag.NotasTaxation[i][0]</td>
                                    <td>@ViewBag.NotasTaxation[i][1]</td>
                                    <td>@ViewBag.NotasTaxation[i][2]</td>
                                    <td>@ViewBag.NotasTaxation[i][3]</td>
                                    <td>@ViewBag.NotasTaxation[i][4]</td>
                                    <td>@ViewBag.NotasTaxation[i][17]</td>
                                    <td>@ViewBag.NotasTaxation[i][6]</td>
                                    <td>@ViewBag.NotasTaxation[i][7]</td>
                                    <td>@ViewBag.NotasTaxation[i][5]</td>
                                    <td>@ViewBag.NotasTaxation[i][8]</td>
                                    <td>@ViewBag.NotasTaxation[i][18]</td>
                                    <td>@ViewBag.NotasTaxation[i][14]</td>
                                </tr>
                            </tbody>
                        }

                    }
                }
                else if (ViewBag.type == 6)
                {
                    <thead style="font-size:12px;">
                        <tr>
                            <th>Tributação</th>
                            <th>Código do Dar</th>
                            <th>Quantidade de Produtos</th>
                            <th>Icms Apurado</th>
                            <th>Icms Pago</th>
                            <th>A Pagar</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:12px;">
                        <tr>
                            <td>Icms ST</td>
                            <td>@ViewBag.DarSTCO</td>
                            <td>@ViewBag.QtdST</td>
                            <td>@ViewBag.TotatlApuradoST</td>
                            <td>@ViewBag.TotalIcmsPagoST</td>
                            <td>@ViewBag.TotalAPagaST</td>
                        </tr>
                        <tr>
                            <td>Antecipação Parcial</td>
                            <td>@ViewBag.DarAp</td>
                            <td>@ViewBag.QtdAP</td>
                            <td>@ViewBag.TotalApuradoAP</td>
                            <td>@ViewBag.TotalIcmsPagoAP</td>
                            <td>@ViewBag.TotalAPagaAP</td>
                        </tr>
                        <tr>
                            <td>Consumo</td>
                            <td>@ViewBag.DarSTCO</td>
                            <td>@ViewBag.QtdCO</td>
                            <td>@ViewBag.TotalApuradoCO</td>
                            <td>@ViewBag.TotatIcmsPagoCO</td>
                            <td>@ViewBag.TotalAPagaCO</td>
                        </tr>
                        <tr>
                            <td>Consumo p/ Revenda</td>
                            <td>@ViewBag.DarSTCO</td>
                            <td>@ViewBag.QtdCOR</td>
                            <td>@ViewBag.TotalApuradoCOR</td>
                            <td> ---- </td>
                            <td>@ViewBag.TotalAPagaCOR</td>
                        </tr>
                        <tr>
                            <td>Imobilizado</td>
                            <td>@ViewBag.DarIm</td>
                            <td>@ViewBag.QtdIM</td>
                            <td>@ViewBag.TotalApuradoIM</td>
                            <td>@ViewBag.TotalIcmsPagoIM</td>
                            <td>@ViewBag.TotalAPagaIM</td>
                        </tr>
                        <tr>
                            <td>Antecipação Total</td>
                            <td>@ViewBag.DarSTCO</td>
                            <td>@ViewBag.QtdAT</td>
                            <td>@ViewBag.TotalApuradoAT</td>
                            <td> ---- </td>
                            <td>@ViewBag.TotalAPagaAT</td>
                        </tr>
                        <tr>
                            <td>Isento</td>
                            <td> ---- </td>
                            <td>@ViewBag.QtdIsento</td>
                            <td> ---- </td>
                            <td> ---- </td>
                            <td> ---- </td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td> ---- </td>
                            <td>@ViewBag.QtdGeral</td>
                            <td>@ViewBag.TotalApuradoGeral</td>
                            <td>@ViewBag.TotalIcmsPagoGeral</td>
                            <td>@ViewBag.TotalAPagaGeral</td>
                        </tr>

                    </tbody>

                }
                else if (ViewBag.type == 9)
                {
                    <thead style="font-size:13px;">
                        <tr>
                            <th>Nº NFE</th>
                            <th>Fornecedor</th>
                            <th>Data</th>
                            <th>ICMS ST Nfe</th>
                            <th>Fecop ST Nfe</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:11px;">
                        @for (int i = 0; i < @ViewBag.Fornecedores.Count; i++)
                        {
                            <tr>
                                <td>@ViewBag.Fornecedores[i][2]</td>
                                <td>@ViewBag.Fornecedores[i][3]</td>
                                <td>@ViewBag.Fornecedores[i][1]</td>
                                <td>@ViewBag.Fornecedores[i][4]</td>
                                <td>@ViewBag.Fornecedores[i][6]</td>
                            </tr>
                        }
                    </tbody>
                    <tbody style="font-size:11px;">
                        <tr style="border:2px solid">
                            <td><strong>Total</strong></td>
                            <td></td>
                            <td></td>
                            <td>@ViewBag.IcmsStTotal</td>
                            <td>@ViewBag.FecopStTotal</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>

        <div style="width:100%; overflow:hidden; padding:20px;">
            <table class="table" style="font-size:8px; border:2px solid;">
                @if ((@ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7) && ViewBag.type != 6 && ViewBag.type != 9)
                {
                    <thead>
                        <tr>
                            <th>Quantidade de Registros</th>
                            <th>Total</th>
                            <th>Valor dos Produtos</th>
                            <th>Valor dos fretes</th>
                            <th>Total da Base de Cálculo</th>
                            <th>Base de Cálculo ICMS</th>
                            <th>Base de Cálculo Reduzida</th>
                            <th>Valor do Imp. Antes Crédito</th>
                            <th>ICMS NFe</th>
                            <th>ICMS CTe</th>
                            <th>ICMS ST NFe</th>
                            <th>Total ICMS</th>
                            <th>Total FECOP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Registro</td>
                            <td>@ViewBag.TotalNotas</td>
                            <td>@ViewBag.ValorProd</td>
                            <td>@ViewBag.TotalFrete</td>
                            <td>@ViewBag.TotalBC</td>
                            <td>@ViewBag.TotalBcICMS</td>
                            <td>@ViewBag.TotalBCR</td>
                            <td>@ViewBag.TotalAC</td>
                            <td>@ViewBag.TotalICMSNfe</td>
                            <td>@ViewBag.TotalICMSCte</td>
                            <td>@ViewBag.TotalICMSST</td>
                            <td>@ViewBag.TotalICMS</td>
                            <td>@ViewBag.TotalFecop</td>
                        </tr>
                    </tbody>
                }
                @if (@ViewBag.TaxationType >= 2 && @ViewBag.TaxationType <= 5 && ViewBag.type != 6 && ViewBag.type != 9)
                {
                    <thead>
                        <tr>
                            <th>Quantidade de Registros</th>
                            <th>Total</th>
                            <th>Valor dos Produtos</th>
                            <th>Frete</th>
                            <th>IPI</th>
                            <th>Total da Base de Cálculo</th>
                            <th>ICMS ST NFe</th>
                            <th>Total ICMS</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Registro</td>
                            <td>@ViewBag.TotalNotas</td>
                            <td>@ViewBag.ValorProd</td>
                            <td>@ViewBag.TotalFrete</td>
                            <td>@ViewBag.TotalIpi</td>
                            <td>@ViewBag.TotalBC</td>
                            <td>@ViewBag.TotalICMSST</td>
                            <td>@ViewBag.TotalICMS</td>
                        </tr>
                    </tbody>
                }
                @if (ViewBag.TaxationType == 6 && ViewBag.type != 6 && ViewBag.type != 9)
                {
                    <thead>
                        <tr>
                            <th>Quantidade de Registros</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Registro</td>
                        </tr>
                    </tbody>
                }
            </table>

            @if (ViewBag.type == 1 || ViewBag.type == 2 || ViewBag.type == 4 || ViewBag.type == 5 || ViewBag.type == 8 || ViewBag.type == 7)
            {
                <table class="table" style="font-size:10px; page-break-before: always; border:2px solid; margin-top:50px;">

                    @if (ViewBag.TaxationType != 6 && ViewBag.TaxationType != 0)
                    {
                        if (@ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7)
                        {
                            <thead>
                                <tr>
                                    <th class="col-lg-4 col-md-4 col-sm-4" style="text-align:center; border:1px solid; margin-right:10px;" id="ResumoApuracaoParcial01">RESUMO DO IMPOSTO</th>

                                    @if (@ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7)
                                    {
                                        <th class="col-lg-1 col-md-1 col-sm-1"></th>
                                        <th class="col-lg-7 col-md-7 col-sm-7" style="text-align:center; border:1px solid; margin-left:10px;">APURAÇÃO FECOP</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-lg-4 col-sm-4">
                                        <table>
                                            @if (@ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7)
                                            {
                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Substituição Tributária MVA</td>

                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.TotalICMSMva</td>

                                                </tr>
                                                @if (@ViewBag.TaxationType == 1 && ViewBag.Incetive == false)
                                                {
                                                    <tr>
                                                        <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Subst.Tributária Preço Pauta</td>

                                                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.TotalICMSPauta</td>
                                                    </tr>
                                                }

                                            }
                                            else if (ViewBag.TaxationType >= 2 && ViewBag.TaxationType <= 5)
                                            {
                                                <tr>
                                                    @if (@ViewBag.TaxationType == 2)
                                                    {
                                                        <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Antecipação Parcial</td>
                                                    }
                                                    else if (@ViewBag.TaxationType == 3)
                                                    {
                                                        <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Consumo</td>
                                                    }
                                                    else if (@ViewBag.TaxationType == 4)
                                                    {
                                                        <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Consumo p/ Revenda</td>
                                                    }
                                                    else if (@ViewBag.TaxationType == 5)
                                                    {
                                                        <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS Imobilizado</td>
                                                    }

                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.TotalICMS</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-)GNRE Paga R$</td>
                                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.TotalGNREPaga</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(+)GNRE não Paga R$</td>
                                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.TotalGNREnPaga</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-)ICMS ST NFe com IE R$</td>
                                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.IcmsStNoteI</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-)ICMS ST NFe sem IE R$</td>
                                                <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.IcmsStNoteS</td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(=)VALOR A SER INFORMADO NA DIEF</th>
                                                <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.ValorDief</th>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">(-)ICMS pago - Posto Fiscal R$</td>
                                                @if (ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7)
                                                {
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.IcmsSt</td>
                                                }
                                                else if (ViewBag.TaxationType >= 2 && ViewBag.TaxationType <= 5)
                                                {
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.IcmsAp</td>
                                                }

                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">ICMS a Pagar R$</th>
                                                <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.IcmsPagar</th>
                                            </tr>
                                        </table>
                                        <br />
                                        <table class="col-lg-12 col-md-12 col-sm-12">
                                            <tr>
                                                @if (ViewBag.TaxationType == 1 || ViewBag.TaxationType == 3 || ViewBag.TaxationType == 4 || ViewBag.TaxationType == 7)
                                                {
                                                    <td class="col-lg-12 col-md-12 col-sm-12" style="text-align:right"><b>Código DAR-@ViewBag.DarSTCO</b></td>
                                                }
                                                @if (ViewBag.TaxationType == 2)
                                                {
                                                    <td class="col-lg-12 col-md-12 col-sm-12" style="text-align:right"><b>Código DAR-@ViewBag.DarAp</b></td>
                                                }
                                                @if (ViewBag.TaxationType == 5)
                                                {
                                                    <td class="col-lg-12 col-md-12 col-sm-12" style="text-align:right"><b>Código DAR-@ViewBag.DarIm</b></td>
                                                }
                                            </tr>
                                        </table>
                                    </td>

                                    @if (@ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7)
                                    {
                                        <td></td>
                                        <td class="col-lg-8 col-sm-8">

                                            <table class="col-lg-12 col-sm-12">
                                                <tr>
                                                    <th class="col-lg-5 col-sm-5" style="text-align:right;">Base FECOP interestaduais ST</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;">Base (1%)</th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">Valor</th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">Base (2%)</th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">Valor</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;">Total</th>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-4 col-sm-4" style="text-align:right;">Base FECOP interestaduais ST R$</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.base1</td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.valorbase1</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.base2</td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.valorbase2</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.TotalFecopCalculada</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-4 col-sm-4" style="text-align:right;">(+) GNRE não Paga R$</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;"></td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;"></td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.GNREnPagaFecop</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-4 col-sm-4" style="text-align:right;">(-) GNRE paga R$</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.GNREPagaFecop1</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;"></td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.GNREPagaFecop1</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.TotalGnreFecop</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-4 col-sm-4" style="text-align:right;">(-) FECOP ST NFe</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.fecopNfe1</td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.valorNfe1</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.fecopNfe2</td>
                                                    <td class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.valorNfe2</td>
                                                    <td class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.TotalFecopNfe</td>
                                                </tr>
                                                <tr style="background-color:lightgray;">
                                                    <th class="col-lg-4 col-sm-4" style="text-align:right;">(=) Valor a informar na DIEF R$</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.DifBase1</th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.DifValor1</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.DifBase2</th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.DifValor2</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.DifTotal</th>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 col-sm-4" style="text-align:right;">(-) FECOP pago - Posto Fiscal R$</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.base1fecop</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.base2fecop</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.TotalBaseFecop</th>
                                                </tr>
                                                <tr style="background-color:lightgray;">
                                                    <th class="col-lg-4 col-sm-4" style="text-align:right;">(=) FECOP a pagar R$</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.TotalFecop1</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;"></th>
                                                    <th class="col-lg-1 col-sm-1" style="text-align:center;">@ViewBag.TotalFecop2</th>
                                                    <th class="col-lg-2 col-sm-2" style="text-align:center;">@ViewBag.TotalFinalFecopCalculada</th>
                                                </tr>
                                            </table>
                                            <table class="col-lg-12 col-md-12 col-sm-12">
                                                <tr>
                                                    <th class="col-lg-12 col-md-12 col-sm-12" style="text-align:right;">Código DAR-@ViewBag.DarFecop</th>
                                                </tr>
                                            </table>
>>>>>>> origin/integracao/darweb

        
        @if (ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "AgrupadoA" || ViewBag.Type == "AgrupadoS" || 
            ViewBag.Type == "ProdutoNI" || ViewBag.Type == "ProdutoI" && (ViewBag.Type != "Geral" && ViewBag.Type != "GNRE" && 
            ViewBag.Type != "IcmsST"))
        {
            @await Html.PartialAsync("_SummaryProducts", new ViewDataDictionary(ViewData))

<<<<<<< HEAD
        }

        @if ((ViewBag.Type == "Produto" || ViewBag.Type == "Nota" || ViewBag.Type == "AgrupadoA" || ViewBag.Type == "AgrupadoS" || 
            ViewBag.Type == "ProdutoNI" || ViewBag.Type == "ProdutoI" && (ViewBag.Type != "Geral" && ViewBag.Type != "GNRE" && 
            ViewBag.Type != "IcmsST")) && ViewBag.TypeTaxation != "Isento")
        {
            @await Html.PartialAsync("_TaxSummary", new ViewDataDictionary(ViewData))

        }

        @if (ViewBag.Incetive == true && ViewBag.Type != "ProdutoNI" && ViewBag.TypeTaxation == "ST" && ViewBag.Anexo != null && 
            (ViewBag.Type != "Geral" && ViewBag.Type != "GNRE" && ViewBag.Type != "IcmsST") && ViewBag.Type != "ProdutoFP")
        {
            <div style="width:100%; padding:10px;">
                @if (ViewBag.TypeTaxation == "ST" && ViewBag.Type != "ProdutoI")
                {

                     @await Html.PartialAsync("_GeneralReportIncentive", new ViewDataDictionary(ViewData))
                     @await Html.PartialAsync("_GeneralSummaryTaxIncentive", new ViewDataDictionary(ViewData))
                    
                }
                else if(ViewBag.TypeTaxation == "ST")
                {
                    @await Html.PartialAsync("_IncentiveTaxSummary", new ViewDataDictionary(ViewData))
                }
            </div>
            

        }

    </div>

</div>
=======
                                            <table class="col-lg-12 col-sm-12">
                                                <tr>
                                                    <th class="col-lg-12 col-sm-12" style="text-align:center;border:1px solid;">EMITENTES COM INSCRIÇÃO NO ESTADO</th>
                                                </tr>
                                            </table>
                                            <br />
                                            <table class="col-lg-12 col-md-12 col-sm-12">
                                                <tr>
                                                    <td class="col-lg-10 col-md-10 col-sm-10">
                                                        I - Empresas com IE no PIauí ICMS NFe
                                                    </td>
                                                    <td class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.IcmsStNoteI
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-10 col-md-10 col-sm-10">
                                                        S - Empresas sem IE no PIauí ICMS NFe
                                                    </td>
                                                    <td class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.IcmsStNoteS
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    }

                                </tr>
                            </tbody>
                        }
                        else
                        {
                            <thead>
                                <tr>
                                    <th width="100%" style="text-align:center; border:1px solid; margin-right:10px;" id="ResumoApuracaoParcial01">RESUMO DO IMPOSTO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                @if (@ViewBag.TaxationType == 2)
                                                {
                                                    <td style="text-align:right" width="500px">ICMS Antecipação Parcial</td>
                                                }
                                                else if (@ViewBag.TaxationType == 3)
                                                {
                                                    <td style="text-align:right" width="500px">ICMS Consumo</td>
                                                }
                                                else if (@ViewBag.TaxationType == 4)
                                                {
                                                    <td style="text-align:right" width="500px">ICMS Consumo p/ Revenda</td>
                                                }
                                                else if (@ViewBag.TaxationType == 5)
                                                {
                                                    <td style="text-align:right" width="500px">ICMS Imobilizado</td>
                                                }

                                                <td style="text-align:right; padding-right:1%;" width="500px">@ViewBag.TotalICMS</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right" width="500px">(-)GNRE Paga R$</td>
                                                <td style="text-align:right; padding-right:1%;" width="500px">@ViewBag.TotalGNREPaga</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right" width="500px">(+)GNRE não Paga R$</td>
                                                <td style="text-align:right; padding-right:1%;" width="500px">@ViewBag.TotalGNREnPaga</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right" width="500px">(-)ICMS ST NFe com IE R$</td>
                                                <td style="text-align:right; padding-right:1%;" width="500px">@ViewBag.IcmsStNoteI</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right" width="500px">(-)ICMS ST NFe sem IE R$</td>
                                                <td style="text-align:right; padding-right:1%;" width="500px">@ViewBag.IcmsStNoteS</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align:right" width="500px">(=)VALOR A SER INFORMADO NA DIEF</th>
                                                <th style="text-align:right; padding-right:1%;" width="500px">@ViewBag.ValorDief</th>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right" width="500px">(-)ICMS pago - Posto Fiscal R$</td>
                                                @if (ViewBag.TaxationType == 1 || @ViewBag.TaxationType == 7)
                                                {
                                                    <td style="text-align:right; padding-right:1%;" width="500px">@ViewBag.IcmsSt</td>
                                                }
                                                else if (ViewBag.TaxationType >= 2 && ViewBag.TaxationType <= 5)
                                                {
                                                    <td style="text-align:right; padding-right:1%;" width="500px">@ViewBag.IcmsAp</td>
                                                }

                                            </tr>
                                            <tr>
                                                <td>&nbsp</td>
                                                <td>&nbsp</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align:right" width="500px">ICMS a Pagar R$</th>
                                                <th style="text-align:right; padding-right:1%;" width="500px">@ViewBag.IcmsPagar</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:right" width="500px">Código DAR</th>
                                                @if (ViewBag.TaxationType == 1 || ViewBag.TaxationType == 3 || ViewBag.TaxationType == 4 || ViewBag.TaxationType == 7)
                                                {
                                                    <td style="text-align:right; padding-right:1%;" width="500px"><b>@ViewBag.DarSTCO</b></td>
                                                }
                                                @if (ViewBag.TaxationType == 2)
                                                {
                                                    <td style="text-align:right; padding-right:1%;" width="500px"><b>@ViewBag.DarAp</b></td>
                                                }
                                                @if (ViewBag.TaxationType == 5)
                                                {
                                                    <td style="text-align:right; padding-right:1%;" width="500px"><b>@ViewBag.DarIm</b></td>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    }
                </table>
            }
        </div>

        @if (ViewBag.Incetive == true && ViewBag.type != 8 && ViewBag.type != 9 && ViewBag.TaxationType == 1 && ViewBag.TypeIncetive == true)
        {
            <br />
            if (ViewBag.type != 8)
            {
                <div style="width: 100%; overflow: hidden; padding: 20px;">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="font-size:12px;">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="border:2px solid; text-align:center;">
                            <strong>APURAÇÂO INCENTIVADA</strong>
                        </div>

                        <table class="table" style="border: 2px solid;">
                            <thead>
                                <tr>
                                    <th class="col-lg-5 col-md-5 col-sm-5" style="text-align:center; margin-right:10px;">IMPOSTO INCENTIVADO</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1"></th>
                                    <th class="col-lg-6 col-md-6 col-sm-6" style="text-align:center; margin-left:10px;">IMPOSTO FUNEF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-lg-5 col-md-5 col-sm-5">
                                        <table class="col-lg-12 col-sm-12">
                                            <thead>
                                                <tr style="border:1px solid;">
                                                    <th>
                                                        Base de Cálculo Regime
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Icms %
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Imposto Icms
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Base
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        x
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Icms
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        =
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoIcms
                                                    </th>
                                                </tr>
                                                <tr style="border:1px solid; padding-top:100px;">
                                                    <th>
                                                        Base de Cálculo Fecop
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Fecop %
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Imposto Fecop
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Base
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        x
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Fecop
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        =
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoFecop
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td></td>
                                    <td class="col-lg-6 col-md-6 col-sm-6">
                                        <table class="col-lg-12 col-sm-12">
                                            <thead>
                                                <tr style="border:1px solid;">
                                                    <th>
                                                        Imposto Normal
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Imposto Incetivado
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Base de Cálculo Funef
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Funef %
                                                    </th>
                                                    <th></th>
                                                    <th>
                                                        Taxa Funef
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoGeral
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1" style="font-size:15px;">
                                                        -
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoIcms
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        =
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.BaseFunef
                                                    </th>
                                                    <th>
                                                        x
                                                    </th>
                                                    <th style="text-align:center">
                                                        @ViewBag.Funef
                                                    </th>
                                                    <th>
                                                        =
                                                    </th>
                                                    <th style="text-align:center">
                                                        @ViewBag.TaxaFunef
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div style="width:100%; overflow:hidden; padding:20px; page-break-before: always;">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="border:2px solid; text-align:center;">
                        <strong id="resumo01">RESUMO DOS IMPOSTOS</strong>
                    </div>
                    <table class="table" style="border: 2px solid;">
                        <thead>
                            <tr style="border: 2px solid;">
                                <th width="500px"></th>
                                <th style="text-align:center">Valor do Imposto</th>
                                <th style="text-align:center">Código DAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="text-align:center">ICMS por MVA</th>
                                <td style="text-align:right"> @ViewBag.IcmsPagar</td>
                                <td style="text-align:center">@ViewBag.DarSTCO</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">ICMS Incentivo</th>
                                <td style="text-align:right"> @ViewBag.ImpostoIcms</td>
                                <td style="text-align:center">@ViewBag.DarIcms</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">Fecop por MVA</th>
                                <td style="text-align:right">@ViewBag.TotalFinalFecopCalculada</td>
                                <td style="text-align:center">@ViewBag.DarFecop</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">Fecop Incentivo</th>
                                <td style="text-align:right">@ViewBag.ImpostoFecop</td>
                                <td style="text-align:center">@ViewBag.DarFecop</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">Funef</th>
                                <td style="text-align:right">@ViewBag.TaxaFunef</td>
                                <td style="text-align:center">@ViewBag.DarFunef</td>
                            </tr>
                            <tr style="border: 2px solid;">
                                <th style="text-align:center">Total</th>
                                <td style="text-align:right"><strong>@ViewBag.TotalImpostoIncentivo</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div style="width: 100%; overflow: hidden; padding: 20px;">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="font-size:12px;">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="border:2px solid; text-align:center;">
                            <strong>APURAÇÂO INCENTIVADA</strong>
                        </div>

                        <table class="table" style="border: 2px solid;">
                            <thead>
                                <tr>
                                    <th class="col-lg-5 col-md-5 col-sm-5" style="text-align:center; margin-right:10px;">IMPOSTO INCENTIVADO</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1"></th>
                                    <th class="col-lg-6 col-md-6 col-sm-6" style="text-align:center; margin-left:10px;">IMPOSTO FUNEF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-lg-5 col-md-5 col-sm-5">
                                        <table class="col-lg-12 col-sm-12">
                                            <thead>
                                                <tr style="border:1px solid;">
                                                    <th>
                                                        Base de Cálculo Regime
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Icms %
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Imposto Icms
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Base
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        x
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Icms
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        =
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoIcms
                                                    </th>
                                                </tr>
                                                <tr style="border:1px solid; padding-top:100px;">
                                                    <th>
                                                        Base de Cálculo Fecop
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Fecop %
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Imposto Fecop
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Base
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        x
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.Fecop
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        =
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoFecop
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td></td>
                                    <td class="col-lg-6 col-md-6 col-sm-6">
                                        <table class="col-lg-12 col-sm-12">
                                            <thead>
                                                <tr style="border:1px solid;">
                                                    <th>
                                                        Imposto Normal
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Imposto Incetivado
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Base de Cálculo Funef
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Funef %
                                                    </th>
                                                    <th></th>
                                                    <th>
                                                        Taxa Funef
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoGeral
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1" style="font-size:15px;">
                                                        -
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.ImpostoIcms
                                                    </th>
                                                    <th class="col-lg-1 col-md-1 col-sm-1">
                                                        =
                                                    </th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">
                                                        @ViewBag.BaseFunef
                                                    </th>
                                                    <th>
                                                        x
                                                    </th>
                                                    <th style="text-align:center">
                                                        @ViewBag.Funef
                                                    </th>
                                                    <th>
                                                        =
                                                    </th>
                                                    <th style="text-align:center">
                                                        @ViewBag.TaxaFunef
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div style="width:100%; overflow:hidden; padding:20px; page-break-before: always;">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="border:2px solid; text-align:center;">
                        <strong id="resumo02">RESUMO DOS IMPOSTOS</strong>
                    </div>
                    <table class="table" style="border: 2px solid;">
                        <thead>
                            <tr style="border: 2px solid;">
                                <th width="500px"></th>
                                <th style="text-align:center">Valor do Imposto</th>
                                <th style="text-align:center">Código DAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="text-align:center">ICMS</th>
                                <td style="text-align:right"> @ViewBag.ImpostoIcms</td>
                                <td style="text-align:center">@ViewBag.DarIcms</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">Fecop</th>
                                <td style="text-align:right">@ViewBag.ImpostoFecop</td>
                                <td style="text-align:center">@ViewBag.DarFecop</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">Funef</th>
                                <td style="text-align:right">@ViewBag.TaxaFunef</td>
                                <td style="text-align:center">@ViewBag.DarFunef</td>
                            </tr>
                            <tr style="border: 2px solid;">
                                <th style="text-align:center">Total</th>
                                <td style="text-align:right"><strong>@ViewBag.TotalImpostoIncentivo</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }

    </div>

    <div class="box-footer">
        <div class="barcode" style="font-size:15px;">
            10540558000113
        </div>
        <div class="pull-left">
            <i class="fa fa-warning"></i>
            <span id="responseMessageGenerateBillet" style="font-style:italic;color:red;">Ao clicar no botão ao lado o documento DAR será gerado e o boleto enviado para o cliente.</span>
        </div>

        @await Html.PartialAsync("_ButtonGenerateBillet", new ViewDataDictionary(ViewData))

    </div>

</div>
<br />
<br />
<div class="box box-warning" style="margin:-10px;">
    <div class="box-header">
        <div class="box-title">
            <i class="fa fa-list"></i>
            DAR Gerados
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div id="responseBarCodeGenerateBillet" style="padding:15px;">

                </div>
            </div>
        </div>
    </div>
</div>
   
>>>>>>> origin/integracao/darweb
