<thead>
    <tr>
        <th>Código</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>V. Unitário</th>
        <th>V. Total</th>
    </tr>
</thead>
<tbody>
    @foreach (var produto in ViewBag.Produtos)
    {
        <tr>
            <td>@produto[0]</td>
            <td>@produto[1]</td>
            <td style="text-align:right">@string.Format("{0:N}", Convert.ToDecimal(produto[5]))</td>
            <td style="text-align:right">@string.Format("{0:N}", Convert.ToDecimal(produto[6]))</td>
            <td style="text-align:right">@string.Format("{0:N}", Convert.ToDecimal(produto[7]))</td>
        </tr>
    }
</tbody>
