@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="NoteInventoryExit" asp-action="Index" asp-route-id="@SessionManager.GetCompanyIdInSession()" asp-route-year="@SessionManager.GetYearInSession()" asp-route-month="@SessionManager.GetMonthInSession()" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>

        <h3 class="box-title"><strong>Erro de Codificação</strong></h3>

        <div style="width: 100%; text-align: center; padding-top:10px;">
            <strong>@Model.SocialName</strong> <br />
            <b>CNPJ: </b>@Model.Document <b>Insc. Estadual: </b> @Model.Ie
        </div>
    </div>
    <div class="box-body">
        <p style="text-align:center;color:red;"><strong>A nota @ViewBag.Chave estar com erro de codificação no xml</strong></p>
    </div>
    <div class="box-footer"></div>
</div>
