@model IEnumerable<Escon.SisctNET.Model.ProductNoteInventoryExit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box box-primary">
    <div class="box-header" id="hiddenHeader">
        <a asp-controller="Inventory" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong>Notas de Saída</strong></h3>
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-primary showImport">
                <i class="fa fa-cloud-upload"></i>
                Importar
            </a>

            <!--
                 <a href="#" onclick="showDelete()" class="btn btn-primary">
                    <i class="fa fa-trash"></i>
                    Excluir
                </a>
            -->

        </div>

        <div style="width: 100%; text-align: center; padding-top:20px;">
            <strong>@ViewBag.Company.SocialName</strong> <br />
            <b>CNPJ: </b>@ViewBag.Company.Document <b>Insc. Estadual: </b> @ViewBag.Company.Ie
        </div>
    </div>
    <div class="box-body" id="hiddenBody">
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-xs-12 pull-right" style="text-align:right;">
                    <strong>Periodo: @SessionManager.GetMonthInSession()/@SessionManager.GetYearInSession() </strong>
                </div>
            </div>
        </div>
        <div style="width:100%; padding:20px;">
            <table class="table table-striped table-bordered display responsive nowrap" id="tblNote" style="width:100%">
                <thead>
                    <tr>
                        <th width="100px" class="all">
                            @Html.DisplayNameFor(model => model.Nnf)
                        </th>
                        <th width="40%" class="all">
                            @Html.DisplayNameFor(model => model.Xnome)
                        </th>
                        <th width="110px" class="all" style="text-align:center">
                            @Html.DisplayNameFor(model => model.Vnf)
                        </th>
                        <th style="width:50px;" class="all"></th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="box-footer"></div>
    <div style="text-align:center; display:none;" id="loading">
        <img src="~/img/carregando.gif" />
    </div>
</div>

<div class="modal modal-primary fade in" id="formShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('.showImport').click(function () {
            $.get('/NoteInventoryExit/Import/', function (html) {
                $('#formShow .modal-body').empty();
                $('#formShow .modal-body').append($(html));
                $('#formShow').modal('show');
            });

        });

        $('#tblNote').DataTable({
            searchDelay: 300,
            "fnDrawCallback": function (oSettings) {
                $('.showDetail').off();
                $('.showProduct').off();
                $('[data-toggle="tooltip"]').tooltip();
                $("input[type='checkbox']").bootstrapToggle();
            },
            "processing": true,
            "ordering": false,
            "serverSide": true,
            "responsive": true,
            "oLanguage": {
                "sProcessing": "Aguarde enquanto os dados são carregados ...",
                "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                "sZeroRecords": "Nenhum registro disponível",
                "sInfoEmpty": "Exibindo 0 a 0 de 0 registros",
                "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                "sInfoFiltered": "",
                "sSearch": "Buscar",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Próximo",
                    "sLast": "Último"
                }
            },
            "ajax": "/NoteInventoryExit/GetAll",
            "initComplete": function (settings, json) {
            },
            "columns": [
                { "data": "nota" },
                { "data": "fornecedor" },
                {
                    "mData": "valor",
                    "mRender": function (data, type, row) {
                        return "<span class = 'pull-right'>" + data.toFixed(2).toString().replace(',', '*').replace('.', ',').replace('*', '.') +"</span>"
                    }
                },
                {
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return "<a href='/ProductNoteInventoryExit/Index/" + data + "' class = 'glyphicon glyphicon-list-alt pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Produtos' /> "

                    }
                }
            ]
        });
    });

    function showImport() {
        document.getElementById('loadingImport').style.display = 'block';
        document.getElementById('hidden').style.display = 'none';
    }

    function showDelete() {
        var result = confirm('Tem certeza que quer excluir as notas?');
        if (result) {
            document.getElementById('loading').style.display = 'block';
            document.getElementById('hiddenHeader').style.display = 'none';
            document.getElementById('hiddenBody').style.display = 'none';
            $.ajax({
                url: '@Url.Action("Delete", "NoteInventoryExit")',
                success: function (result) {
                    console.log(result);
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('hiddenHeader').style.display = 'block';
                    document.getElementById('hiddenBody').style.display = 'block';
                    setTimeout(function () {
                        window.location.reload(1);
                    }, 1000 * 1);
                },
                error: function (result) {
                    console.log(result);
                    alert("Erro SisCT!");
                }
            });
        }
        else {
            alert('Exclusão Cancelada');
        }
    }
</script>
