<diV class="pull-right">
    <strong>Total Vendas: </strong> @string.Format("{0:N}", ViewBag.TotalVendas)
</diV>
<table class="table" style="border:1px solid">
    <thead>
        <tr>
            <th  style="border:1px solid; text-align:center;">
                Ncm
            </th>
            <th  style="border:1px solid; text-align:center;">
                Valor
            </th>
            <th  style="border:1px solid">
                Percentual (%)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ncm in ViewBag.Ncm)
        {
            <tr>
                <td style="border:1px solid">@ncm[0] - @ncm[3]</td>
                <td style="text-align:right; border:1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ncm[1].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="text-align:right; border:1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ncm[2].Replace(',', '*').Replace('.', ',').Replace('*', '.'))) %</td>
            </tr>
        }

        <tr>
            <th style="border:1px solid; text-align:center;">Total</th>
            <td style="text-align:right; border:1px solid;">@string.Format("{0:N}", ViewBag.TotalNcm)</td>
            <td style="text-align:right; border:1px solid;">@string.Format("{0:N}", ViewBag.PercentualTotal) %</td>
        </tr>
    </tbody>
</table>