<diV class="pull-right">
    <strong>Total Vendas: </strong> @string.Format("{0:N}", ViewBag.TotalVendas)
</diV>
<table class="table">
    <thead>
        <tr>
            <th>
                Ncm
            </th>
            <th>Descrição</th>
            <th width="15%">
                Valor
            </th>
            <th width="10%">
                Percentual %
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.ResumoNcm.Count; i++)
        {
            <tr>
                <td>@ViewBag.ResumoNcm[i][0]</td>
                <td>@ViewBag.ResumoNcm[i][1]</td>
                <td style="text-align:right">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.ResumoNcm[i][2].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="text-align:right">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.ResumoNcm[i][3].Replace(',', '*').Replace('.', ',').Replace('*', '.'))) %</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th style="text-align:right">@string.Format("{0:N}", ViewBag.TotalNcm)</th>
            <th style="text-align:right">@string.Format("{0:N}", ViewBag.PercentualTotal) %</th>
        </tr>
    </tfoot>
</table>
