<diV class="pull-right">
    <strong>Total Vendas: </strong> @string.Format("{0:N}", ViewBag.TotalVendas)
</diV>
<table class="table" style="border:1px solid">
    <thead>
        <tr>
            <th style="border:1px solid; text-align:center;">
                Ncm
            </th>
            <th style="border:1px solid; text-align:center;">Descrição</th>
            <th style="border:1px solid; text-align:center;">
                Valor
            </th>
            <th style="border:1px solid">
                Percentual (%)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.ResumoNcm.Count; i++)
        {
            <tr>
                <td style="border:1px solid">@ViewBag.ResumoNcm[i][0]</td>
                <td style="border:1px solid">@ViewBag.ResumoNcm[i][1]</td>
                <td style="text-align:right; border:1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.ResumoNcm[i][2].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="text-align:right; border:1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.ResumoNcm[i][3].Replace(',', '*').Replace('.', ',').Replace('*', '.'))) %</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="border:1px solid; text-align:center;" colspan="2">Total</th>
            <th style="text-align:right; border:1px solid;">@string.Format("{0:N}", ViewBag.TotalNcm)</th>
            <th style="text-align:right; border:1px solid;">@string.Format("{0:N}", ViewBag.PercentualTotal) %</th>
        </tr>
    </tfoot>
</table>
