<table style="border:1px solid;">
    <thead>
        <tr style="border:1px solid;">
            <th style="border:1px solid; text-align:center;" width="100px">
                CFOP
            </th>
            <th style="border:1px solid; text-align:center;">
                Descrição
            </th>
            <th style="border:1px solid; text-align:center;" width="150px">
                Valor Contábil
            </th>
            <th style="border:1px solid; text-align:center;" width="150px">
                Base de Cálculo Icms
            </th>
            <th style="border:1px solid; text-align:center;" width="120px">
                Valor Icms
            </th>
            <th style="border:1px solid; text-align:center;" width="120px">
                Valor Fecop
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.Cfop.Count; i++)
        {

            <tr style="border:1px solid;">
                <td style="border:1px solid; padding-left:1%;">
                    @ViewBag.Cfop[i][0]
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @ViewBag.Cfop[i][1]
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][2].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][3].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][5].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="border:1px solid; padding-left:1%;"><b>Com CPF</b></td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][6].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][7].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][8].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][9].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="border:1px solid; padding-left:1%;"><b>Sem CPF</b></td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][10].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][11].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][12].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][13].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="border:1px solid; padding-left:1%;"><b>Com CNPJ com Inscrição Estadual</b></td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][14].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][15].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][16].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][17].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="border:1px solid; padding-left:1%;"><b>Com CNPJ sem Inscrição Estadual</b></td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][18].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][19].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][20].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    @string.Format("{0:C}", Convert.ToDecimal(ViewBag.Cfop[i][21].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                </td>
            </tr>
        }
    </tbody>
</table>
