<table class="table" style="border:1px solid;">
    <thead>
        <tr style="border:1px solid;">
            <th style="border:1px solid; text-align:center;">
                Produto
            </th>
            <th style="border:1px solid; text-align:center;">
                Descrição
            </th>
            <th style="border:1px solid; text-align:center;">Origem</th>
            <th style="border:1px solid; text-align:center;">
                Ncm
            </th>
            <th style="border:1px solid; text-align:center;">
                Descrição
            </th>
            <th style="border:1px solid; text-align:center;">
                CEST
            </th>
            <th style="border:1px solid; text-align:center;">
                CST
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Divergentes)
        {
            <tr style="border:1px solid;">
                <td style="border:1px solid; padding-left:1%;" rowspan="2">
                    @item[0]
                </td>
                <td style="border:1px solid; padding-left:1%;" rowspan="2">
                    @item[1]
                </td>
                <th style="border:1px solid; padding-left:1%;">
                    XML
                </th>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[2]
                </td>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[3]
                </td>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[4]
                </td>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[5]
                </td>
            </tr>
            <tr>
                <th style="border:1px solid; padding-left:1%;">
                    FORTES
                </th>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[6]
                </td>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[7]
                </td>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[8]
                </td>
                <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                    @item[9]
                </td>
            </tr>
        }
    </tbody>
</table>