<div style="width:100%; padding-top:10px;">
    <div style="border:2px solid; text-align:center;">
        <strong>OPERAÇÕES INCENTIVADAS - ESTABELECIMENTOS REFERIDOS NO ART.781</strong>
    </div>
    <table style="border:2px solid;">
        <thead style="border:1px solid;">
            <tr>
                <th style="text-align:center; border:2px solid;" width="550px">OPERAÇÕES INTERNAS</th>
                <th style="text-align:center; border:2px solid;" width="550px">OPERAÇÕES INTERESTADUAIS</th>
                <th style="text-align:center; border:2px solid;">Código DAR</th>
            </tr>
        </thead>
        <tbody style="border:1px solid;">
            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <th style="text-align: center; border:1px solid;" width="400px">Apuração Incetivada</th>
                            <th style="text-align: center; border:1px solid;" width="100px">%</th>
                            <th style="text-align: center; border:1px solid;" width="200px">Total</th>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <th style="text-align: center; border:1px solid;" width="400px">Apuração Incetivada</th>
                            <th style="text-align: center; border:1px solid;" width="100px">%</th>
                            <th style="text-align: center; border:1px solid;" width="200px">Total</th>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Saidas</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.InternasElencadas</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Saidas</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.InterestadualElencadas</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Vendas</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.VendasInternasElencadas</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Vendas</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.VendasInterestadualElencadas</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Saídas (Port. GSF 355/2009)</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.InternasElencadasPortaria</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Saídas (Port. GSF 355/2009)</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.InterestadualElencadasPortaria</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Base de Cálculo</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.InternasElencadasPortaria</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Base de Cálculo</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.InterestadualElencadasPortaria</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="408px">Aliquota Interna ICMS</td>
                            <td style="text-align: center;" width="100px">@ViewBag.AliqInterna</td>
                            <td style="text-align: right; padding-right:1%;" width="200px">@ViewBag.IcmsInternasElencadas</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="408px">Aliquota Interna ICMS</td>
                            <td style="text-align: center;" width="100px">@ViewBag.AliqInterna</td>
                            <td style="text-align: right; padding-right:1%;" padding-right:1%;" width="200px">@ViewBag.IcmsInterestadualElencadas</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="408px">FECOP</td>
                            <td style="text-align: center;" width="100px">@ViewBag.Fecop</td>
                            <td style="text-align: right; padding-right:1%;" width="200px">@ViewBag.FecopInternasElencadas</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="408px">FECOP</td>
                            <td style="text-align: center;" width="100px">@ViewBag.Fecop</td>
                            <td style="text-align: right; padding-right:1%;" width="200px">@ViewBag.FecopInterestadualElencadas</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid; text-align: center;">@ViewBag.DarFecop</td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Total</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.TotalInternasElencadas</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="308px">Total</td>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <td style="text-align: right; padding-right:1%;" width="300px">@ViewBag.TotalInterestadualElencadas</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="408px">(-) Crédito Presumido</td>
                            <td style="text-align: center;" width="100px">@ViewBag.IncIInterna</td>
                            <td style="text-align: right; padding-right:1%;" width="200px">@ViewBag.IcmsPresumidoInternasElencadas</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <td style="text-align: left; padding-left:1%;" width="408px">(-) Crédito Presumido</td>
                            <td style="text-align: center;" width="100px">@ViewBag.IncIInterestadual</td>
                            <td style="text-align: right; padding-right:1%;" width="200px">@ViewBag.IcmsPresumidoInterestadualElencadas</td>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid;"></td>
            </tr>

            <tr>
                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <th style="text-align: left; padding-left:1%;" width="308px">Valor do ICMS</th>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <th style="text-align: right; padding-right:1%;" width="300px">@ViewBag.TotalIcmsInternasElencadas</th>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="border:1px solid;">
                        <tr>
                            <th style="text-align: left; padding-left:1%;" width="308px">Valor do ICMS</th>
                            <td style="text-align: center;" width="100px">&nbsp;</td>
                            <th style="text-align: right; padding-right:1%;" width="300px">@ViewBag.TotalIcmsInterestadualElencadas</th>
                        </tr>
                    </table>
                </td>

                <td style="border:1px solid; text-align: center;">@ViewBag.DarIcms</td>
            </tr>

        </tbody>
    </table>
</div>