<table class="table" style="font-size:12px;">
    <thead style="font-size:12px;">
        <tr>
            <th style="text-align:center; border:1px solid;">DADOS PARA CÁLCULO DA FUNEF E COTAC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table>
                    <tr>
                        <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">Base de Calculo FUNEF/COTAC(R$)</th>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.DifApuNormal)</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.DifApuNNormal)</td>
                        <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.BaseDeCalcFunef)</th>
                    </tr>
                    <tr>
                        <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">Valor da FUNEF (R$)</th>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.BaseDeCalcFunef)</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.PercentFunef) %</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.ValorFunef)</td>
                    </tr>

                    <tr>
                        <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">Valor da COTAC (R$)</th>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.BaseDeCalcFunef)</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.PercentCotac) %</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@string.Format("{0:N}", ViewBag.ValorCotac)</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table class="table" style="font-size:12px;" border="1">
    <thead style="font-size:12px;">
        <tr>
            <th style="text-align:center; border:1px solid;">RESUMO DA APURAÇÃO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table>
                    <tr style="border:1px solid;">
                        <th width="400px" style="text-align:center; border:1px solid;">Imposto</th>
                        <th width="400px" style="text-align:center; border:1px solid;">Código Tributo</th>
                        <th width="400px" style="text-align:center; border:1px solid;">Valor (R$)</th>

                    </tr>
                    <tr>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;">ICMS</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;">@ViewBag.DarIcms</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right; padding-right:10px;">@string.Format("{0:N}", ViewBag.DifApuNNormal)</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;">FUNEF</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;">@ViewBag.DarFunef</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right; padding-right:10px;">@string.Format("{0:N}", ViewBag.ValorFunef)</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;">COTAC</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;">@ViewBag.DarCotac</td>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right; padding-right:10px;">@string.Format("{0:N}", ViewBag.ValorCotac)</td>
                    </tr>
                    <tr>
                        <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;">Total</th>
                        <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:center;"></td>
                        <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right; padding-right:10px;">@string.Format("{0:N}", ViewBag.TotalDeImposto)</th>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>