<div style="width:100%; padding-top:1px;">
    <table class="table" style="font-size:12px;" border="1">
        <thead>
            <tr>
                <th style="text-align:center; border:1px solid;">BASE DE CÁLCULO DA FUNEF E COTAC</th>
            </tr>
        </thead>
        <tbody style="font-size:14px;">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="text-align:right;" width="300px">Icms Apurado Normal (R$)</td>
                            <td style="text-align:right;" width="200px">@string.Format("{0:N}", ViewBag.Diferenca)</td>
                            <td width="200px">&nbsp;</td>
                            <td width="200px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">Icms Apurado Incentivado (R$)</td>
                            <td style="text-align:right;">@string.Format("{0:N}", ViewBag.TotalIcms)</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>

                        </tr>
                        <tr>
                            <th style="text-align:right">Total (R$)</th>
                            <th style="text-align:right">@string.Format("{0:N}", ViewBag.BaseCalculoFC)</th>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th style="text-align:right">&nbsp;</th>
                            <th style="text-align:right">&nbsp;</th>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th style="text-align:right"></th>
                            <th style="text-align:right">Base de Cálculo</th>
                            <th style="text-align:right">Percentual %</th>
                            <th style="text-align:right">Valor (R$)</th>
                        </tr>
                        <tr>
                            <th style="text-align:right">FUNEF</th>
                            <td style="text-align:right">@string.Format("{0:N}", ViewBag.BaseCalculoFC)</td>
                            <td style="text-align:right">@string.Format("{0:N}", ViewBag.PercentualFunef) %</td>
                            <td style="text-align:right">@string.Format("{0:N}", ViewBag.TotalFunef)</td>
                        </tr>
                        <tr>
                            <th style="text-align:right">COTAC</th>
                            <td style="text-align:right">@string.Format("{0:N}", ViewBag.BaseCalculoFC)</td>
                            <td style="text-align:right">@string.Format("{0:N}", ViewBag.PercentualCotac) %</td>
                            <td style="text-align:right">@string.Format("{0:N}", ViewBag.TotalCotac)</td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="150px">Total (R$)</th>
                            <td style="text-align:right"></td>
                            <td>&nbsp;</td>
                            <th style="text-align:right">@string.Format("{0:N}", ViewBag.TotalFunefCotac)</th>
                        </tr>
                    </table>
                </td>

            </tr>

        </tbody>
    </table>
</div>

<div style="width:100%; padding-top:1px; page-break-before: always;">
    <table class="table" style="font-size:12px;" border="1">
        <thead>
            <tr>
                <th style="text-align:center; border:1px solid;">RESUMO DA APURAÇÃO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th style="text-align:center;" width="300px">IMPOSTO</th>
                            <th style="text-align:center;" width="150px">Percentual %</th>
                            <th style="text-align:center;" width="100px">UF</th>
                            <th style="text-align:center;" width="250px">Cod. Tributo</th>
                            <th style="text-align:right;" width="150px">Valor (R$)</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;">ICMS</td>
                            <td style="text-align:center;">@string.Format("{0:N}", ViewBag.PercentualIcmsContrib) %</td>
                            <td style="text-align:center;">@ViewBag.Uf</td>
                            <td style="text-align:center;">@ViewBag.DarIcms.Code (@ViewBag.DarIcms.Description)</td>
                            <td style="text-align:right;">@string.Format("{0:N}", ViewBag.ValorVendaContribIncentivo)</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">ICMS</td>
                            <td style="text-align:center;">@string.Format("{0:N}", ViewBag.PercentualIcmsAiqM25Contrib) %</td>
                            <td style="text-align:center;">@ViewBag.Uf</td>
                            <td style="text-align:center;">@ViewBag.DarIcms.Code (@ViewBag.DarIcms.Description)</td>
                            <td style="text-align:right;">@string.Format("{0:N}", ViewBag.ValorVendaContribuinteAliM25)</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">ICMS</td>
                            <td style="text-align:center;">@string.Format("{0:N}", ViewBag.PercentualIcmsNContribuinte) %</td>
                            <td style="text-align:center;">@ViewBag.Uf</td>
                            <td style="text-align:center;">@ViewBag.DarIcms.Code (@ViewBag.DarIcms.Description)</td>
                            <td style="text-align:right;">@string.Format("{0:N}", ViewBag.ValorVendaNContribIncentivo)</td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">Total (R$)</th>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <th style="text-align:right;">@string.Format("{0:N}", ViewBag.TotalIcms)</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="text-align:right">&nbsp;</th>
                            <td style="text-align:right">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">FUNEF</td>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;">@ViewBag.Uf</td>
                            <td style="text-align:center;">@ViewBag.DarFunef.Code (@ViewBag.DarFunef.Description)</td>
                            <td style="text-align:right;">@string.Format("{0:N}", ViewBag.TotalFunef)</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">COTAC</td>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;">@ViewBag.Uf</td>
                            <td style="text-align:center;">@ViewBag.DarCotac.Code (@ViewBag.DarCotac.Description)</td>
                            <td style="text-align:right;">@string.Format("{0:N}", ViewBag.TotalCotac)</td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">Total (R$)</th>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <th style="text-align:right;">@string.Format("{0:N}", ViewBag.TotalFunefCotac)</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <th style="text-align:center;">DIFAL</th>
                            <td style="text-align:center;"></td>
                            <td style="text-align:right;"></td>
                        </tr>
                        @foreach (var state in ViewBag.IcmsForaDoEstado)
                        {
                            @if (Convert.ToDecimal(state[1]) > 0)
                            {
                                <tr>

                                    <td style="text-align:center;">ICMS</td>
                                    <td style="text-align:center;">@string.Format("{0:N}", ViewBag.PercentualIcmsNaoContribForaDoEstado) %</td>
                                    <td style="text-align:center;">@state[0]</td>
                                    <td style="text-align:center;"></td>
                                    <td style="text-align:right;">@string.Format("{0:N}", Convert.ToDecimal(state[1].Replace(".", ",")))</td>
                                </tr>
                            }
                        }
                        <tr>
                            <th style="text-align:center;">Total (R$)</th>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <th style="text-align:right;">@string.Format("{0:N}", ViewBag.ValorVendaNContribForaDoEstado)</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="text-align:right">&nbsp;</th>
                            <td style="text-align:right">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">Total Geral (R$)</th>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;"></td>
                            <th style="text-align:right;">@string.Format("{0:N}", ViewBag.TotalImpostoGeral)</th>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
