@if (ViewBag.Type == "resumoCfop")
{
    <strong>Resumo CFOP</strong>
}

@if (ViewBag.Type == "resumoCfopAnexo")
{
    <strong>Resumo CFOP Anexo</strong>
}

@if (ViewBag.Type == "resumoCfopAnexoAnalitico")
{
    <strong>Resumo CFOP Anexo Analítico</strong>
}

@if (ViewBag.Type == "resumoCfopAnexoDC")
{
    <strong>Resumo CFOP Anexo Débito/Crédito</strong>
}

@if (ViewBag.Type == "resumoCfopForaAnexo")
{
    <strong>Resumo CFOP Fora do Anexo</strong>
}

@if (ViewBag.Type == "resumoCfopForaAnexoAnalitico")
{
    <strong>Resumo CFOP Fora do Anexo Analítico</strong>
}

@if (ViewBag.Type == "resumoCfopForaAnexoDC")
{
    <strong>Resumo CFOP Fora do Anexo Débito/Crédito</strong>
}

@if (ViewBag.Type == "resumoCfopCst")
{
    <strong>Resumo CFOP/CST </strong>
}

@if (ViewBag.Type == "resumoCfopAliq")
{
    <strong>Resumo CFOP/Aliquota </strong>
}

@if (ViewBag.Type == "resumoCfopIcmsIcmsST")
{
    <strong>Resumo CFOP ICMS/ICMS ST </strong>
}

@if (ViewBag.Type == "resumoCfopIcmsIcmsSTAnalitico")
{
    <strong>Resumo CFOP ICMS/ICMS ST Analítico </strong>
}

@if (ViewBag.Type == "resumoPorCfop")
{
    @if (ViewBag.Erro == 1)
    {
        <b>Nenhum CFOP selecionado</b>
    }
    else
    {
        <strong> Resumo por CFOP: @ViewBag.Cfop.Code -  @ViewBag.Cfop.Description</strong>
    }
}

@if (ViewBag.Type == "icmsExcedente")
{
    <strong>Relatório de Penalidade</strong>
}

@if (ViewBag.Type == "anexo")
{
    <strong>Venda @ViewBag.Anexo </strong>
}

@if (ViewBag.Type == "foraAnexo")
{
    <strong>Venda Fora Anexo</strong>
}

@if (ViewBag.Type == "incentivo")
{
    <strong>Apuração Icms </strong>
}

@if (ViewBag.Type == "notaContigenciaIcms" || ViewBag.Type == "notaContigenciaNIcms")
{
    <strong>Notas Contigência </strong>
}


@if (ViewBag.Type == "suspensao")
{
    <div>
        <strong>Suspensão: </strong> <br />
        @foreach (var p in ViewBag.Periodos)
        {
            <p> @Convert.ToDateTime(p[1]).ToString("dd/MM/yyyy hh:mm:ss") à @Convert.ToDateTime(p[2]).ToString("dd/MM/yyyy hh:mm:ss") </p>
        }
    </div>
}

@if (ViewBag.Type == "anexoAutoPecas")
{
    <strong>ANEXO CCCXVI </strong>
}

@if (ViewBag.Type == "anexoMedicamento")
{
    <strong>ANEXO CLIX </strong>
}

@if (ViewBag.Type == "produtoST")
{
    <strong>Produtos ST com Base de Cálculo </strong>
}

@if (ViewBag.Type == "tributacaoDiveregente")
{
    <strong>Tributação Divergente(ICMS) </strong>
}

@if (ViewBag.Type == "vendaNContribuinte")
{
    <strong>Vendas P/ não Contribuinte </strong>
}

@if (ViewBag.Type == "vendaContribuinte")
{
    <strong>Vendas P/ Contribuinte </strong>
}

@if (ViewBag.Type == "debitoCredito")
{
    <strong>Débito/Crédito </strong>
}

@if (ViewBag.Type == "vendaProdutoSTNormal")
{
    <strong>Venda de Produto ST como Normal </strong>
}

@if (ViewBag.Type == "vendaProdutoSTNormalNote")
{
    <strong>Venda de Produto ST como Normal por Nota </strong>
}

@if (ViewBag.Type == "difal")
{
    <strong>Relatório de ICMS DIFAL</strong>
}

@if (ViewBag.Type != "anexoAutoPecas" || ViewBag.Type != "incentivo" || ViewBag.Type != "venda")
{
    @if (ViewBag.Arquivo == "xmlS")
    {
        <b>(XML SEFAZ)</b>
    }
    else if (ViewBag.Arquivo == "xmlE")
    {
        <b>(XML EMPRESA)</b>
    }
}

@if (ViewBag.Type == "resumoCfopIcmsIcmsST" || ViewBag.Type == "resumoCfopIcmsIcmsSTAnalitico")
{
    @if (ViewBag.CfopId != 0 && ViewBag.CfopId != null)
    {
        <br />
        <b>CFOP</b>

        if (ViewBag.Cst != 0 && ViewBag.Cst != null)
        {
            <b>/CST</b>
        }
        else if (ViewBag.Csosn != 0 && ViewBag.Csosn != null)
        {
            <b>/CSOSN</b>
        }
        else if (ViewBag.State != 0 && ViewBag.State != null)
        {
            <b>/UF</b>
        }
        else if (ViewBag.PIcms != "" && ViewBag.PIcms != null)
        {
            <b>/ICMS (@ViewBag.PIcms %)</b>
        }
        else if (ViewBag.PIcmsST != "" && ViewBag.PIcmsST != null)
        {
            <b>/ICMS ST (@ViewBag.PIcmsST %)</b>
        }
        else if (ViewBag.Mva != "" && ViewBag.Mva != null)
        {
            <b>/MVA (@ViewBag.Mva %)</b>
        }
    }
    else if (ViewBag.Cst != 0 && ViewBag.Cst != null)
    {
        <br />
        <b>CST</b>
        if (ViewBag.State != 0 && ViewBag.State != null)
        {
            <b>/UF</b>
        }
        else if (ViewBag.PIcms != "" && ViewBag.PIcms != null)
        {
            <b>/ICMS (%)</b>
        }
        else if (ViewBag.PIcmsST != "" && ViewBag.PIcmsST != null)
        {
            <b>/ICMS ST (%)</b>
        }
        else if (ViewBag.Mva != "" && ViewBag.Mva != null)
        {
            <b>/MVA (%)</b>
        }
    }
    else if (ViewBag.Csosn != 0 && ViewBag.Csosn != null)
    {
        <br />
        <b>CSOSN</b>
        if (ViewBag.State != 0 && ViewBag.State != null)
        {
            <b>/UF</b>
        }
        else if (ViewBag.PIcms != "" && ViewBag.PIcms != null)
        {
            <b>/ICMS (%)</b>
        }
        else if (ViewBag.PIcmsST != "" && ViewBag.PIcmsST != null)
        {
            <b>/ICMS ST (%)</b>
        }
        else if (ViewBag.Mva != "" && ViewBag.Mva != null)
        {
            <b>/MVA (%)</b>
        }
    }
    else if (ViewBag.State != 0 && ViewBag.State != null)
    {
        <br />
        <b>UF</b>
        if (ViewBag.PIcms != "" && ViewBag.PIcms != null)
        {
            <b>/ICMS (%)</b>
        }
        else if (ViewBag.PIcmsST != "" && ViewBag.PIcmsST != null)
        {
            <b>/ICMS ST (%)</b>
        }
        else if (ViewBag.Mva != "" && ViewBag.Mva != null)
        {
            <b>/MVA (%)</b>
        }
    }
    else if (ViewBag.PIcms != "" && ViewBag.PIcms != null)
    {
        <br />
        <b>ICMS (%)</b>
        if (ViewBag.PIcmsST != "" && ViewBag.PIcmsST != null)
        {
            <b>/ICMS ST (%)</b>
        }
        else if (ViewBag.Mva != "" && ViewBag.Mva != null)
        {
            <b>/MVA (%)</b>
        }
    }
    else if (ViewBag.PIcmsST != "" && ViewBag.PIcmsST != null)
    {
        <br />
        <b>ICMS ST (%)</b>
        if (ViewBag.Mva != "" && ViewBag.Mva != null)
        {
            <b>/MVA (%)</b>
        }
    }
    else if (ViewBag.Mva != "" && ViewBag.Mva != null)
    {
        <br />
        <b>MVA (%)</b>
    }
}

