<table class="table" style="font-size:11px; border:1px solid">
    <thead>
        <tr>
            <th style="border: 1px solid; text-align: center;">
                Nota
            </th>
            <th style="border: 1px solid; text-align: center;">
                Produto
            </th>
            <th style="border: 1px solid; text-align: center;">
                NCM
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor Contábil
            </th>
            <th style="border:1px solid; text-align:center;">
                Base de Cálculo
            </th>
            <th style="border:1px solid; text-align:center;">
                ICMS
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venda in ViewBag.Vendas)
        {
            <tr style="border:1px solid;">
                <td style="border:1px solid; padding-left:1%;">
                    @venda[6]
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @venda[0] -  @venda[1]
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @venda[2]
                </td>
                <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", Convert.ToDecimal(venda[3].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", Convert.ToDecimal(venda[4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", Convert.ToDecimal(venda[5].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="border: 1px solid; text-align: center;" colspan="3">Total</th>
            <th style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.ValorContabil)</th>
            <th style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.BaseCalculo)</th>
            <th style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.ValorIcms)</th>
        </tr>
    </tfoot>
</table>