<table class="table"  style="border:1px solid;">
    <thead>
        <tr style="border:1px solid;">
            <th style="border:1px solid; text-align:center;">
                N° Nota
            </th>
            <th style="border:1px solid; text-align:center;">
                Data e Hora
            </th>
            <th style="border:1px solid; text-align:center;">
                Total Nota
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor Contábil
            </th>
            <th style="border:1px solid; text-align:center;">
                BC ICMS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor ICMS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor FECOP
            </th>
        </tr>
    </thead>
    <tbody style="border:1px solid;">
        @foreach (var note in ViewBag.Notes)
        {
            @if (Convert.ToDecimal(note[2]) > 0)
            {
                <tr style="border:1px solid;">
                    <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                        @note[1]
                    </td>
                    <td style="border:1px solid; padding-left:1%; padding-right:1%;">
                        @Convert.ToDateTime(note[7]).ToString("dd/MM/yyyy hh:mm:ss")
                    </td>
                    <td style="border:1px solid; text-align:right; padding-right:1%;">
                        @string.Format("{0:N}", Convert.ToDecimal(note[6].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                    </td>
                    <td style="border:1px solid; text-align:right; padding-right:1%;">
                        @string.Format("{0:N}", Convert.ToDecimal(note[2].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                    </td>
                    <td style="border:1px solid; text-align:right; padding-right:1%;">
                        @string.Format("{0:N}", Convert.ToDecimal(note[3].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                    </td>
                    <td style="border:1px solid; text-align:right; padding-right:1%;">
                        @string.Format("{0:N}", Convert.ToDecimal(note[4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                    </td>
                    <td style="border:1px solid; text-align:right; padding-right:1%;">
                        @string.Format("{0:N}", Convert.ToDecimal(note[5].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                    </td>
                </tr>

            }
        }

        <tr style="border:1px solid;">
            <td style="border:1px solid; padding-left:1%; padding-right:1%; text-align:center;" colspan="2">
                <b>Total</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", ViewBag.TotalNota)</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", ViewBag.ValorContabil)</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", ViewBag.BaseIcms)</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", ViewBag.ValorIcms)</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", ViewBag.ValorFecop)</b>
            </td>
        </tr>
    </tbody>
</table>