<table class="table" style="border:1px solid;">
    <thead>
        <tr style="border:1px solid;">
            <th style="border:1px solid; text-align:center;" colspan="4">
                CFOP
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor Contábil
            </th>
            <th style="border:1px solid; text-align:center;">
                BC ICMS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor ICMS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor FECOP
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cfop in ViewBag.CfopForaAnexo)
        {
            <tr style="border:1px solid;">
                <td style="border:1px solid; padding-left:1%;" colspan="4">
                    @cfop[0] - @cfop[1]
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[2].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[3].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[5].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
            </tr>

            <tr>
                <th style="border:1px solid; text-align:center;">
                    Nº NFe
                </th>
                <th style="border:1px solid; text-align:center;">
                    Chave
                </th>
                <th style="border:1px solid; text-align:center;">
                    Produto
                </th>
                <th style="border:1px solid; text-align:center;">
                    NCM
                </th>
                <th style="border:1px solid; text-align:center;">
                </th>
                <th style="border:1px solid; text-align:center;">
                </th>
                <th style="border:1px solid; text-align:center;">
                </th>
                <th style="border:1px solid; text-align:center;">
                </th>
            </tr>

            @foreach (var product in ViewBag.Produtos)
            {
                @if (cfop[0] == product[5])
                {
                    <tr style="font-size:10px;">
                        <td style="border:1px solid; padding-left:1%; font-size:8px;">
                            @product[1]
                        </td>
                        <td style="border:1px solid; padding-left:1%; font-size:8px;">
                            @product[0]
                        </td>
                        <td style="border:1px solid; padding-left:1%; font-size:8px;">
                            @product[2]
                        </td>
                        <td style="border:1px solid; padding-left:1%;">
                            @product[4]
                        </td>
                        <td style="border:1px solid; text-align:right; padding-right:1%;">
                            @string.Format("{0:N}", Convert.ToDecimal(product[6].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                        </td>
                        <td style="border:1px solid; text-align:right; padding-right:1%;">
                            @string.Format("{0:N}", Convert.ToDecimal(product[7].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                        </td>
                        <td style="border:1px solid; text-align:right; padding-right:1%;">
                            @string.Format("{0:N}", Convert.ToDecimal(product[8].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                        </td>
                        <td style="border:1px solid; text-align:right; padding-right:1%;">
                            @string.Format("{0:N}", Convert.ToDecimal(product[9].Replace(',', '*').Replace('.', ',').Replace('*', '.')))
                        </td>
                    </tr>

                }
            }
        }
    </tbody>
</table>
