<table class="table" style="font-size:12px; border:2px solid;">
    <thead>
        <tr>
            <th style="border:1px solid;">

            </th>
            <th style="text-align:center; border:1px solid;">
                Total
            </th>
            <th style="text-align:center; border:1px solid;">
                Devolução
            </th>
            <th style="text-align:center; border:1px solid;">
                Base de Cálculo
            </th>
            <th style="text-align:center; border:1px solid;">
                Percentual (%)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.TotalVenda)
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.TotalDevo)
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.BaseCalc)
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;"></th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ Contribuintes
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.Contribuinte)
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.TotalDevoContribuite)
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.BaseCalcContribuinte)
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.PercentualVendaContribuinte) %
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ Não Contribuintes
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.NContribuinte)
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.TotalDevoNContribuinte)
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.BaseCalcNContribuinte)
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.PercentualVendaNContribuinte) %
            </th>
        </tr>
        @if (ViewBag.Company.AnnexId == 1 || ViewBag.Company.ChapterId == 4)
        {
            @if (ViewBag.Company.ChapterId == 4)
            {
                <tr>
                    <th style="border: 1px solid; text-align:center;">
                        Vendas do Inciso I
                    </th>
                    <td style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.VendasIncisoI)
                    </td>
                    <td style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.TotalDevoIncisoI)
                    </td>
                    <th style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.BaseCalcIncisoI)
                    </th>
                    <th style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.PercentualVendaIncisoI) %
                    </th>
                </tr>
                <tr>
                    <th style="border: 1px solid; text-align:center;">
                        Vendas do Inciso II
                    </th>
                    <td style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.VendasIncisoII)
                    </td>
                    <td style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.TotalDevoIncisoII)
                    </td>
                    <th style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.BaseCalcIncisoII)
                    </th>
                    <th style="text-align:right; padding-right:1%; border:1px solid;">
                        @string.Format("{0:N}", ViewBag.PercentualVendaIncisoII) %
                    </th>
                </tr>
            }
            <tr>
                @if (ViewBag.Company.ChapterId == 4)
                {
                    <th style="border: 1px solid; text-align:center;">
                        Vendas do Inciso I e II
                    </th>
                }
                @if (ViewBag.Company.AnnexId == 1)
                {
                    <th style="border: 1px solid; text-align:center;">
                        Vendas do Anexo II
                    </th>
                }

                <td style="text-align:right; padding-right:1%; border:1px solid;">
                    @string.Format("{0:N}", ViewBag.VendaNcm)
                </td>
                <td style="text-align:right; padding-right:1%; border:1px solid;">
                    @string.Format("{0:N}", ViewBag.TotalDevoNcm)
                </td>
                <th style="text-align:right; padding-right:1%; border:1px solid;">
                    @string.Format("{0:N}", ViewBag.BaseCalcNcm)
                </th>
                <th style="text-align:right; padding-right:1%; border:1px solid;">
                    @string.Format("{0:N}", ViewBag.PercentualVendaNcm) %
                </th>
            </tr>
        }

        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ mesmo grupo maior que @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaMGrupo)) %
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.TotalVendaGrupo)
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.TotalDevoGrupo)
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.TotalBaseCalcuGrupo)
            </th>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @string.Format("{0:N}", ViewBag.PercentualVendaGrupo) %
            </th>
        </tr>
    </tbody>
</table>

@if (ViewBag.Grupo.Count > 0)
{
    <table class="table" style="font-size: 12px;">
        <thead>
            <tr style="border: 1px solid;">
                <th style="border: 1px solid; text-align:center;">CNPJ</th>
                <th style="border: 1px solid; text-align:center;">Cliente</th>
                <th style="border: 1px solid; text-align:center;">Base de Cálculo</th>
                <th style="border: 1px solid; text-align:center;">Percentual (%)</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Grupo)
            {
                <tr>
                    <td style="border: 1px solid;">@item[0]</td>
                    <td style="border: 1px solid;">@item[1]</td>
                    <td style="border: 1px solid; text-align:right; padding-right:1%;">@string.Format("{0:N}", item[2])</td>
                    <td style="border: 1px solid; text-align: right; padding-right: 1%;">@string.Format("{0:N}", item[3]) %</td>
                    
                </tr>
            }

        </tbody>
    </table>
}


<table class="table" style="font-size: 11px; page-break-before: always;">
    <thead>
        <tr>
            <th>
                <table class="table">
                    <thead class="table">
                        <tr class="table" style="border: 1px solid;">
                            <th style="text-align:center; border: 1px solid;">APURAÇÃO ICMS</th>
                        </tr>
                    </thead>
                </table>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:200px;"></th>
                            <th style="width:120px;">Vendas</th>
                            <th></th>
                            <th style="width:120px;">Limite (MÁXIMO)</th>
                            <th></th>
                            <th style="width:100px;">Excedente</th>
                            <th></th>
                            <th style="width:100px;">Adicional</th>
                            <th></th>
                            <th style="width:100px;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ICMS Excedente Grupo (@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaMGrupo)) %)</th>
                            <td>
                                @string.Format("{0:N}", ViewBag.TotalBaseCalcuGrupo)
                            </td>
                            <th style="font-size:17px">-</th>
                            <td>@string.Format("{0:N}", ViewBag.LimiteGrupo)</td>
                            <th style="font-size:17px">=</th>
                            <td>@string.Format("{0:N}", ViewBag.ExcedenteGrupo)</td>
                            <th>x</th>
                            <td> @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaMGrupoExcedente)) %</td>
                            <th style="font-size:17px">=</th>
                            <td>@string.Format("{0:N}", ViewBag.TotalExcedenteGrupo)</td>
                        </tr>
                        @if (ViewBag.Company.ChapterId == 4)
                        {
                            <tr>
                                <th>Transferência - Saída (@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.Transferencia)) %)</th>
                                <td>@string.Format("{0:N}", ViewBag.TotalTransferencia)</td>
                                <th style="font-size:17px">-</th>
                                <td>@string.Format("{0:N}", ViewBag.LimiteTransferencia)</td>
                                <th style="font-size:17px">=</th>
                                <td>@string.Format("{0:N}", ViewBag.ExcedenteTransferencia)</td>
                                <th>x</th>
                                <td>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.TransferenciaExcedente)) %</td>
                                <th style="font-size:17px">=</th>
                                <td>@string.Format("{0:N}", ViewBag.TotalExcedenteTransferencia)</td>
                            </tr>
                        }
                        <tr>
                            <th>Transferência Interestadual - Entrada (@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.TransferenciaInter)) %)</th>
                            <td>@string.Format("{0:N}", ViewBag.TotalTransferenciaInter)</td>
                            <th style="font-size:17px">-</th>
                            <td>@string.Format("{0:N}", ViewBag.LimiteTransferenciaInter)</td>
                            <th style="font-size:17px">=</th>
                            <td>@string.Format("{0:N}", ViewBag.ExcedenteTransferenciaInter)</td>
                            <th>x</th>
                            <td>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.TransferenciaInterExcedente)) %</td>
                            <th style="font-size:17px">=</th>
                            <td>@string.Format("{0:N}", ViewBag.TotalExcedenteTransferenciaInter)</td>
                        </tr>
                        @if (ViewBag.Company.ChapterId != 4)
                        {
                            <tr>
                                <th>ICMS Excedente P/ Não Contribuinte (@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaCpf)) %)</th>
                                <td>@string.Format("{0:N}", ViewBag.BaseCalcNContribuinte)</td>
                                <th style="font-size:17px">-</th>
                                <td>@string.Format("{0:N}", ViewBag.LimiteNContribuinte)</td>
                                <th style="font-size:17px">=</th>
                                <td>@string.Format("{0:N}", ViewBag.ExcedenteNContribuinte)</td>
                                <th>x</th>
                                <td>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaCpfExcedente)) %</td>
                                <th style="font-size:17px">=</th>
                                <td>@string.Format("{0:N}", ViewBag.TotalExcedenteNContribuinte)</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </td>
        </tr>
        @if (ViewBag.Company.AnnexId == 1 || ViewBag.Company.ChapterId == 4)
        {
            <tr>
                <td>
                    <table class="table">
                        <thead>

                            <tr>
                                <th style="width:200px;"></th>
                                <th style="width:120px;">Limite (MÍNIMO)</th>
                                <th></th>
                                <th style="width:120px;">Vendas</th>
                                <th></th>
                                <th style="width:100px;">Excedente</th>
                                <th></th>
                                <th style="width:100px;">Adicional</th>
                                <th></th>
                                <th style="width:100px;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Company.AnnexId == 1)
                            {
                                <tr>
                                    <th>Venda Conforme Anexo II (@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaAnexo)) %)</th>
                                    <td> @string.Format("{0:N}", ViewBag.LimiteNcm)</td>
                                    <th style="font-size:17px">-</th>
                                    <td>@string.Format("{0:N}", ViewBag.BaseCalcNcm)</td>
                                    <th style="font-size:17px">=</th>
                                    <td>@string.Format("{0:N}", ViewBag.ExcedenteNcm)</td>
                                    <th>x</th>
                                    <td>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaAnexoExcedente)) %</td>
                                    <th style="font-size:17px">=</th>
                                    <td>@string.Format("{0:N}", ViewBag.TotalExcedenteNcm)</td>
                                </tr>
                            }

                            @if (ViewBag.Company.ChapterId == 4)
                            {
                                <tr>
                                    <th>ICMS Excedente P/ Contribuinte (@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaContribuinte)) %)</th>
                                    <td> @string.Format("{0:N}", ViewBag.LimiteContribuinte)</td>
                                    <th style="font-size:17px">-</th>
                                    <td>@string.Format("{0:N}", ViewBag.BaseCalcContribuinte)</td>
                                    <th style="font-size:17px">=</th>
                                    <td>@string.Format("{0:N}", ViewBag.ExcedenteContribuinte)</td>
                                    <th>x</th>
                                    <td>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.VendaContribuinteExcedente)) %</td>
                                    <th style="font-size:17px">=</th>
                                    <td>@string.Format("{0:N}", ViewBag.TotalExcedenteContribuinte)</td>
                                </tr>
                                <tr>
                                    <th>Venda Conforme Inciso I e II <br /> (@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.Faturamento)) %)</th>
                                    <td> @string.Format("{0:N}", ViewBag.LimiteNcm)</td>
                                    <th style="font-size:17px">-</th>
                                    <td>@string.Format("{0:N}", ViewBag.BaseCalcNcm)</td>
                                    <th style="font-size:17px">=</th>
                                    <td>@string.Format("{0:N}", ViewBag.ExcedenteNcm)</td>
                                    <th>x</th>
                                    <td>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.FaturamentoExcedente)) %</td>
                                    <th style="font-size:17px">=</th>
                                    <td>@string.Format("{0:N}", ViewBag.TotalExcedenteNcm)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </td>
            </tr>
        }

        <tr>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:200px;"></th>
                            <th style="width:120px;">Base de Cálculo</th>
                            <th></th>
                            <th style="width:120px;"></th>
                            <th></th>
                            <th style="width:100px;"></th>
                            <th></th>
                            <th style="width:100px;">Adicional</th>
                            <th></th>
                            <th style="width:100px;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Suspensão</th>
                            <td>@string.Format("{0:N}", ViewBag.BaseCalcSuspensao)</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                            <th>x</th>
                            <td>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.Suspension)) %</td>
                            <th style="font-size:17px">=</th>
                            <td>@string.Format("{0:N}", ViewBag.TotalSuspensao)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th colspan="2">Total Icms Excedente</th>
                            <td></td>
                            <th>@string.Format("{0:N}", ViewBag.TotalIcms)</th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>DAR</th>
                            <td></td>
                            <th>@ViewBag.DarIcms</th>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </tbody>
</table>
