<table class="table" style="font-size:12px; border:2px solid;">
    <thead>
        <tr>
            <th style="border:1px solid;">

            </th>
            <th style="text-align:center; border:1px solid;">
                Total
            </th>
            <th style="text-align:center; border:1px solid;">
                Devolução
            </th>
            <th style="text-align:center; border:1px solid;">
                Base de Cálculo
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Venda
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalVenda
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevo
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalc
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ Contribuintes
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.Contribuinte
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevoContrib
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalcContrib
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ Não Contribuintes
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.NContribuinte
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevoNContrib
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalcNContrib
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas do Anexo II
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.VendaAnexo
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalDevoAnexo
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.BaseCalcAnexo
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid; text-align:center;">
                Vendas P/ mesmo grupo maior que @ViewBag.PercentualCNPJ %
            </th>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
                @ViewBag.TotalExecedente
            </td>
            <td style="text-align:right; padding-right:1%; border:1px solid;">
            </td>
            <th style="text-align:right; padding-right:1%; border:1px solid;">
            </th>
        </tr>
    </tbody>
</table>

@if (ViewBag.Grupo.Count == 0)
{
    <h6 style="padding-left:20px;"><strong>Não houve vendas para o mesmo grupo maior que @ViewBag.PercentualCNPJ %</strong></h6>
}
else
{
    <table class="table" style="font-size: 12px;">
        <thead>
            <tr style="border: 1px solid;">
                <th style="border: 1px solid; text-align:center;">CNPJ</th>
                <th style="border: 1px solid; text-align:center;">Cliente</th>
                <th style="border: 1px solid;">Percentual</th>
                <th style="border: 1px solid;">Valor</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Grupo)
            {
                <tr>
                    <td>@item[0]</td>
                    <td>@item[1]</td>
                    <td>@item[2]</td>
                    <td>@item[3]</td>
                </tr>
            }

        </tbody>
    </table>
}


<table class="table" style="font-size: 12px; page-break-before: always;">
    <thead>
        <tr>
            <th>
                <table class="table">
                    <thead class="table">
                        <tr class="table" style="border: 1px solid;">
                            <th style="text-align:center; border: 1px solid;">APURAÇÃO ICMS</th>
                        </tr>
                    </thead>
                </table>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:200px;"></th>
                            <th style="width:120px;">Vendas</th>
                            <th></th>
                            <th style="width:120px;">Limite (MÁXIMO)</th>
                            <th></th>
                            <th style="width:100px;">Excedente</th>
                            <th></th>
                            <th style="width:100px;">Adicional</th>
                            <th></th>
                            <th style="width:100px;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Grupo)
                        {
                            <tr>
                                <th>ICMS Excedente Grupo</th>
                                <td>@item[3]</td>
                                <th style="font-size:17px">-</th>
                                <td>@item[4]</td>
                                <th style="font-size:17px">=</th>
                                <td>@item[5]</td>
                                <th>x</th>
                                <td>@item[6]</td>
                                <th style="font-size:17px">=</th>
                                <td>@item[7]</td>
                            </tr>
                        }
                        <tr>
                            <th>Transferência Interestadual</th>
                            <td>@ViewBag.TotalTransferencia</td>
                            <th style="font-size:17px">-</th>
                            <td>@ViewBag.LimiteTransferencia</td>
                            <th style="font-size:17px">=</th>
                            <td>@ViewBag.ExcedenteTransferencia</td>
                            <th>x</th>
                            <td>@ViewBag.PercentaulTransferencia</td>
                            <th style="font-size:17px">=</th>
                            <td>@ViewBag.TotalExcedenteTransferencia</td>
                        </tr>

                    </tbody>

                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table class="table">
                    <thead>
                      
                        <tr>
                            <th style="width:200px;"></th>
                            <th style="width:120px;">Limite (MÍNIMO)</th>
                            <th></th>
                            <th style="width:120px;">Vendas</th>
                            <th></th>
                            <th style="width:100px;">Excedente</th>
                            <th></th>
                            <th style="width:100px;">Adicional</th>
                            <th></th>
                            <th style="width:100px;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ICMS Excedente Contribuinte</th>
                            <td>@ViewBag.LimiteContribuinte</td>
                            <th style="font-size:17px">-</th>
                            <td>@ViewBag.BaseCalcContrib</td>
                            <th style="font-size:17px">=</th>
                            <td>@ViewBag.ExcedenteContribuinte</td>
                            <th>x</th>
                            <td>@ViewBag.PercentualExcedenteContribuinte</td>
                            <th style="font-size:17px">=</th>
                            <td>@ViewBag.TotalExcedenteContribuinte</td>
                        </tr>
                        <tr>
                            <th>Venda Conforme Anexo</th>
                            <td>@ViewBag.LimiteAnexo</td>
                            <th style="font-size:17px">-</th>
                            <td>@ViewBag.VendaAnexo</td>
                            <th style="font-size:17px">=</th>
                            <td>@ViewBag.ExcedenteAnexo</td>
                            <th>x</th>
                            <td>@ViewBag.PercentualExcedenteAnexo</td>
                            <th style="font-size:17px">=</th>
                            <td>@ViewBag.TotalExcedenteAnexo</td>
                        </tr>
                    </tbody>

                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:200px;"></th>
                            <th style="width:120px;">Base de Cálculo</th>
                            <th></th>
                            <th style="width:120px;"></th>
                            <th></th>
                            <th style="width:100px;"></th>
                            <th></th>
                            <th style="width:100px;">Adicional</th>
                            <th></th>
                            <th style="width:100px;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Suspensão</th>
                            <td>@ViewBag.BaseCalcSuspensao</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                            <th>x</th>
                            <td>@ViewBag.PercentaulSuspensao</td>
                            <th style="font-size:17px">=</th>
                            <td>@ViewBag.TotalSuspensao</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Total ICMS</th>
                            <td></td>
                            <th>@ViewBag.TotalIcms</th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>DAR</th>
                            <td></td>
                            <th>@ViewBag.Dar</th>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </tbody>
</table>
