@{
    ViewData["Title"] = "RelatoryExit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box box-primary">
        <div class="box-header">
            <div style="width:100%; overflow:hidden; padding:20px;">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/img/logo-sisct.png" style="width:25%; height:60%; float:left;" />
                        <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
                    </div>
                </div>

            </div>

            <div style="text-align:center;">
                <strong>@ViewBag.SocialName - @ViewBag.Document</strong>
            </div>

            <div style="width:100%; overflow:hidden; padding:20px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6 col-md-6 col-xs-12">
                            @if (ViewBag.Type == "resumocfop")
                            {
                                <strong>Resumo por CFOP</strong>
                            }
                            else if (ViewBag.Type == "venda")
                            {
                                <strong>Relatório de Penalidade</strong>
                            }
                            else if (ViewBag.Type == "anexo")
                            {
                                <strong>Venda Ncm Anexo II</strong>
                            }
                            else if (ViewBag.Type == "foraAnexo")
                            {
                                <strong>Venda Ncm Fora Anexo II</strong>
                            }
                            else if (ViewBag.Type == "incentivo")
                            {
                                <strong>Apuração Icms</strong>
                            }

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-12" style="text-align:right;">
                            <strong>Periodo: @ViewBag.Month/@ViewBag.Year </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div style="width:100%; padding:20px;">

                @if (ViewBag.Type == "resumocfop")
                {
                    <table class="table" style="border:1px solid;">
                        <thead>
                            <tr style="border:1px solid;">
                                <th style="border:1px solid;">
                                    CFOP
                                </th>
                                <th style="border:1px solid;">
                                    Descrição
                                </th>
                                <th style="border:1px solid;">
                                    Valor Contábil
                                </th>
                                <th style="border:1px solid;">
                                    Base de Cálculo Icms
                                </th>
                                <th style="border:1px solid;">
                                    Valor Icms
                                </th>
                                <th style="border:1px solid;">
                                    Valor Fecop
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < ViewBag.Cfop.Count; i++)
                            {

                                <tr style="border:1px solid;">
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][0]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][1]
                                    </td>
                                    <td style="border:1px solid;">
                                        <b>@ViewBag.Cfop[i][2]</b>
                                    </td>
                                    <td style="border:1px solid;">
                                        <b>@ViewBag.Cfop[i][3]</b>
                                    </td>
                                    <td style="border:1px solid;">
                                        <b>@ViewBag.Cfop[i][4]</b>
                                    </td>
                                    <td style="border:1px solid;">
                                        <b>@ViewBag.Cfop[i][5]</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="border:1px solid;"><b>Venda com CPF</b></td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][6]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][7]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][8]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][9]
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="border:1px solid;"><b>Venda sem CPF</b></td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][10]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][11]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][12]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][13]
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="border:1px solid;"><b>Venda com CNPJ com Inscrição Estadual</b></td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][14]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][15]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][16]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][17]
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="border:1px solid;"><b>Venda com CNPJ sem Inscrição Estadual</b></td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][18]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][19]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][20]
                                    </td>
                                    <td style="border:1px solid;">
                                        @ViewBag.Cfop[i][21]
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else if (ViewBag.Type == "venda")
                {
                    <table class="table" style="font-size:10px;">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Valor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Base de Cálculo
                                </th>
                                <td>
                                    @ViewBag.TotalSaida
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Vendas P/ Contribuintes
                                </th>
                                <td>
                                    @ViewBag.Contribuinte
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Vendas P/ Não Contribuintes
                                </th>
                                <td>
                                    @ViewBag.NContribuinte
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Vendas P/ CNPJ maior que @ViewBag.PercentualCNPJ %
                                </th>
                                <td>
                                    @ViewBag.TotalExecedente
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Vendas do Anexo II
                                </th>
                                <td>
                                    @ViewBag.VendaAnexo
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    @if (ViewBag.Grupo.Count == 0)
                    {
                        <h6 style="padding-left:20px;"><strong>Não houve vendas para contribuites maior que @ViewBag.PercentualCNPJ %</strong></h6>
                    }
                    else
                    {
                        <table class="table" style="font-size: 10px;">
                            <thead>
                                <tr style="border: 1px solid;">
                                    <th style="border: 1px solid; text-align:center;">CNPJ</th>
                                    <th style="border: 1px solid; text-align:center;">Cliente</th>
                                    <th style="border: 1px solid;">Percentual</th>
                                    <th style="border: 1px solid;">Valor</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ViewBag.Grupo)
                                {
                                    <tr>
                                        <td>@item[0]</td>
                                        <td>@item[1]</td>
                                        <td>@item[2]</td>
                                        <td>@item[3]</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }


                    <table class="table" style="font-size: 10px;">
                        <thead>
                            <tr>
                                <th>
                                    <table class="table">
                                        <thead class="table">
                                            <tr class="table" style="border: 1px solid;">
                                                <th style="text-align:center; border: 1px solid;">APURAÇÃO ICMS</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:200px;"></th>
                                                <th style="width:120px;">Vendas</th>
                                                <th></th>
                                                <th style="width:120px;">Limite (MÁXIMO)</th>
                                                <th></th>
                                                <th style="width:100px;">Excedente</th>
                                                <th></th>
                                                <th style="width:100px;">Adicional</th>
                                                <th></th>
                                                <th style="width:100px;">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Grupo)
                                            {
                                                <tr>
                                                    <th>ICMS excedente</th>
                                                    <td>@item[3]</td>
                                                    <th>-</th>
                                                    <td>@item[4]</td>
                                                    <th>=</th>
                                                    <td>@item[5]</td>
                                                    <th>x</th>
                                                    <td>@item[6]</td>
                                                    <th>=</th>
                                                    <td>@item[7]</td>
                                                </tr>
                                            }
                                            <tr>
                                                <th>Transferência Interestadual</th>
                                                <td>@ViewBag.TotalTransferencia</td>
                                                <th>-</th>
                                                <td>@ViewBag.LimiteTransferencia</td>
                                                <th>=</th>
                                                <td>@ViewBag.ExcedenteTransferencia</td>
                                                <th>x</th>
                                                <td>@ViewBag.PercentaulTransferencia</td>
                                                <th>=</th>
                                                <td>@ViewBag.TotalExcedenteTransferencia</td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:200px;"></th>
                                                <th style="width:120px;">Limite (MÍNIMO)</th>
                                                <th></th>
                                                <th style="width:120px;">Vendas</th>
                                                <th></th>
                                                <th style="width:100px;">Excedente</th>
                                                <th></th>
                                                <th style="width:100px;">Adicional</th>
                                                <th></th>
                                                <th style="width:100px;">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>ICMS excedente contribuinte</th>
                                                <td>@ViewBag.LimiteContribuinte</td>
                                                <th>-</th>
                                                <td>@ViewBag.Contribuinte</td>
                                                <th>=</th>
                                                <td>@ViewBag.ExcedenteContribuinte</td>
                                                <th>x</th>
                                                <td>@ViewBag.PercentualExcedenteContribuinte</td>
                                                <th>=</th>
                                                <td>@ViewBag.TotalExcedenteContribuinte</td>
                                            </tr>
                                            <tr>
                                                <th>Venda conforme anexo</th>
                                                <td>@ViewBag.LimiteAnexo</td>
                                                <th>-</th>
                                                <td>@ViewBag.VendaAnexo</td>
                                                <th>=</th>
                                                <td>@ViewBag.ExcedenteAnexo</td>
                                                <th>x</th>
                                                <td>@ViewBag.PercentualExcedenteAnexo</td>
                                                <th>=</th>
                                                <td>@ViewBag.TotalExcedenteAnexo</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th>Total ICMS</th>
                                                <td></td>
                                                <td>@ViewBag.TotalIcms</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th>DAR</th>
                                                <td></td>
                                                <th>@ViewBag.Dar</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                }
                else if (ViewBag.Type == "anexo")
                {
                    <diV class="pull-right">
                        <strong>Total Vendas: </strong> @ViewBag.TotalVendas
                    </diV>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Ncm
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Percentual %
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < ViewBag.ResumoNcm.Count; i++)
                            {
                                <tr>
                                    <td>@ViewBag.ResumoNcm[i][0]</td>
                                    <td>@ViewBag.ResumoNcm[i][2]</td>
                                    <td style="width:150px;">@ViewBag.ResumoNcm[i][3]</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <td>@ViewBag.TotalNcm</td>
                                <td>@ViewBag.PercentualTotal</td>
                            </tr>
                        </tfoot>
                    </table>


                }
                else if (ViewBag.Type == "foraAnexo")
                {
                    <diV class="pull-right">
                        <strong>Total Vendas: </strong> @ViewBag.TotalVendas
                    </diV>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Ncm
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Percentual %
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < ViewBag.Ncm.Count; i++)
                            {
                                <tr>
                                    <td>@ViewBag.Ncm[i][0]</td>
                                    <td>@ViewBag.Ncm[i][1]</td>
                                    <td style="width:150px;">@ViewBag.Ncm[i][2]</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <td>@ViewBag.TotalNcm</td>
                                <td>@ViewBag.PercentualTotal</td>
                            </tr>
                        </tfoot>
                    </table>
                }
                else if (ViewBag.Type == "incentivo")
                {
                    if (ViewBag.TypeCompany == true)
                    {
                        <div style="width:100%; padding:20px; padding-top:10px;">
                            <table style="font-size:12px;" border="1">
                                <thead style="font-size:13px;">
                                    <tr>
                                        <th style="text-align:center" width="320px">Histórico</th>
                                        <th style="text-align:center">Aliq. Inter do Produto até 25%</th>
                                        <th style="text-align:center">Aliq. Inter do Produto superior 25%</th>
                                        <th style="text-align:center">Receitas de Produtos ST</th>
                                        <th style="text-align:center" width="150px">Total (R$)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-size:11px;">Venda p/ Contribuintes (R$)</td>
                                        <td style="text-align:right">@ViewBag.VendaContribuinteIncentivo</td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right">@ViewBag.VendaContribuinteNIncentivo</td>
                                        <td style="text-align:right">@ViewBag.TotalVendaContibuinte</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Percentual do Incentivo Fiscal (%)</td>
                                        <td style="text-align:right">@ViewBag.PercentualIcmsContrib %</td>
                                        <td style="text-align:right">5,00 %</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="font-size:11px;">Total (R$)</th>
                                        <th style="text-align:right">@ViewBag.ValorVendaContribIncentivo</th>
                                        <td style="text-align:right"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th style="text-align:right">&nbsp;</th>
                                        <td style="text-align:right">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Venda p/ Não Contribuintes (R$)</td>
                                        <td style="text-align:right">@ViewBag.VendaNContribIncentivo</td>
                                        <td></td>
                                        <td style="text-align:right">@ViewBag.VendaNContribuinteNIncentivo</td>
                                        <td style="text-align:right">@ViewBag.TotalGeralVendaNContibuinte</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Venda p/ Não Contribuintes ST (R$)</td>
                                        <td style="text-align:right">@ViewBag.VendaNContribuinteNIncentivo</td>
                                        <td></td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Base de Cálculo (R$)</td>
                                        <td style="text-align:right">@ViewBag.TotalVendaNContribuinte</td>
                                        <td></td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Percentual do Incentivo Fiscal (%)</td>
                                        <td style="text-align:right">@ViewBag.PercentualIcmsNContribuinte %</td>
                                        <td></td>
                                        <td style="text-align:right"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="font-size:11px;">Total (R$)</th>
                                        <th style="text-align:right">@ViewBag.ValorVendaNContribIncentivo</th>
                                        <td></td>
                                        <td style="text-align:right"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th style="text-align:right">&nbsp;</th>
                                        <td style="text-align:right">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size:11px;">Total das Vendas (R$)</th>
                                        <th style="text-align:right">@ViewBag.TotalGeralVendasIncentivo</th>
                                        <td></td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th style="text-align:right">&nbsp;</th>
                                        <td style="text-align:right">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Venda p/ Não Contribuintes Fora do Estado (R$)</td>
                                        <td style="text-align:right">@ViewBag.VendaNForaEstadoContribuinteIncetivo</td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right">@ViewBag.VendaNContribuinteNIncentivoForaDoEstado</td>
                                        <td style="text-align:right">@ViewBag.TotalGeralVendaNContibuinteForaDoEstado</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Venda p/ Não Contribuintes Fora do Estado ST (R$)</td>
                                        <td style="text-align:right">@ViewBag.VendaNContribuinteNIncentivoForaDoEstado</td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Base de Cálculo (R$)</td>
                                        <td style="text-align:right">@ViewBag.TotalVendaNContribuinteForaDoEstado</td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:11px;">Percentual do Incentivo Fiscal (%)</td>
                                        <td style="text-align:right">@ViewBag.PercentualIcmsNaoContribForaDoEstado %</td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th style="font-size:11px;">Total (R$)</th>
                                        <th style="text-align:right">@ViewBag.ValorVendaNContribIncentivoForaDoEstado</th>
                                        <td></td>
                                        <td style="text-align:right"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th style="text-align:right">&nbsp;</th>
                                        <td style="text-align:right">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size:11px;">Total Geral do Icms</th>
                                        <th style="text-align:right">@ViewBag.TotalGeralIcmsIncentivo</th>
                                        <td></td>
                                        <td></td>
                                        <th style="text-align:right"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="width:100%; overflow:hidden; padding:20px; padding-top:5px;">
                            <table class="table" border="1" style="font-size:12px;">
                                <thead>
                                    <tr>
                                        <th class="col-lg-6 col-md-6 col-sm-6" style="text-align:center; border:1px solid;">APURAÇÃO DO ICMS NORMAL</th>
                                        <th class="col-lg-1 col-md-1 col-sm-1"></th>
                                        <th class="col-lg-5 col-md-5 col-sm-5" style="text-align:center; border:1px solid;">DADOS PARA CÁLCULO DA FUNEF e COTAC</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:14px;">
                                    <tr>
                                        <td class="col-lg-6 col-sm-6">
                                            <table>
                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right;">Débito do Imposto pelas Saídas (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@ViewBag.Debito</td>

                                                </tr>

                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right;">Crédito do Imposto pelas Entradas (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">@ViewBag.Credito</td>
                                                </tr>

                                                <tr>
                                                    <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Diferença (R$)</th>
                                                    <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.Diferenca</th>
                                                </tr>

                                            </table>

                                        </td>
                                        <td></td>
                                        <td class="col-lg-6 col-sm-6">
                                            <table>

                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Valor do ICMS @ViewBag.PercentualIcmsContrib % (R$)</td>

                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.ValorVendaContribIncentivo</td>

                                                </tr>

                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Valor do ICMS 5,00 % (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">0,00</td>
                                                </tr>

                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Valor do ICMS @ViewBag.PercentualIcmsNContribuinte % (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.ValorVendaNContribIncentivo</td>
                                                </tr>

                                                <tr>
                                                    <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Total (R$)</th>
                                                    <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">@ViewBag.TotalIcms</th>
                                                </tr>

                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="width:100%; overflow:hidden; padding:20px; padding-top:2px;">
                            <table class="table" style="font-size:12px;" border="1">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; border:1px solid;">BASE DE CÁLCULO DA FUNEF E COTAC</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:14px;">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="text-align:right;" width="300px">Icms Apurado Normal (R$)</td>
                                                    <td style="text-align:right;" width="200px">@ViewBag.Diferenca</td>
                                                    <td width="200px">&nbsp;</td>
                                                    <td width="200px">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:right;">Icms Apurado Incentivado (R$)</td>
                                                    <td style="text-align:right;">@ViewBag.TotalIcms</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>

                                                </tr>
                                                <tr>
                                                    <th style="text-align:right">Total (R$)</th>
                                                    <th style="text-align:right">@ViewBag.BaseCalculo</th>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:right">&nbsp;</th>
                                                    <th style="text-align:right">&nbsp;</th>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:right"></th>
                                                    <th style="text-align:right">Base de Cálculo</th>
                                                    <th style="text-align:right">Percentual %</th>
                                                    <th style="text-align:right">Valor (R$)</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:right">FUNEF</th>
                                                    <td style="text-align:right">@ViewBag.BaseCalculo</td>
                                                    <td style="text-align:right">@ViewBag.PercentualFunef %</td>
                                                    <td style="text-align:right">@ViewBag.TotalFunef</td>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:right">COTAC</th>
                                                    <td style="text-align:right">@ViewBag.BaseCalculo</td>
                                                    <td style="text-align:right">@ViewBag.PercentualCotac %</td>
                                                    <td style="text-align:right">@ViewBag.TotalCotac</td>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:right" width="150px">Total (R$)</th>
                                                    <td style="text-align:right"></td>
                                                    <td>&nbsp;</td>
                                                    <th style="text-align:right">@ViewBag.TotalFunefCotac</th>
                                                </tr>
                                            </table>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div style="width:100%; overflow:hidden; padding:20px; padding-top:2px;">
                            <table class="table" style="font-size:12px;" border="1">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; border:1px solid;">RESUMO DA APURAÇÃO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <th style="text-align:center;" width="300px">IMPOSTO</th>
                                                    <th style="text-align:center;" width="150px">Percentual %</th>
                                                    <th style="text-align:center;" width="100px">UF</th>
                                                    <th style="text-align:center;" width="150px">Cod. Tributo</th>
                                                    <th style="text-align:right;" width="250px">Valor (R$)</th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">ICMS</td>
                                                    <td style="text-align:center;">@ViewBag.PercentualIcmsContrib %</td>
                                                    <td style="text-align:center;">PI</td>
                                                    <td style="text-align:center;">@ViewBag.DarIcms</td>
                                                    <td style="text-align:right;">@ViewBag.ValorVendaContribIncentivo</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">ICMS</td>
                                                    <td style="text-align:center;">5,00 %</td>
                                                    <td style="text-align:center;">PI</td>
                                                    <td style="text-align:center;">@ViewBag.DarIcms</td>
                                                    <td style="text-align:right;">0,00</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">ICMS</td>
                                                    <td style="text-align:center;">@ViewBag.PercentualIcmsNContribuinte %</td>
                                                    <td style="text-align:center;">PI</td>
                                                    <td style="text-align:center;">@ViewBag.DarIcms</td>
                                                    <td style="text-align:right;">@ViewBag.ValorVendaNContribIncentivo</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">FUNEF</td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:center;">PI</td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:right;">@ViewBag.TotalFunef</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">COTAC</td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:center;">PI</td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:right;">@ViewBag.TotalCotac</td>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:center;">Total (R$)</th>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:center;"></td>
                                                    <th style="text-align:right;">@ViewBag.TotalImposto</th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:center;"></td>
                                                    <th style="text-align:center;">DIFAL</th>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:right;"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">ICMS</td>
                                                    <td style="text-align:center;">@ViewBag.PercentualIcmsNaoContribForaDoEstado %</td>
                                                    <td style="text-align:center;">MA</td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:right;">@ViewBag.ValorVendaNContribIncentivoForaDoEstado</td>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:center;">Total Geral (R$)</th>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="text-align:center;"></td>
                                                    <th style="text-align:right;">@ViewBag.TotalImpostoGeral</th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div style="width:100%; padding:20px; padding-top:10px;">
                            <table style="font-size:14px;" border="1">
                                <thead style="font-size:14px;">
                                    <tr>
                                        <th style="text-align:center" width="50%">Histórico</th>
                                        <th style="text-align:center">Valor (R$)</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td style="text-align:center">Total das Vendas</td>
                                        <td style="text-align:right; padding-right:10px;">@ViewBag.TotalVendas</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Vendas Incentivada</td>
                                        <td style="text-align:right; padding-right:10px">@ViewBag.TotalVendasIncentivadas</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Vendas não Incentivada</td>
                                        <td style="text-align:right; padding-right:10px;">@ViewBag.TotalVendasNIncentivadas</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <table border="1">
                                                <tr>
                                                    <th style="text-align:center" width="150px">Base de Cálculo ICMS</th>
                                                    <th style="text-align:center" width="350px">Cálculo ICMS Normal</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:center" width="350px">Valor Base de ICMS (R$)</th>
                                                    <th>
                                                        <table border="1">
                                                            <tr>
                                                                <th style="text-align:center" width="350px">ICMS %</th>
                                                                <th style="text-align:center" width="350px">ICMS (R$)</th>
                                                            </tr>

                                                        </table>
                                                    </th>
                                                </tr>
                                                @for (int i = 0; i < ViewBag.ValoresIncentivo.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align:right; padding-right: 10px; font-weight: normal;" width="350px">@ViewBag.ValoresIncentivo[i][0]</td>

                                                        <th>
                                                            <table>
                                                                <tr>
                                                                    <td style="text-align:center; font-weight: normal" width="350px">@ViewBag.ValoresIncentivo[i][1]</td>
                                                                    <td style="text-align:right; padding-right: 10px; font-weight: normal;" width="350px">@ViewBag.ValoresIncentivo[i][2]</td>
                                                                </tr>

                                                            </table>
                                                        </th>
                                                    </tr>
                                                }

                                                <tr>
                                                    <th style="text-align:center" width="350px">Valor débito ICMS (R$)</th>
                                                    <th>
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:center" width="350px">&nbsp;</th>
                                                                <td style="text-align:right; padding-right: 10px;" width="350px">@ViewBag.DebitoIncentivo</td>
                                                            </tr>

                                                        </table>
                                                    </th>
                                                </tr>

                                            </table>
                                        </th>
                                        <th>
                                            <table border="1">
                                                <tr>
                                                    <th style="text-align:center" width="150px">Base de Cálculo ICMS</th>
                                                    <th style="text-align:center" width="350px">Cálculo ICMS não Incentivado</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:center" width="350px">Valor Base de ICMS (R$)</th>
                                                    <th>
                                                        <table border="1">
                                                            <tr>
                                                                <th style="text-align:center" width="350px">ICMS %</th>
                                                                <th style="text-align:center" width="350px">ICMS (R$)</th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                </tr>
                                                @for (int i = 0; i < ViewBag.ValoresNIncentivo.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align:right; padding-right: 10px; font-weight: normal;" width="350px">@ViewBag.ValoresNIncentivo[i][0]</td>

                                                        <th>
                                                            <table>
                                                                <tr>
                                                                    <td style="text-align:center; font-weight: normal" width="350px">@ViewBag.ValoresNIncentivo[i][1]</td>
                                                                    <td style="text-align:right; padding-right: 10px; font-weight: normal;" width="350px">@ViewBag.ValoresNIncentivo[i][2]</td>
                                                                </tr>
                                                            </table>
                                                        </th>
                                                    </tr>
                                                }
                                                <tr>
                                                    <th style="text-align:center" width="350px">&nbsp;</th>
                                                    <th>
                                                        <table>
                                                            <tr>
                                                                <td style="text-align:center" width="350px">&nbsp;</td>
                                                                <td style="text-align:right; padding-right: 10px;" width="350px">@ViewBag.DebitoNIncentivo</td>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </table>
                                        </th>
                                        
                                    </tr>
                                </tbody>
                               
                            </table>
                        </div>

                        <div style="width:100%; padding:20px; padding-top:10px;">
                            <table class="table" style="font-size:14px;">
                                <tr>
                                    <th>CÁLCULO PARA O RATEIO DOS CRÉDITOS</th>
                                </tr>
                                <tr>
                                    <th>
                                        <table>
                                            <tr>
                                                <td>
                                                    Total das Vendas
                                                </td>
                                                <td style="text-align:right; padding-right: 10px;">33</td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </table>
                        </div>

                        <div style="width:100%; padding:20px; padding-top:10px;">
                            <table class="table" style="font-size:14px;">
                                <thead style="font-size:14px;">
                                    <tr>
                                        <th class="col-lg-5 col-md-5 col-sm-5" style="text-align:center; border:1px solid;">APURAÇÃO ICMS NORMAL</th>
                                        <th class="col-lg-1 col-md-1 col-sm-1" style="border:none"></th>
                                        <th class="col-lg-6 col-md-6 col-sm-6" style="text-align:center; border:1px solid;">APURAÇÃO ICMS NORMAL NÃO INCENTIVADO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-lg-6 col-sm-6">
                                            <table>
                                                <tr>
                                                    <td class="col-lg-6 col-sm-9 col-md-9" style="text-align:right;">Débito do Imposto pelas Saídas (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">000</td>

                                                </tr>

                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right;">Crédito do Imposto pelas Entradas (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">000</td>
                                                </tr>

                                                <tr>
                                                    <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Diferença (R$)</th>
                                                    <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">000</th>
                                                </tr>
                                            </table>
                                        </td>
                                        <td></td>
                                        <td class="col-lg-6 col-sm-6">
                                            <table>
                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right;">Débito do Imposto pelas Saídas (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">000</td>

                                                </tr>

                                                <tr>
                                                    <td class="col-lg-9 col-sm-9 col-md-9" style="text-align:right;">Crédito do Imposto pelas Entradas (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">000</td>
                                                </tr>

                                                <tr>
                                                    <th class="col-lg-9 col-sm-9 col-md-9" style="text-align:right">Diferença (R$)</th>
                                                    <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">000</th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table" style="font-size:12px;">
                                <thead style="font-size:12px;">
                                    <tr>
                                        <th style="text-align:center; border:1px solid;">DADOS PARA CÁLCULO DA FUNEF E COTAC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td class="col-lg-3 col-sm-9 col-md-9" style="text-align:right;">Base de Calculo (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">000</td>

                                                </tr>
                                                <tr>
                                                    <td class="col-lg-3 col-sm-9 col-md-9" style="text-align:right;">Valor do FUNEF (R$)</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">000</td>
                                                    <td class="col-lg-3 col-sm-3 col-md-3" style="text-align:right;">000</td>
                                                </tr>

                                                <tr>
                                                    <th class="col-lg-3 col-sm-9 col-md-9" style="text-align:right">Base de Calculo  (R$)</th>
                                                    <th class="col-lg-3 col-sm-3 col-md-3" style="text-align:right">000</th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }

                }

            </div>
        </div>
    </div>