<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="5">
                BASE DE CÁLCULO PARA O PIS E COFINS
            </th>

            <th style="text-align:center;border:1px solid;" colspan="4">
                BASE DE CÁLCULO PARA A CSLL E IRPJ
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <th style="text-align:center;border:1px solid;">
                RECEITAS
            </th>
            <th style="text-align:center;border:1px solid;">
                <span style="font-size:11px;">(-)</span> <br /> RECEITA MONOFÁSICA
            </th>
            <th style="text-align:center;border:1px solid;">
                <span style="font-size:11px;">(-)</span> <br /> DEVOLUÇÃO NORMAL
            </th>
            <th style="text-align:center;border:1px solid;">
                <span style="font-size:11px;">(-)</span> <br /> REDUÇÂO ICMS
            </th>
            <th style="text-align:center;border:1px solid;">
                <span style="font-size:11px;">(=)</span> <br />  BC P/ PIS E COFINS
            </th>
            <th style="text-align:center;border:1px solid;">
                COMBUSTÍVEL
            </th>
            <th style="text-align:center;border:1px solid;">
                COMÉRCIO
            </th>
            <th style="text-align:center;border:1px solid;">
                TRASNPORTE
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO
            </th>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.BaseCalcAntesMono)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.BaseCalcMono)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.DevolucaoNormal)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.ReducaoIcms)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.BaseCalcPisCofins)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.BaseCalcCsllIrpjPetroleo)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.BaseCalcCsllIrpjComercio)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.BaseCalcCsllIrpjTransporte)
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.BaseCalcCsllIrpjServico)
            </td>
        </tr>
    </tbody>
</table>