<table class="table" style="border:1px solid;">
    <thead>
        <tr style="border:1px solid;">
            <th style="border:1px solid; text-align:center;">
                CFOP
            </th>
            <th style="border:1px solid; text-align:center;">
                Descrição
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor Contábil
            </th>
            <th style="border:1px solid; text-align:center;">
                CST PIS
            </th>
            <th style="border:1px solid; text-align:center;">
                Base PIS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor PIS
            </th>
            <th style="border:1px solid; text-align:center;">
                CST COFINS
            </th>
            <th style="border:1px solid; text-align:center;">
                Base COFINS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor COFINS
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cfop in ViewBag.Cfop)
        {
            <tr style="border:1px solid;">
                <td style="border:1px solid; padding-left:1%;">
                    @cfop[0]
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @cfop[1]
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @cfop[2]
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[5].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[6].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @cfop[3]
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[7].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(cfop[8].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>

            </tr>
        }
    </tbody>
</table>