<table class="table" style="border:1px solid;">
    <thead>
        <tr style="border:1px solid;">
            <th style="border:1px solid; text-align:center;">
                CFOP
            </th>
            <th style="border:1px solid; text-align:center;">
                Descrição
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor Contábil
            </th>
            <th style="border:1px solid; text-align:center;">
                Base PIS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor PIS
            </th>
            <th style="border:1px solid; text-align:center;">
                Base COFINS
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor COFINS
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.Cfop.Count; i++)
        {
            <tr style="border:1px solid;">
                <td style="border:1px solid; padding-left:1%;">
                    @ViewBag.Cfop[i][0]
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @ViewBag.Cfop[i][1]
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][2].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][3].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][6].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>
                <td style="border:1px solid; text-align:right; padding-right:1%;">
                    <b>@string.Format("{0:N}", Convert.ToDecimal(ViewBag.Cfop[i][5].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
                </td>

            </tr>
        }
    </tbody>
</table>