<div style="width:100%; page-break-before: always;padding-top:10px;">
    <div class="pull-left" style="width:51%;">
        <table class=" table" style="font-size:10px;">
            <thead>
                <tr>
                    <th style="text-align:center;border:1px solid;font-size:11px;" colspan="2">
                        APURAÇÃO CSLL
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="text-align:center;border:1px solid;text-align:right;">
                        COMBUSTÍVEL @ViewBag.PercentualCsll1 %
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.Csll1
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid;text-align:right;">
                        COMÉRCIO @ViewBag.PercentualCsll1 %
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.Csll2
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid;text-align:right;">
                        TRASNPORTE @ViewBag.PercentualCsll1 %
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.Csll3
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right;">
                        SERVIÇO @ViewBag.PercentualCsll2 %
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.Csll4
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(=)</span> SubTotal
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.CsllTotal
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(+)</span> Ganho de Capital na Venda de Imobilizado
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.CapitalIM
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(+)</span> Bonificações (Entradas)
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.Bonificacao
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase; ">
                        <span style="font-size:11px;">(+)</span> Receita de Aplicação Financeira
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.ReceitaAF
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(=)</span> Base de Cálculo
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.BaseCalcCsll
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(=)</span> CSLL Normal @ViewBag.PercentualCsllNormal %
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.CsllNormal
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(-)</span> CSLL Retido
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.CsllRetido
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(-)</span> CSLL R. Fonte
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.CsllFonte
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;border:1px solid; text-align:right; text-transform:uppercase;">
                        <span style="font-size:11px;">(=)</span> Total CSLL à Pagar
                    </th>
                    <td style="text-align:right;border:1px solid; padding-right:1%;">
                        @ViewBag.CsllAPagar
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pull-right" style="width:49%">
        <div class="chart">
            <div id="csll_values" style="width: 400px; height: auto;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    google.charts.load("current", { packages: ['corechart'], 'language': 'pt-br' });
    google.charts.setOnLoadCallback(drawChart);
    var baseCsll = @SessionManager.GetValues()[2].ToString().Replace(",",".");
    var csllAPagar = @SessionManager.GetValues()[3].ToString().Replace(",",".");
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Valor", { role: "style" }],
            ["Base de Cálculo", baseCsll, "deepSkyBlue"],
            ["CSLL à Pagar", csllAPagar, "paleGreen"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "Gráfico CSLL",
            width: 600,
            height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("csll_values"));
        chart.draw(view, options);
    }
</script>