<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;">
                DISCRIMINAÇÃO DAS ENTRADAS
            </th>
            <th style="text-align:center;border:1px solid;" width="30%">
                TOTAL
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:right;border:1px solid;">
                COMPRAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.Compra))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) DEVOLUÇÕES DE COMPRAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.DevolucaoCompra))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) COMPRAS DE TRATORES E IMPLEMENNTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.CompraTI))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) ENERGIA ELETRICA R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.Energia))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) ALUGUEL - PRÉDIOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) ALUGUEL - MAQUINAS E EQUIPAMENTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) DESPESA - FINANCEIRAS/EMP. E FINANCIAMENTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) DESPESA - DEPRECIACÃO DE MAQ. E EQUIPAMENTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) DESPESA - DESPESA/DEPRECIACÃO/AMORTIZAÇÃO R$
            </td>
            <td style="text-align:right;border:1px solid;">
            </td>
        </tr>
        <tr>
            <th style="text-align:right;border:1px solid;">
                (=) TOTAL R$
            </th>
            <th style="text-align:right;border:1px solid;">
            </th>
        </tr>
    </tbody>
</table>

<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="4">COFINS</th>
            <th style="text-align:center;border:1px solid;" colspan="4">PIS S/FATURAMENTO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center;border:1px solid;">S/ FAT. (CRÉDITO) @ViewBag.Company.PercentualCofins %</td>
            <td style="text-align:center;border:1px solid;">RETIDO S/ NF</td>
            <td style="text-align:center;border:1px solid;">CREDOR DO PERÍODO ANTERIOR</td>
            <th style="text-align:center;border:1px solid;">TOTAL CRÉDITO</th>
            <td style="text-align:center;border:1px solid;">S/ FAT. (CRÉDITO) @ViewBag.Company.PercentualPis %</td>
            <td style="text-align:center;border:1px solid;">RETIDO S/ NF</td>
            <td style="text-align:center;border:1px solid;">CREDOR DO PERÍODO ANTERIOR</td>
            <th style="text-align:center;border:1px solid;">TOTAL CRÉDITO</th>
        </tr>
    </tbody>
</table>