<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;">
                DISCRIMINAÇÃO DAS SAÍDAS
            </th>
            <th style="text-align:center;border:1px solid;" width="30%">
                TOTAL
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:right;border:1px solid;">
                VENDAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.Venda))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) DEVOLUÇÕES DE VENDAS DE MERCADORIAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.DevolucaoVenda))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (-) VENDAS DE TRATORES E IMPLEMENNTOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.VendaTI))
            </td>
        </tr>
        <tr>
            <th style="text-align:right;border:1px solid;">
                (=) VENDAS LÍQUIDAS R$
            </th>
            <th style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.TotalVendaLiquida))
            </th>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) PRESTAÇÃO DE SERVIÇOS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.PrestacaoServico))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - RECEITAS FINANCEIRAS R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.ReceitaFinanceira))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - GANHO DE CAPITAL R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.Capital))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - RECEITAS DE ALUGUEL R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.ReceitaAluguel))
            </td>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;">
                (+) OUTRAS RECEITAS - JURAS S/CAPITAL PRÓPRIO R$
            </td>
            <td style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Imposto.Juros))
            </td>
        </tr>
        <tr>
            <th style="text-align:right;border:1px solid;">
                (=) TOTAL R$
            </th>
            <th style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.TotalVenda))
            </th>
        </tr>
    </tbody>
</table>

<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="2">APURAÇÂO REC. FINANCEIRA</th>
            <th style="text-align:center;border:1px solid;">COFINS</th>
            <th style="text-align:center;border:1px solid;">PIS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;">COFINS @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.PercentualCofinsRF)) %</th>
            <th style="text-align:center;border:1px solid;">PIS @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.PercentualPisRF)) %</th>
            <th style="text-align:center;border:1px solid;">S/FAT. (DÉBITO) @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.PercentualCofins)) %</th>
            <th style="text-align:center;border:1px solid;">S/FAT. (DÉBITO) @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.PercentualPis)) %</th>
        </tr>
        <tr>
            <th style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.CofinsSaidaRF))
            </th>
            <th style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.PisSaidaRF))
            </th>
            <th style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.CofinsDebito))
            </th>
            <th style="text-align:right;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.PisDebito))
            </th>
        </tr>
    </tbody>
</table>

<table class="table" style="font-size:10px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="4">APURAÇÂO PERDA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;">(-) PERDAS (BASE DE CÁLCULO) R$</th>
            <th style="text-align:center;border:1px solid;">COFINS @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.PercentualCofins)) %</th>
            <th style="text-align:center;border:1px solid;">PIS @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.PercentualPis)) %</th>
        </tr>
        <tr>
            <th style="text-align:center;border:1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.BasePerda))</th>
            <th style="text-align:center;border:1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.CofinsPerda))</th>
            <th style="text-align:center;border:1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ViewBag.PisPerda))</th>
        </tr>
    </tbody>
</table>