<table class="table" style="font-size:11px; border:1px solid">
    <thead>
        <tr>
            <th style="border: 1px solid; text-align: center;">
                Produto
            </th>
            <th style="border: 1px solid; text-align: center;">
                NCM
            </th>
            <th style="border: 1px solid; text-align: center;">
                Quantidade
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor Contábil
            </th>
            <th style="border:1px solid; text-align:center;">
                Valor PIS
            </th>

            <th style="border:1px solid; text-align:center;">
                Valor Cofins
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ncm in ViewBag.Ncm)
        {
            <tr style="border:1px solid;">
                <td style="border:1px solid; padding-left:1%;">
                    @ncm[1] -  @ncm[5]
                </td>
                <td style="border:1px solid; padding-left:1%;">
                    @ncm[0]
                </td>
                <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ncm[6].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ncm[4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ncm[2].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
                <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", Convert.ToDecimal(ncm[3].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="border: 1px solid; text-align: center;" colspan="2">Total</th>
            <th style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.Quantidade)</th>
            <th style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.ValorProduto)</th>
            <th style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.ValorPis)</th>
            <th style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.ValorCofins)</th>
        </tr>
    </tfoot>
</table>