<table class="table" style="border:1px solid">
    <thead>
        <tr>
            <th style="border: 1px solid; text-align: center;">
            </th>
            <th style="border: 1px solid; text-align: center;">
                VENDAS
            </th>
            <th style="border:1px solid; text-align:center;">
                DEVOLUÇÔES
            </th>
            <th style="border:1px solid; text-align:center;">
                BASE
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="border:1px solid;">NORMAL</th>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.VendasNomal)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.DevoNormal)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.BaseNormal)</td>
        </tr>
        <tr>
            <th style="border:1px solid;">SUBSTITUIÇÃO</th>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.VendasST)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.DevoST)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.BaseST)</td>
        </tr>
        <tr>
            <th style="border:1px solid;">MONOFÁSICO</th>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.VendasMono)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.DevoMono)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.BaseMono)</td>
        </tr>
        <tr>
            <th style="border:1px solid;">TOTAL</th>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.TotalVendas)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.TotalDevo)</td>
            <td style="padding-right:1%; text-align:right; border: 1px solid;">@string.Format("{0:N}", ViewBag.TotalBase)</td>
        </tr>
    </tbody>
</table>