<table class="table" style="font-size:9px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;font-size:11px;" width="5%">
                @ViewBag.Year
            </th>
            <th style="text-align:center;border:1px solid;" colspan="8">
                FATURAMENTO
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;" rowspan="2">
                MÊS
            </th>
            <th style="text-align:center;border:1px solid;" colspan="4">
                RECEITA BRUTA
            </th>
            <th style="text-align:center;border:1px solid;" colspan="4">
                DEVOLUÇÃO
            </th>
        </tr>

        <tr>
            <th style="text-align:center;border:1px solid;">
                COMBUSTÍVEL @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ1)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMÉRCIO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ2)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                TRASNPORTE @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ3)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ4)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMBUSTÍVEL @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ1)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMÉRCIO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ2)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                TRASNPORTE @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ3)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ4)) %
            </th>
        </tr>
        @foreach (var item in ViewBag.Impostos)
        {
            <tr style="font-size:10px;">
                <td style="text-align:center;border:1px solid; text-transform:uppercase">
                    @item[0]
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[1]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[2]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[3]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[4]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[5]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[6]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[7]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[8]))
                </td>
            </tr>
        }
        <tr style="font-size:10px;">
            <th style="text-align:center;border:1px solid;">
                TOTAL
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.ReceitaPetroleo)
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.ReceitaComercio)
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.ReceitaTransporte)
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.ReceitaServico)
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.DeolucaoPetroleo)
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.DeolucaoComercio)
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.DeolucaoTransporte)
            </th>
            <th style="text-align:right;border:1px solid;padding-right:1%;">
                @string.Format("{0:N}", ViewBag.DeolucaoServico)
            </th>
        </tr>
    </tbody>
</table>

@await Html.PartialAsync("_BasesTrimestrePresumido", new ViewDataDictionary(ViewData))

<table class="table" style="font-size:9px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;font-size:11px;" width="5%">
                @ViewBag.Year
            </th>
            <th style="text-align:center;border:1px solid;" colspan="3">
                PIS
            </th>
            <th style="text-align:center;border:1px solid;" colspan="3">
                COFINS
            </th>
            <th style="text-align:center;border:1px solid;" colspan="3">
                CSLL
            </th>
            <th style="text-align:center;border:1px solid;" colspan="3">
                IRPJ
            </th>
            <th style="text-align:center;border:1px solid;">
                CPRB
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;">
                MÊS
            </th>
            <td style="text-align:center;border:1px solid;">
                APURADO
            </td>
            <td style="text-align:center;border:1px solid;">
                RETIDO
            </td>
            <th style="text-align:center;border:1px solid;">
                A PAGAR
            </th>
            <td style="text-align:center;border:1px solid;">
                APURADO
            </td>
            <td style="text-align:center;border:1px solid;">
                RETIDO
            </td>
            <th style="text-align:center;border:1px solid;">
                A PAGAR
            </th>
            <td style="text-align:center;border:1px solid;">
                APURADO
            </td>
            <td style="text-align:center;border:1px solid;">
                RETIDO
            </td>
            <td style="text-align:center;border:1px solid;">
                PAGO
            </td>
            <td style="text-align:center;border:1px solid;">
                APURADO
            </td>
            <td style="text-align:center;border:1px solid;">
                RETIDO
            </td>
            <td style="text-align:center;border:1px solid;">
                PAGO
            </td>
            <th style="text-align:center;border:1px solid;">
                @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.CPRB)) %
            </th>
        </tr>
        @foreach (var item in ViewBag.Impostos)
        {
            <tr style="font-size:10px;">
                <td style="text-align:center;border:1px solid; text-transform:uppercase">
                    @item[0]
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[18]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[19]))
                </td>
                <th style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[20]))
                </th>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[21]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[22]))
                </td>
                <th style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[23]))
                </th>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[24]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[25]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[26]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[27]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[28]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[29]))
                </td>
                <td style="text-align:right;border:1px solid;padding-right:1%;">
                    @string.Format("{0:N}", Convert.ToDecimal(item[30]))
                </td>
            </tr>
        }
    <tr style="font-size:10px;">
        <th style="text-align:center;border:1px solid;">
            TOTAL
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.PisApurado)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.PisRetido)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.PisAPagar)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.CofinsApurado)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.CofinsRetido)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.CofinsAPagar)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.CsllApurado)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.CsllRetido)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.CsllPago)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.IrpjApurado)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.IrpjRetido)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.IrpjPago)
        </th>
        <th style="text-align:right;border:1px solid;padding-right:1%;">
            @string.Format("{0:N}", ViewBag.CprbAPagar)
        </th>
    </tr>
    </tbody>
</table>
