@model Escon.SisctNET.Model.TaxAnexo

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">

        <a asp-controller="HomeExit" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong> Dados Anexo</strong></h3>
        <div class="btn-group pull-right">
            <a asp-action="Import" size="large" class="btn btn-primary fa fa-cloud-upload pull-right"> Importar</a>
        </div>

        <div style="width:100%; text-align:center; padding-top:10px;">
            <strong>@ViewBag.Company.SocialName</strong> <br />
            <b>CNPJ: </b>@ViewBag.Company.Document <b>Insc. Estadual: </b> @ViewBag.Company.Ie
        </div>

        <br />
        <br />

        <div style="width:100%; text-align:left; padding-left:1%;">
            <strong>Arquivo: </strong>
            @if (Model != null)
            {
                @Model.Arquivo
            }
            else
            {
                <span>Nenhum</span>
            }
        </div>

        <div style="width:100%; text-align:right; padding-right:1%;">
            <strong>@SessionManager.GetMonthInSession()/@SessionManager.GetYearInSession()</strong>
        </div>

    </div>
    <div class="box-body">
        <div style="width:100%; padding:10px;">

            @if (Convert.ToInt32(ViewBag.Company.AnnexId) == 1)
            {
                @await Html.PartialAsync("_AutoPartsAttachmentEntry", Model, new ViewDataDictionary(ViewData))

                @await Html.PartialAsync("_AutoPartsAttachmentExit", Model, new ViewDataDictionary(ViewData))
            }
        </div>
    </div>
</div>
