<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SisCT NET - EsconPI</title>

    <link href="~/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/js/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/js/select2/dist/css/select2.css" rel="stylesheet" />
    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/js/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/js/Ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/js/datatables.net/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/bootstrap-toggle/css/bootstrap-toggle.css" rel="stylesheet" />
    <link href="~/js/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/js/chart.js/dist/Chart.min.css" rel="stylesheet" />
    <link href="~/js/chart.js/dist/Chart.css" rel="stylesheet" />
    <link href="~/js/datatables.net/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/datatables.net/responsive/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/SisCT.css" rel="stylesheet" />

    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/js/datatables.net/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/adminlte.js"></script>
    <script src="~/js/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/input-mask/jquery.inputmask.js"></script>
    <script src="~/js/input-mask/jquery.inputmask.numeric.extensions.js"></script>
    <script src="~/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/js/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/chart.js/dist/Chart.min.js"></script>
    <script src="~/js/chart.js/dist/Chart.js"></script>
    <script src="~/js/loader.js"></script>
    <script src="~/js/notify/bootstrap-notify.js"></script>
    <script src="~/js/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables.net/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/datatables.net/responsive/js/dataTables.responsive.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap" rel="stylesheet">


</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

    <div class="wrapper" style="height: auto; min-height: 100%;">
        <header class="main-header">
            <!-- Logo -->
            <a asp-controller="Home" asp-action="Index" class="logo">

                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>E</b>C</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><i class="fa fa-home"></i> <b>Es</b>Con</span>
            </a>

            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            @await Html.PartialAsync("Notification", new ViewDataDictionary(ViewData))
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="~/img/ico_profile.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">@SessionManager.GetPersonInSession().FirstName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/img/ico_profile.png" class="img-circle" alt="User Image">
                                    <p>
                                        @SessionManager.GetPersonInSession().FirstName - @SessionManager.GetPersonInSession().Profile.Name
                                        <small>Membro desde @SessionManager.GetPersonInSession().Created.ToString("dd MMMM yyyy")</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" id=@SessionManager.GetPersonInSession().Id class="showProfile btn btn-default btn-flat">
                                            Perfil
                                        </a>
                                    </div>
                                    <div class="pull-right">
                                        <a asp-controller="Authentication" asp-action="Logout" title="Sair" class="btn btn-default btn-flat"><i class="fa fa-power-off"> Sair</i></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/img/ico_profile.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@SessionManager.GetPersonInSession().FirstName</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu tree" data-widget="tree">

                    <li class="header">MENU PRINCIPAL</li>

                    @await Html.PartialAsync("Menu", new ViewDataDictionary(ViewData))
                </ul>
            </section>
        </aside>

        <div class="content-wrapper" style="min-height: 960px;">
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 2.4.13
            </div>
            <strong>Copyright ©  2019-@DateTime.Now.ToString("yyyy") <a href="https://www.esconpi.com.br">Escon</a>.</strong> Todos os direitos reservados.
        </footer>
    </div>

    <div class="modal modal-primary fade in" id="formShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            function updateActive(ele) {

                alert($(this).prop('id'));
            }

            $('[data-toggle="tooltip"]').tooltip();

            $(".selectoption").select2();
            $('.cpfformatmask').inputmask("999.999.999-99");
            $('.cnpjformatmask').inputmask("99.999.999/9999-99");
            $('.phoneformatmask').inputmask("(99) 99999999")
            $('.dateformatmask').inputmask("99/99/9999 99:99:99");

            $(".money").inputmask('decimal', {
                'alias': 'numeric',
                'groupSeparator': '.',
                'autoGroup': true,
                'digits': 2,
                'radixPoint': ",",
                'digitsOptional': false,
                'allowMinus': false,
                'prefix': 'R$ ',
                'placeholder': ''
            });

            $(".number").inputmask('decimal', {
                'alias': 'numeric',
                'digits': 0,
                'groupSeparator': '',
                'radixPoint': ""
            });

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });

            $('#tblIndex').DataTable({
                "oLanguage": {
                    "sProcessing": "Aguarde enquanto os dados são carregados ...",
                    "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                    "sZeroRecords": "Nenhum registro disponível",
                    "sInfoEmpty": "Exibindo 0 a 0 de 0 registros",
                    "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                    "sInfoFiltered": "",
                    "sSearch": "Buscar",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Próximo",
                        "sLast": "Último"
                    }
                }
            });

            $('#tblIndex2').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "ordering": false,
                "info": false,
                "oLanguage": {
                    "sProcessing": "Aguarde enquanto os dados são carregados ...",
                    "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                    "sZeroRecords": "Nenhum registro disponível",
                    "sInfoEmpty": "Exibindo 0 a 0 de 0 registros",
                    "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                    "sInfoFiltered": "",
                    "sSearch": "Buscar",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Próximo",
                        "sLast": "Último"
                    }
                }
            });

            $('.showProfile').click(function () {
                $.get('User/EditNew/' + $(this).attr('id'), function (html) {
                    $('#formShow .modal-body').empty();
                    $('#formShow .modal-body').append($(html));
                    $('#formShow').modal('show');
                });

            });

        });
    </script>
</body>
</html>

