@model Escon.SisctNET.Model.TaxationNcm
<div style="width:100%; padding:20px;">
    <dl class="dl-horizontal">
        @if (Model.Company.Taxation)
        {
            <dt>
                Produto
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodeProduct)
            </dd>
            <dt>
                Descrição
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product)
            </dd>
        }
        <dt>
            Ncm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ncm.Code)
        </dd>
        <dt>
            Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ncm.Description)
        </dd>
        <dt>
            Tipo Receita
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeNcm.Name)
        </dd>
        <dt>
            Tipo Tributação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Cst Entrada
        </dt>
        <dd>
            @if (Model.CstEntradaId != null)
            {
                @Model.CstEntrada.Code <span>-</span> @Model.CstEntrada.Description
            }
        </dd>
        <dt>
            Cst Saída
        </dt>
        <dd>
            @if (Model.CstSaidaId != null)
            {
                @Model.CstSaida.Code <span>-</span> @Model.CstSaida.Description
            }
        </dd>
        <dt>
            Natureza Receita
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NatReceita)
        </dd>
        <dt>
            Pis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pis)
        </dd>
        <dt>
            Cofins
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cofins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

    </dl>
</div>