@model Escon.SisctNET.Model.TaxationNcm

@{
    ViewData["Title"] = "Ncm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box box-primary">
        <div class="box-header">
            <a asp-controller="TaxationNcm" asp-action="Index" asp-route-id="@ViewBag.CompanyId" asp-route-year="@ViewBag.Year" asp-route-month="@ViewBag.Month" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
            <h3 class="box-title"><strong>Tibutação:</strong> @Model.Ncm.Code</h3>
        </div>
        <hr />
        <div class="box-body">
            <div class="col-md-12">
                <form asp-action="Ncm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="type" value="@ViewBag.Type" />
                    <input type="hidden" name="company" value="@ViewBag.CompanyId" />
                    <input type="hidden" name="year" value="@ViewBag.Year" />
                    <input type="hidden" name="month" value="@ViewBag.Month" />
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-xs-12">
                            <label asp-for="CodeProduct" class="control-label"></label>
                            <input asp-for="CodeProduct" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-12">
                            <label asp-for="Ncm.Code" class="control-label"></label>
                            <input asp-for="Ncm.Code" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-xs-12">
                            <label asp-for="Ncm.Description" class="control-label"></label>
                            <input asp-for="Ncm.Description" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label asp-for="CstEntradaId" class="control-label"></label>
                            <select asp-items="@ViewBag.CstEntradaId" class="form-control selectoption" name="CstEntradaId" id="cstEntrada"></select>
                            <span asp-validation-for="CstEntradaId" class="text-danger"></span>

                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label asp-for="CstSaidaId" class="control-label"></label>
                            <select asp-items="@ViewBag.CstSaidaID" class="form-control selectoption" name="CstSaidaId" id="cstSaida"></select>
                            <span asp-validation-for="CstSaidaId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label asp-for="NatReceita" class="control-label"></label>
                            <input asp-for="NatReceita" class="form-control" />
                            <span asp-validation-for="NatReceita" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-xs-12">
                            <label asp-for="Pis" class="control-label"></label>
                            <input type="text" name="pis" class="form-control money" value="@Model.Pis" />
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-xs-12">
                            <label asp-for="Cofins" class="control-label"></label>
                            <input type="text" name="cofins" class="form-control money" value="@Model.Cofins" />
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-xs-12">
                            <label asp-for="DateStart" class="control-label"></label>
                            <input asp-for="DateStart" class="form-control" required />
                            <span asp-validation-for="DateStart" class="text-danger"></span>
                        </div>
                    </div>
                  

                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <input type="submit" value="Confirmar" class="btn btn-success pull-right" />
                    </div>
                </form>
            </div>
        </div>
        <div class="box-footer">

        </div>
    </div>
    <script type="text/javascript">
        var cstEnt = @Model.CstEntradaId;
        $("#cstEntrada").children('option').each(function () {
            if ($(this).val() == cstEnt) {
                $(this).attr('selected', true);
            }
        });

        var cstSai = @Model.CstSaidaId;
        $("#cstSaida").children('option').each(function () {
            if ($(this).val() == cstSai) {
                $(this).attr('selected', true);
            }
        });


     </script>