@model Escon.SisctNET.Model.Tax

<tr>
    <td style="text-align:center;border:1px solid;" colspan="5">
        VENDAS
    </td>
    <td style="text-align:center;border:1px solid;" colspan="5">
        DEVOLUÇÕES
    </td>
</tr>

<tr>
    <td style="text-align:center;border:1px solid;">
        TOTAL
    </td>
    <td style="text-align:center;border:1px solid;">
        CONTRIBUINTE
    </td>
    <td style="text-align:center;border:1px solid;">
        P/ NÃO CONTRIBUINTE
    </td>
    <td style="text-align:center;border:1px solid;">
        DO ANEXO
    </td>
    <td style="text-align:center;border:1px solid;">
        P/ GRUPO MAIOR QUE @ViewBag.Comp.VendaMGrupo %
    </td>
    <td style="text-align:center;border:1px solid;">
        TOTAL
    </td>
    <td style="text-align:center;border:1px solid;">
        CONTRIBUINTE
    </td>
    <td style="text-align:center;border:1px solid;">
        P/ NÃO CONTRIBUINTE
    </td>
    <td style="text-align:center;border:1px solid;">
        DO ANEXO
    </td>
    <td style="text-align:center;border:1px solid;">
        P/ GRUPO MAIOR QUE @ViewBag.Comp.VendaMGrupo %
    </td>

</tr>

<tr style="font-size:11px;">
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.Vendas)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.Vendas - Model.VendasNContribuinte)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasNContribuinte)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasNcm)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @ViewBag.VendasGrupo
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.Devolucao)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.Devolucao - Model.DevolucaoNContribuinte)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.DevolucaoNContribuinte)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.DevolucaoNcm)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @ViewBag.DevolucoesGrupo
    </td>
</tr>