@model Escon.SisctNET.Model.Tax

<tr>
    <td style="text-align:center;border:1px solid;" colspan="6">
        OPERAÇÕES INCENTIVADAS - ESTABELECIMENTOS REFERIDOS NO ART. 781
    </td>
    <td style="text-align:center;border:1px solid;" colspan="6">
        OPERAÇÕES PESSOAS JURÍRIDAS DISTINTAS DASELENCADAS NO ART. 781
    </td>
    <td style="text-align:center;border:1px solid;" rowspan="3">
        VENDAS A CLIENTES CREDENCIADOS
    </td>
</tr>
<tr>
    <td style="text-align:center;border:1px solid;" colspan="3">
        INTERNAS
    </td>
    <td style="text-align:center;border:1px solid;" colspan="3">
        INTERESTADUAIS
    </td>
    <td style="text-align:center;border:1px solid;" colspan="3">
        INTERNAS
    </td>
    <td style="text-align:center;border:1px solid;" colspan="3">
        INTERESTADUAIS
    </td>
</tr>
<tr>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS
    </td>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS PORTARIA
    </td>
    <td style="text-align:center;border:1px solid;">
        VENDAS
    </td>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS
    </td>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS PORTARIA
    </td>
    <td style="text-align:center;border:1px solid;">
        VENDAS
    </td>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS
    </td>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS PORTARIA
    </td>
    <td style="text-align:center;border:1px solid;">
        VENDAS
    </td>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS
    </td>
    <td style="text-align:center;border:1px solid;">
        SAÍDAS PORTARIA
    </td>
    <td style="text-align:center;border:1px solid;">
        VENDAS
    </td>
</tr>

<tr style="font-size:11px;">
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaInterna1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaPortInterna1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasInternas1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaInterestadual1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaInterestadual1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasInterestadual1)
        }
    </td>

    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaInterna2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaPortInterna2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasInternas2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaInterestadual2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.SaidaInterestadual2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasInterestadual2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasClientes)
        }
    </td>
</tr>