@model Escon.SisctNET.Model.Tax

<tr style="font-size:8px;">
    <th style="text-align:center;border:1px solid;">
        RECEITAS
    </th>
    <th style="text-align:center;border:1px solid;">
        RECEITAS INCENTIVADAS
    </th>
    <th style="text-align:center;border:1px solid;">
        RECEITAS INCENTIVADAS INTERNA
    </th>
    <th style="text-align:center;border:1px solid;">
        RECEITAS INCENTIVADAS INTERESTADUAL
    </th>
    <th style="text-align:center;border:1px solid;">
        RECEITAS NÂO CONTRIBUINTE
    </th>
   
</tr>
<tr style="font-size:10px;">
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @string.Format("{0:N}", Convert.ToDecimal(Model.Vendas))
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @string.Format("{0:N}", Convert.ToDecimal(Model.VendasNcm))
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @string.Format("{0:N}", Convert.ToDecimal(Model.VendasInterna))
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @string.Format("{0:N}", Convert.ToDecimal(Model.VendasInter))
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @string.Format("{0:N}", Convert.ToDecimal(Model.VendasNContribuinte))
        }
    </td>
</tr>
