@model Escon.SisctNET.Model.Tax

<tr style="font-size:8px;">
    <td style="text-align:center;border:1px solid;" colspan="15">
        VENDAS
    </td>
    <td style="text-align:center;border:1px solid;" rowspan="3">
        CRÈDITOS
    </td>
    <td style="text-align:center;border:1px solid;" rowspan="3">
        DÉBITOS
    </td>
</tr>

<tr style="font-size:8px;">
    <td style="text-align:center;border:1px solid;" colspan="5">
        CONTRIBUINTES
    </td>
    <td style="text-align:center;border:1px solid;" colspan="5">
        NÂO CONTRIBUINTES
    </td>
    <td style="text-align:center;border:1px solid;" colspan="5">
        NÂO CONTRIBUINTES FORA DO ESTADO
    </td>
</tr>
<tr style="font-size:8px;">
    <td style="text-align:center;border:1px solid;">
        AIQ. INTER. DO PRODUTO ATÉ 25%
    </td>
    <td style="text-align:center;border:1px solid;">
        AIQ. INTER. DO PRODUTO SUPERIOR 25%
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS NORMAL
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS ST
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS ISENTA
    </td>
    <td style="text-align:center;border:1px solid;">
        AIQ. INTER. DO PRODUTO ATÉ 25%
    </td>
    <td style="text-align:center;border:1px solid;">
        AIQ. INTER. DO PRODUTO SUPERIOR 25%
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS NORMAL
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS ST
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS ISENTA
    </td>
    <td style="text-align:center;border:1px solid;">
        AIQ. INTER. DO PRODUTO ATÉ 25%
    </td>
    <td style="text-align:center;border:1px solid;">
        AIQ. INTER. DO PRODUTO SUPERIOR 25%
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS NORMAL
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS ST
    </td>
    <td style="text-align:center;border:1px solid;">
        RECEITAS ISENTA
    </td>
</tr>
<tr style="font-size:10px;">
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasContribuinte1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasContribuinte2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaNormal1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaST1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaIsento1)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasNContribuinte)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaNormal2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaST2)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaIsento2)
        }
    </td>

    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.VendasNContribuinteFora)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;"></td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaNormal3)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaST3)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.ReceitaIsento3)
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Convert.ToDecimal(Model.CreditoEntrada) + Convert.ToDecimal(Model.CreditoSaida))
        }
    </td>
    <td style="text-align:right;border:1px solid;padding-right:1%;">
        @if (Model != null)
        {
            @Convert.ToDecimal(Model.Debito)
        }
    </td>

</tr>