@model Escon.SisctNET.Model.Tax

<table class="table" style="font-size:9px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="13">
                DADOS
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="13">VENDAS</th>
        </tr>

        <tr>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />NORMAL
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />MONOFÁSICO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />SUBSTITUIÇÃO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />ALIQ. ZERO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />ISENTO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />OUTRAS
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />NORMAL
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />MONOFÁSICO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />SUBSTITUIÇÃO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />ALIQ. ZERO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />ISENTO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />OUTRAS
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO
            </th>
        </tr>

        <tr>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaNormalNormal))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaNormalMonofasico))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaNormalST))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaNormalAliqZero))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaNormalIsento))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaNormalOutras))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaSTNormal))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaSTMonofasico))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaSTST))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaSTAliqZero))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaSTIsento))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.VendaSTOutras))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Receita4))
                }
            </td>
        </tr>
    </tbody>
</table>

<table class="table" style="font-size:9px;">
    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="13">DEVOLUÇÕES</th>
        </tr>

        <tr>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />NORMAL
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />MONOFÁSICO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />SUBSTITUIÇÃO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />ALIQ. ZERO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />ISENTO
            </th>
            <th style="text-align:center;border:1px solid;">
                NORMAL/<br />OUTRAS
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />NORMAL
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />MONOFÁSICO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />SUBSTITUIÇÃO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />ALIQ. ZERO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />ISENTO
            </th>
            <th style="text-align:center;border:1px solid;">
                SUBSTITUIÇÃO/<br />OUTRAS
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO
            </th>
        </tr>

        <tr>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoNormalNormal) + Convert.ToDecimal(Model.DevoNormalNormalP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoNormalMonofasico) + Convert.ToDecimal(Model.DevoNormalMonofasicoP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoNormalST) + Convert.ToDecimal(Model.DevoNormalSTP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoNormalAliqZero) + Convert.ToDecimal(Model.DevoNormalAliqZeroP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoNormalIsento) + Convert.ToDecimal(Model.DevoNormalIsentoP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoNormalOutras) + Convert.ToDecimal(Model.DevoNormalOutrasP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoSTNormal) + Convert.ToDecimal(Model.DevoSTNormalP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoSTMonofasico) + Convert.ToDecimal(Model.DevoSTMonofasicoP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoSTST) + Convert.ToDecimal(Model.DevoSTSTP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoSTAliqZero) + Convert.ToDecimal(Model.DevoSTAliqZeroP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoSTIsento) + Convert.ToDecimal(Model.DevoSTIsentoP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevoSTOutras) + Convert.ToDecimal(Model.DevoSTOutrasP))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao4))
                }
            </td>
        </tr>
    </tbody>
</table>