@model Escon.SisctNET.Model.Tax

<table class="table" style="font-size:11px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="15">
                DADOS
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="4">
                RECEITA BRUTA
            </th>
            <th style="text-align:center;border:1px solid;" colspan="4">
                DEVOLUÇÃO
            </th>
        </tr>

        <tr>
            <th style="text-align:center;border:1px solid;">
                COMBUSTÍVEL @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ1)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMÉRCIO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ2)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                TRASNPORTE @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ3)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ4)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMBUSTÍVEL @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ1)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMÉRCIO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ2)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                TRASNPORTE @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ3)) %
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO @string.Format("{0:N}", Convert.ToDecimal(ViewBag.Company.IRPJ4)) %
            </th>

        </tr>
        <tr style="font-size:11px;">
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Receita1))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}",Convert.ToDecimal(Model.Receita2))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Receita3))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Receita4))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao1) + Convert.ToDecimal(Model.Devolucao1P))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao2) + Convert.ToDecimal(Model.Devolucao2P))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao3) + Convert.ToDecimal(Model.Devolucao3P))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao4) + Convert.ToDecimal(Model.Devolucao4P))
                }
            </td>
        </tr>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="4">
                OUTRAS RECEITAS
            </th>
            <th style="text-align:center;border:1px solid;">
                REDUÇÕES
            </th>
            <th style="text-align:center;border:1px solid;" rowspan="2" colspan="2">
                RECEITA MONOFÁSICA
            </th>
            <th style="text-align:center;border:1px solid;" rowspan="2">
                DEVOLUÇÂO NORMAL
            </th>
        </tr>
        <tr>
            <th style="text-align:center;border:1px solid;">
                GANHO DE CAPITAL NA VENDA DE IMOBILIZADO
            </th>
            <th style="text-align:center;border:1px solid;" colspan="2">
                BONIFICAÇÕES <br />
                (ENTRADAS)
            </th>
            <th style="text-align:center;border:1px solid;">
                RECEITA DE APLIC. FINANCEIRA
            </th>
            <th style="text-align:center;border:1px solid;">
                ICMS
            </th>
        </tr>
        <tr>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.CapitalIM))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;" colspan="2">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Bonificacao))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.ReceitaAF))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.ReducaoIcms))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;" colspan="2">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.ReceitaMono))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevolucaoNormal) + Convert.ToDecimal(Model.DevolucaoNormalP))
                }
            </td>
        </tr>
    </tbody>
</table>