@model Escon.SisctNET.Model.Tax

<table class="table" style="font-size:9px;">
    <thead>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="15">
                DADOS
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th style="text-align:center;border:1px solid;" colspan="4">
                RECEITA BRUTA
            </th>
            <th style="text-align:center;border:1px solid;" colspan="4">
                DEVOLUÇÃO
            </th>
            <th style="text-align:center;border:1px solid;" colspan="3">
                OUTRAS RECEITAS
            </th>
            <th style="text-align:center;border:1px solid;">
                REDUÇÕES
            </th>
            <th style="text-align:center;border:1px solid;" rowspan="2">
                RECEITA MONOFÁSICA
            </th>
            <th style="text-align:center;border:1px solid;" rowspan="2">
                DEVOLUÇÂO MONOFÁSICA
            </th>

        </tr>

        <tr>
            <th style="text-align:center;border:1px solid;">
                COMBUSTÍVEL @ViewBag.PercentualPetroleo %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMÉRCIO @ViewBag.PercentualComercio %
            </th>
            <th style="text-align:center;border:1px solid;">
                TRASNPORTE @ViewBag.PercentualTransporte %
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO @ViewBag.PercentualServico %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMBUSTÍVEL @ViewBag.PercentualPetroleo %
            </th>
            <th style="text-align:center;border:1px solid;">
                COMÉRCIO @ViewBag.PercentualComercio %
            </th>
            <th style="text-align:center;border:1px solid;">
                TRASNPORTE @ViewBag.PercentualTransporte %
            </th>
            <th style="text-align:center;border:1px solid;">
                SERVIÇO @ViewBag.PercentualServico %
            </th>
            <th style="text-align:center;border:1px solid;">
                GANHO DE CAPITAL NA VENDA DE IMOBILIZADO
            </th>
            <th style="text-align:center;border:1px solid;">
                BONIFICAÇÕES <br />
                (ENTRADAS)
            </th>
            <th style="text-align:center;border:1px solid;">
                RECEITA DE APLIC. FINANCEIRA
            </th>
            <th style="text-align:center;border:1px solid;">
                ICMS
            </th>
        </tr>
        <tr style="font-size:11px;">
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Receita1))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}",Convert.ToDecimal(Model.Receita2))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Receita3))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Receita4))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao1Entrada) + Convert.ToDecimal(Model.Devolucao1Saida))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao2Entrada) + Convert.ToDecimal(Model.Devolucao2Saida))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao3Entrada) + Convert.ToDecimal(Model.Devolucao3Saida))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Devolucao4Entrada) + Convert.ToDecimal(Model.Devolucao4Saida))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.CapitalIM))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.Bonificacao))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.ReceitaAF))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.ReducaoIcms))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.ReceitaMono))
                }
            </td>
            <td style="text-align:right;border:1px solid;padding-right:1%;">
                @if (Model != null)
                {
                    @string.Format("{0:N}", Convert.ToDecimal(Model.DevolucaoMonoEntrada) + Convert.ToDecimal(Model.DevolucaoMonoSaida))
                }
            </td>
        </tr>
    </tbody>
</table>