@model Escon.SisctNET.Model.Tax

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">

        <a asp-controller="HomeExit" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong> Dados ICMS e PIS/COFINS</strong></h3>
        <div class="btn-group pull-right">
            <div class="btn-group pull-right">
                @if (!ViewBag.Company.CountingType.Name.Equals("Simples Nacional"))
                {
                    <a asp-action="Receita" size="large" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Outra Receita
                    </a>
                }


                @if (ViewBag.Company.CountingType.Name.Equals("Lucro Presumido"))
                {
                    <a asp-action="Reduction" size="large" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Redução
                    </a>
                }

                @if (ViewBag.Company.CountingType.Name.Equals("Lucro Real"))
                {
                    <a asp-action="Despesa" size="large" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Outra Despesa
                    </a>
                }

                @if (!ViewBag.Company.CountingType.Name.Equals("Simples Nacional"))
                {
                    <a asp-action="Retention" size="large" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Retenção
                    </a>
                }

            </div>

            @if (!ViewBag.Company.CountingType.Name.Equals("Simples Nacional"))
            {
                <br />
                <br />
            }


            <div class="btn-group pull-right">
                @if (ViewBag.Company.CountingType.Name.Equals("Lucro Real"))
                {
                    <a asp-action="Loss" size="large" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Perda
                    </a>
                }

                @if ((SessionManager.GetMonthInSession() == "Março" || SessionManager.GetMonthInSession() == "Junho" || SessionManager.GetMonthInSession() == "Setembro" ||
                     SessionManager.GetMonthInSession() == "Dezembro") && ViewBag.Company.CountingType.Name.Equals("Lucro Presumido"))
                {
                    <a asp-action="Pag" size="large" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Pagamento
                    </a>
                }

                @if (ViewBag.Company.CountingType.Name.Equals("Lucro Presumido") || ViewBag.Company.CountingType.Name.Equals("Simples Nacional"))
                {
                    <a asp-action="Service" size="large" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Serviço
                    </a>
                }

                <a asp-action="Import" size="large" class="btn btn-primary">
                    <i class="fa fa-cloud-upload"></i>
                    Importar
                </a>
            </div>
        </div>

        <div style="width:100%; text-align:center;padding-top:100px;">
            <strong>@ViewBag.Company.SocialName</strong> <br />
            <b>CNPJ: </b>@ViewBag.Company.Document <b>Insc. Estadual: </b> @ViewBag.Company.Ie
        </div>

        <br />
        <br />

        <div style="width:100%; text-align:left; padding-left:1%;">
            <strong>Arquivo: </strong>
            @if (Model != null)
            {
                @Model.Arquivo
            }
            else
            {
                <span>Nenhum</span>
            }
        </div>
        <div style="width:100%; text-align:right; padding-right:1%;">
            <strong>@SessionManager.GetMonthInSession()/@SessionManager.GetYearInSession()</strong>
        </div>

    </div>
    <div class="box-body">
        <div style="width:100%; padding:10px;">
            <nr></nr>

            <!-- IMPOSTO ICMS DE EMPRESA INCENTIVADA -->
            @if (ViewBag.Company.Incentive == true)
            {
                <div style="text-align:center">
                    <strong>ICMS</strong>
                </div>
                <table class="table" style="font-size:9px;">
                    <thead>
                        <tr>
                            @if (ViewBag.Company.Annex.Description.Equals("ANEXO II - AUTOPEÇAS") || ViewBag.Company.Chapter.Name.Equals("CAPÍTULO IV-C") || ViewBag.Company.TipoApuracao.Equals(false))
                            {
                                <th style="text-align:center;border:1px solid;" colspan="18">
                                    DADOS
                                </th>
                            }
                            else
                            {
                                <th style="text-align:center;border:1px solid;" colspan="8">
                                    DADOS
                                </th>
                            }

                        </tr>
                    </thead>

                    <tbody>

                        @if (ViewBag.Company.TipoApuracao.Equals(true))
                        {
                            <!-- EMPRESA INCENTIVO ENTRADA -->
                            @await Html.PartialAsync("_InputData", Model, new ViewDataDictionary(ViewData))
                        }
                        else if (ViewBag.Company.TipoApuracao.Equals(false))
                        {
                            <!-- EMPRESA INCENTIVO SAÍDA -->
                            @if (ViewBag.Company.Annex.Description.Equals("NENHUM"))
                            {
                                @if (ViewBag.Company.TypeCompany.Equals(true))
                                {
                                    @await Html.PartialAsync("_ProductData", Model, new ViewDataDictionary(ViewData))
                                }
                                else
                                {
                                    @await Html.PartialAsync("_IndustryData", Model, new ViewDataDictionary(ViewData))
                                }
                            }
                            else if ((ViewBag.Company.Annex.Description.Equals("ANEXO CCCXXVI (Art. 791 - A)") && ViewBag.Company.Chapter.Name.Equals("CAPÍTULO II – A")) ||
                                ViewBag.Company.Annex.Description.Equals("ANEXO VII (Art. 59 Parte 1) - REGIMES ESPECIAIS DE TRIBUTAÇÃO"))
                            {
                                 <!-- EMPRESA DE MEDICAMENTO -->
                                 @await Html.PartialAsync("_PharmaceuticalData", Model, new ViewDataDictionary(ViewData))
                            }
                            else if (ViewBag.Company.Annex.Description.Equals("ANEXO ÚNICO"))
                            {
                                <!-- EMPRESA DE MEDICAMENTO -->
                                if (ViewBag.Company.Chapter.Name.Equals("CAPÍTULO II"))
                                {
                                    @if (ViewBag.Company.Section.Name.Equals("Seção II"))
                                    {
                                        @await Html.PartialAsync("_MedicationData", Model, new ViewDataDictionary(ViewData))
                                    }
                                }
                            }

                        }
                    </tbody>
                </table>

                <hr />
            }

            <!-- IMPOSTO PIS/COFINS -->
            <div style="text-align:center">
                <strong>PIS/COFINS</strong>
            </div>

            @if (ViewBag.Company.CountingType.Name.Equals("Lucro Real"))
            {
                <!-- EMPRESA LUCRO REAL -->

                @await Html.PartialAsync("_ReceitaDataReal", Model, new ViewDataDictionary(ViewData))
                @await Html.PartialAsync("_RetentionDataReal", Model, new ViewDataDictionary(ViewData))
            }
            else if (ViewBag.Company.CountingType.Name.Equals("Lucro Presumido"))
            {
                <!-- EMPRESA LUCRO PRESUMIDO -->

                @await Html.PartialAsync("_ReceitaDataPresumido", Model, new ViewDataDictionary(ViewData))
                @await Html.PartialAsync("_RetentionDataPresumido", Model, new ViewDataDictionary(ViewData))
            }
            else if (ViewBag.Company.CountingType.Name.Equals("Simples Nacional"))
            {
                <!-- EMPRESA DO SIMPLES -->
                @await Html.PartialAsync("_ReceitaDataSimples", Model, new ViewDataDictionary(ViewData))
            }

        </div>
    </div>
</div>
