@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <a asp-controller="Tax" asp-action="Index" asp-route-id="@SessionManager.GetCompanyIdInSession()" asp-route-year="@SessionManager.GetYearInSession()" asp-route-month="@SessionManager.GetMonthInSession()" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"> <strong>Adicionar Serviço:</strong> @Html.DisplayFor(model => model.SocialName) - @Html.DisplayFor(model => model.Document)</h3>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <form asp-controller="Tax" asp-action="Service" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.Tax == null)
                {
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-xs-6">
                            <label class="control-label">Receita</label>
                            <input class="form-control money" name="Receita4">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-6">
                            <label class="control-label">Devolução</label>
                            <input class="form-control money" name="Devolucao4">
                        </div>
                    </div>

                }
                else
                {
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-xs-6">
                            <label class="control-label">Receita</label>
                            <input class="form-control money" name="Receita4" value="@ViewBag.Tax.Receita4">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-6">
                            <label class="control-label">Devolução</label>
                            <input class="form-control money" name="Devolucao4" value="@ViewBag.Tax.Devolucao4">
                        </div>
                    </div>

                }

                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <input type="submit" value="Cofirmar" class="btn btn-success pull-right" />
                </div>
            </form>
        </div>

    </div>
</div>

