<tbody>
    @foreach (var product in ViewBag.Products)
    {
        <tr>
            <td style="border:1px solid">@product[2] - @product[3]</td>
            <td style="border:1px solid">@product[0] - @product[1]</td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", Convert.ToDecimal(product[4].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", Convert.ToDecimal(product[5].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", Convert.ToDecimal(product[6].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", Convert.ToDecimal(product[7].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", Convert.ToDecimal(product[8].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
            </td>
            <td style="border:1px solid; text-align:right; padding-right:1%;">
                <b>@string.Format("{0:N}", Convert.ToDecimal(product[9].Replace(',', '*').Replace('.', ',').Replace('*', '.')))</b>
            </td>
        </tr>
    }
</tbody>