@model IEnumerable<Escon.SisctNET.Model.CompanyCfop>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box box-primary">
        <div class="box-header">
            <a asp-controller="Company" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
            <h3 class="box-title"><strong>Cfops</strong></h3>
            <div class="btn-group pull-right">
                <a asp-action="Sincronize" asp-route-companyId=@ViewBag.Id class="btn btn-primary">
                    <i class="fa fa-refresh"></i>
                    Sincronizar
                </a>
            </div>

            <div style="width:100%; text-align:center;">
                <strong>@ViewBag.Name - @ViewBag.Document</strong>
            </div>
            <br />
        </div>
        <div class="box-body">

            <div style="width:100%; padding:20px;">
                <h5 style="color:blue;">Cfops entradas</h5>
                <h5 style="color:red;">Cfops saídas<</h5>
            </div>

            <div style="width:100%; overflow:hidden; overflow-x:scroll; padding:20px;">

                <table class="table table-striped table-bordered" id="tblIndex" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Cfop
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CfopType)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (Convert.ToInt32(item.Cfop.Code) < 5000)
                            {
                                <tr style="color:blue;">
                                    <td>
                                        @item.Cfop.Code
                                    </td>
                                    <td>
                                        @item.Cfop.Description
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.Active, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "success", @data_offstyle = "danger", @readonly = "true", @id = item.Id })
                                    </td>
                                    <td><select asp-items="@ViewBag.ListTypes" name="cfopType" id="cfopType" class="form-control selectoptionAll" style="width:100%;"></select></td>
                                </tr>
                            }
                            else
                            {
                                <tr style="color:red;">
                                    <td>
                                        @item.Cfop.Code
                                    </td>
                                    <td>
                                        @item.Cfop.Description
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.Active, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_onstyle = "success", @data_offstyle = "danger", @readonly = "true", @id = item.Id })
                                    </td>
                                   <td>
                                   <td>
                                    <select asp-items="@ViewBag.ListTypes" name="cfopType" id="cfopType" class="form-control selectoptionAll" style="width:100%;"></select>
                                   </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        $(function () {

             $("#tblIndex").on("change", "input[type='checkbox']", function(){
                try {

                     $.ajax({
                        url: '@(Url.Action("UpdateStatus", "CompanyCfop"))',
                        dataType: 'json',
                        type: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({ "Id": $(this).prop('id'), "Active": $(this).prop('checked') }),
                        processData: false,
                        success: function (data, textStatus, jQxhr) {

                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                     });

                } catch (e) {
                    console.log(e);
                }
             });


        })
    })
    </script>