<br />
<hr />
<div class="col-lg-6">
    <b>Notas Inválidas</b>

</div>
<div class="col-lg-6" style="text-align:right">
    <b>Quantidade:</b> @ViewBag.QtdInvalida
</div>
<br />

<table class="table" style="width:100%;font-size:10px;">
    <thead>
        <tr style="border: 1px solid;">
            <th style="border: 1px solid;">Chave</th>
            <th style="border: 1px solid;">Modelo</th>
            <th style="border: 1px solid;">Nota</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var nota in ViewBag.NotasInvalidas)
        {
            <tr style="border: 1px solid;">
                <td style="border: 1px solid;">@nota[2]</td>
                <td style="border: 1px solid;">@nota[0]</td>
                <td style="border: 1px solid;">@nota[1]</td>
            </tr>
        }
    </tbody>
</table>

<div class="col-lg-12">
    <h6>
        <strong>
            @ViewBag.NotasInvalidas.Count registro(s)
        </strong>
    </h6>
</div>