<table class="table table-striped table-bordered" style="width:100%;font-size:10px;">
    <thead>
        <tr>
            <th>Nº NFe</th>
            <th>Fornecedor</th>
            <th>Total NFe</th>
            <th>Total Sped</th>
            <th>DIF</th>
            <th>Desconto NFe</th>
            <th>Desconto Sped</th>
            <th>DIF</th>
            <th>Outras Despesas NFe</th>
            <th>Outras Despesas Sped</th>
            <th>DIF</th>
            <th>Frete NFe</th>
            <th>Frete Sped</th>
            <th>DIF</th>
            <th>Seguro NFe</th>
            <th>Seguro Sped</th>
            <th>DIF</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var valor in ViewBag.Valores)
        {
            <tr>
                <td>@valor[0]</td>
                <td>@valor[1]</td>
                <td style="text-align:right;">@valor[2]</td>
                <td style="text-align:right;">@valor[3]</td>
                <td style="background-color:lightgray; text-align:right;">@valor[4]</td>
                <td style="text-align:right;">@valor[5]</td>
                <td style="text-align:right;">@valor[6]</td>
                <td style="background-color:lightgray; text-align:right;">@valor[7]</td>
                <td style="text-align:right;">@valor[8]</td>
                <td style="text-align:right;">@valor[9]</td>
                <td style="background-color:lightgray; text-align:right;">@valor[10]</td>
                <td style="text-align:right;">@valor[11]</td>
                <td style="text-align:right;">@valor[12]</td>
                <td style="background-color:lightgray; text-align:right;">@valor[13]</td>
                <td style="text-align:right;">@valor[14]</td>
                <td style="text-align:right;">@valor[15]</td>
                <td style="background-color:lightgray; text-align:right;">@valor[16]</td>
            </tr>
        }
    </tbody>
</table>