@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div>
                <img src="~/img/logo-sisct.png" style="width:25%; height:60%; float:left;" />
                <img src="~/img/escon.png" style="width:20%; height:50%; float:right;" />
            </div>
        </div>

        <div style="text-align:center;">
            <strong>@ViewBag.SocialName - @ViewBag.Document</strong>
        </div>
        <div style="width:100%; overflow:hidden; padding:20px;">
            <div style="float:left;"><strong>Periodo:</strong> @ViewBag.Mes/@ViewBag.Ano</div>
            <div style="float:right;"><strong>Data:</strong> @DateTime.Now.ToString("dd/MM/yyyy")</div>
        </div>
    </div>
    <div class="box-body">
        <div style="width:100%;font-size:11px; padding:20px;">
            @if (ViewBag.Opcao == "NFe")
            {
                @if (ViewBag.Ordem == "Xml")
                {
                    @await Html.PartialAsync("_XmlSped", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Ordem == "Sped")
                {
                    @await Html.PartialAsync("_SpedXml", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Ordem == "DifereValor")
                {
                    @await Html.PartialAsync("_TotalDifference", new ViewDataDictionary(ViewData))
                }
                else if (ViewBag.Ordem == "SisCT")
                {
                    @await Html.PartialAsync("_XmlSpedSisct", new ViewDataDictionary(ViewData))
                }
                <div style="float:left;">
                    <h6>
                        <strong>
                            @if (ViewBag.Ordem == "Sped")
                            {
                                @ViewBag.notas_sped.Count
                            }
                            else if (ViewBag.Ordem == "Xml")
                            {
                                @ViewBag.Notas.Count
                            }
                            else if (ViewBag.Ordem == "DifereValor" || ViewBag.Ordem == "SisCT")
                            {
                                @ViewBag.Valores.Count
                            }
                            registro(s)
                        </strong>
                    </h6>
                </div>
            }
            else if (ViewBag.Opcao == "CTe")
            {
                @await Html.PartialAsync("_CompareCte", new ViewDataDictionary(ViewData))
                <div style="float:left;">
                    <h6><strong>@ViewBag.Ctes.Count registro(s)</strong></h6>
                </div>
            }
            else if (ViewBag.Opcao == "Planilha")
            {
                if (ViewBag.Ordem == "Malha")
                {
                    @await Html.PartialAsync("_Malha", new ViewDataDictionary(ViewData))

                    <div style="float:left;">
                        <h6><strong>@ViewBag.NotasExcelCount registro(s)</strong></h6>
                    </div>
                }

            }
        </div>
    </div>
    <div class="box-footer"></div>
</div>