@model Escon.SisctNET.Model.ProductIncentivo
<h4><strong>Detalhe do Produto:</strong> @Html.DisplayFor(model => model.Company.SocialName) - @Html.DisplayFor(model => model.Company.Document) </h4>
<div style="width:100%; padding:20px;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ncm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ncm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cest)
        </dd>
        <dt>
            Cst
        </dt>
        <dd>
            @if (Model.CstId != null)
            {
                @Html.DisplayFor(model => model.Cst.Code)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeTaxation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeTaxation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Percentual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Percentual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PercentualBcr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PercentualBcr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

    </dl>
</div>