@model Escon.SisctNET.Model.ProductIncentivo

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">

        <a asp-controller="ProductIncentivo" asp-action="IndexAll" asp-route-id="@Model.CompanyId" siize="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong>Editar</strong> - @Model.Name</h3>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <p>* Percentual Capítulo IV - C Do regime especial de substituição tributária aplicável às operações com autopeças, componentes e acessórios para motocicletas</p>

            <form asp-action="Edit" method="post">
                <div class="row">
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" readonly />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-10 col-md-6 col-xs-12">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Ncm" class="control-label"></label>
                        <input asp-for="Ncm" class="form-control" readonly />
                        <span asp-validation-for="Ncm" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="Cest" class="control-label"></label>
                        <input asp-for="Cest" class="form-control" readonly />
                        <span asp-validation-for="Cest" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-xs-12">
                        <label class="control-label">Produto</label>
                        @if (Model.Company.Incentive && !Model.Company.TipoApuracao)
                        {
                            @if (Model.TypeTaxation == "Incentivado/Normal")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Normal" selected>Incentivado/Normal</option>
                                    <option value="Incentivado/ST">Incentivado/ST</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "Incentivado/ST")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Normal">Incentivado/Normal</option>
                                    <option value="Incentivado/ST" selected>Incentivado/ST</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "ST")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Normal">Incentivado/Normal</option>
                                    <option value="Incentivado/ST">Incentivado/ST</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST" selected>ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "Isento")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Normal">Incentivado/Normal</option>
                                    <option value="Incentivado/ST">Incentivado/ST</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento" selected>Isento</option>
                                </select>
                            }
                            else
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Normal">Incentivado/Normal</option>
                                    <option value="Incentivado/ST">Incentivado/ST</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                        }
                        else if (Model.Company.Incentive && Model.Company.ChapterId == 4)
                        {
                            @if (Model.TypeTaxation == "Incentivado/Regime")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Regime" selected>Incentivado/Regime</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "Normal")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Regime">Incentivado/Regime</option>
                                    <option value="Normal" selected>Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "ST")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Regime">Incentivado/Regime</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST" selected>ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "Isento")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Regime">Incentivado/Regime</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento" selected>Isento</option>
                                </select>
                            }
                            else
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Incentivado/Regime">Incentivado/Regime</option>
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                        }
                        else
                        {
                            @if (Model.TypeTaxation == "Normal")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Normal" selected>Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "ST")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Normal">Normal</option>
                                    <option value="ST" selected>ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                            else if (Model.TypeTaxation == "Isento")
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento" selected>Isento</option>
                                </select>
                            }
                            else
                            {
                                <select class="form-control selectoption" name="typeTaxation" id="taxation">
                                    <option value="Normal">Normal</option>
                                    <option value="ST">ST</option>
                                    <option value="Isento">Isento</option>
                                </select>
                            }
                        }

                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-xs-12">
                        <label class="control-label">Tributar</label>
                        <select class="form-control selectoption" name="type" id="type">
                            <option value="1" selected>Por Código</option>
                            <option value="2">Por Ncm</option>
                            <option value="3">Todos</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">NCM Raiz</label>
                        <input name="NcmRaiz" class="form-control" id="NcmRaiz" maxlength="8" disabled />
                    </div>

                </div>

                <div class="row">
                    @if (Model.Company.TypeCompany)
                    {
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label asp-for="Percentual" class="control-label"></label>
                            <input name="Percentual" class="form-control money" value="@Model.Percentual" readonly />
                        </div>
                    }
                    else
                    {
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label asp-for="Percentual" class="control-label"></label>
                            <input name="Percentual" id="Percentual" value="@Model.Percentual" class="form-control money" required>
                        </div>
                    }
                    <div class="form-group col-lg-1 col-md-6 col-xs-12" id="checkbox">
                        @Html.LabelFor(model => model.Bcr, "BCR", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Bcr, new { @data_off = "Não", @data_on = "Sim", @data_size = "small", @data_toggle = "toggle", @data_offstyle = "danger", @data_onstyle = "success", @readonly = "true" })
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="PercentualBcr" class="control-label"></label>
                        @if (Model.Bcr == false)
                        {
                            <input name="PercentualBcr" id="PercentualBcr" value="@Model.PercentualBcr" class="form-control money" disabled>
                        }
                        else
                        {
                            <input name="PercentualBcr" id="PercentualBcr" value="@Model.PercentualBcr" class="form-control money">
                        }
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="PercentualInciso" class="control-label">* Inciso (%)</label>
                        @if (Model.Company.Incentive && Model.Company.ChapterId == 4)
                        {
                            @if (Model.TypeTaxation == "Incentivado/Regime")
                            {
                                <input name="PercentualInciso" id="PercentualInciso" value="@Model.PercentualInciso" class="form-control money">
                            }
                            else
                            {
                                <input name="PercentualInciso" id="PercentualInciso" value="@Model.PercentualInciso" class="form-control money" disabled>
                            }
                        }
                        else
                        {
                            <input name="PercentualInciso" id="PercentualInciso" value="@Model.PercentualInciso" class="form-control money" disabled>
                        }
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label asp-for="DateStart" class="control-label"></label>
                        <input asp-for="DateStart" name="datestart" id="datestart" class="form-control" required />
                    </div>
                </div>

                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <input type="submit" value="Confirmar" class="btn btn-success pull-right" />
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    $("#taxation").on("change", function () {
        if ($(this).val() === 'Incentivado/Normal' || $(this).val() === 'Incentivado/ST') {
            $("#Percentual").prop("disabled", false);
        } else {
            $("#Percentual").prop("disabled", true);
        }

        if ($(this).val() === 'Incentivado/Regime') {
            $("#PercentualInciso").prop("disabled", false);
        } else {
            $("#PercentualInciso").prop("disabled", true);
        }
    });

    $("#type").on("change", function () {
        if ($(this).val() === '2') {
            $("#NcmRaiz").prop("disabled", false);
        } else {
            $("#NcmRaiz").prop("disabled", true);
        }
    });


    $("#checkbox").on("change", "input[type='checkbox']", function () {
        if ($(this).prop("checked")) {
            $("#PercentualBcr").prop("disabled", false);
        } else {
            $("#PercentualBcr").prop("disabled", true);
        }
    });
</script>