@model Escon.SisctNET.Model.Note
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">

        <a asp-controller="Note" asp-action="Index" asp-route-id=@Model.CompanyId asp-route-year=@Model.AnoRef asp-route-month=@Model.MesRef size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"><strong> Nota - @Model.Nnf</strong></h3>

        <div style="width:100%; text-align:center;">
            <strong>Dados Pagamentos</strong>
        </div>
        <br />
    </div>
    <div class="box-body" style="font-size:11px;">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" class="form-control" type="hidden" />
                    <input asp-for="Chave" class="form-control" type="hidden" />
                    <input asp-for="AnoRef" class="form-control" type="hidden" />
                    <input asp-for="MesRef" class="form-control" type="hidden" />
                    <input asp-for="Xnome" class="form-control" type="hidden" />
                    <input asp-for="Company" class="form-control" type="hidden" />
                    <input asp-for="Cnpj" class="form-control" type="hidden" />
                    <input asp-for="Uf" class="form-control" type="hidden" />
                    <input asp-for="Ie" class="form-control" type="hidden" />
                    <input asp-for="Nct" class="form-control" type="hidden" />
                    <input asp-for="Crt" class="form-control" type="hidden" />
                    <input asp-for="Iest" class="form-control" type="hidden" />
                    <input asp-for="Dhemi" class="form-control" type="hidden" />

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="Nnf" class="control-label"></label>
                            <input asp-for="Nnf" class="form-control" readonly />
                            <span asp-validation-for="Nnf" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnrePaga" class="control-label"></label>
                            <input asp-for="GnrePaga" id="money" class="form-control" readonly />
                            <span asp-validation-for="GnrePaga" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreNPaga" class="control-label"></label>
                            <input type="text" name="GnreNPaga" value="@Model.GnreNPaga" class="form-control money" readonly />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="Vnf" class="control-label"></label>
                            <input type="text" class="form-control money" value="@Model.Vnf" name="Vnf" id="money" readonly />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="IcmsAp" class="control-label"></label>
                            <input type="text" value="@Model.IcmsAp" name="IcmsAp" class="form-control money" />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="IcmsCo" class="control-label"></label>
                            <input type="text" value="@Model.IcmsCo" name="IcmsCo" class="form-control money" />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="IcmsIm" class="control-label"></label>
                            <input type="text" value="@Model.IcmsIm" name="IcmsIm" class="form-control money" />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="IcmsSt" class="control-label"></label>
                            <input type="text" value="@Model.IcmsSt" name="IcmsSt" class="form-control money" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreAp" class="control-label"></label>
                            <input type="text" value="@Model.GnreAp" name="GnreAp" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreCo" class="control-label"></label>
                            <input type="text" value="@Model.GnreCo" name="GnreCo" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="GnreIm" class="control-label"></label>
                                <input type="text" value="@Model.GnreIm" name="GnreIm" class="form-control money" />
                            </div>
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreSt" class="control-label"></label>
                            <input type="text" value="@Model.GnreSt" name="GnreSt" class="form-control money" readonly/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreNAp" class="control-label"></label>
                            <input type="text" value="@Model.GnreNAp" name="GnreNAp" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreNCo" class="control-label"></label>
                            <input type="text" value="@Model.GnreNCo" name="GnreNCo" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="GnreNIm" class="control-label"></label>
                                <input type="text" value="@Model.GnreNIm" name="GnreNIm" class="form-control money" />
                            </div>
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreNSt" class="control-label"></label>
                            <input type="text" value="@Model.GnreNSt" name="GnreNSt" class="form-control money" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="Fecop1" class="control-label"></label>
                            <input type="text" value="@Model.Fecop1" name="Fecop1" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="Fecop2" class="control-label"></label>
                            <input type="text" value="@Model.Fecop2" name="Fecop2" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="FecopGnre1" class="control-label"></label>
                            <input type="text" value="@Model.FecopGnre1" name="FecopGnre1" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="FecopGnre2" class="control-label"></label>
                            <input type="text" value="@Model.FecopGnre2" name="FecopGnre2" class="form-control money" />
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="GnreFecop" class="control-label"></label>
                            <input type="text" value="@Model.GnreFecop" name="GnreFecop" class="form-control money" />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="Desconto" class="control-label"></label>
                            <input type="text" value="@Model.Desconto" name="Desconto" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-3 col-md-6 col-xs-12">
                            <label asp-for="Frete" class="control-label"></label>
                            <input type="text" value="@Model.Frete" name="Frete" class="form-control money" />
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-xs-12">
                            <input type="submit" value="Confirmar" class="btn btn-success pull-right" />
                        </div>

                    </div>

                </form>
            </div>
    </div>
</div>
