@model Escon.SisctNET.Model.Company

@{
    ViewData["Title"] = "Icms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header" id="hiddenHeader">
        <a asp-controller="HomeExit" asp-action="Index" size="large" class="glyphicon glyphicon-circle-arrow-left pull-left"></a>
        <h3 class="box-title"> <strong>Relatório Icms:</strong> @Html.DisplayFor(model => model.SocialName) - @Html.DisplayFor(model => model.Document) </h3>

    </div>
    <div class="box-body" id="hiddenBody">
        <div class="col-lg-12">
            <form asp-controller="Icms" asp-action="Relatory" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="companyId" value="@Html.DisplayFor(model => model.Id)" />
                <div class="row">
                    <div class="form-group col-lg-1 col-md-6 col-xs-12">
                        <label class="control-label">Ano</label>
                        <input type="text" name="year" class="form-control" value="@DateTime.Now.ToString("yyyy")" required />
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-xs-12">
                        <label class="control-label">Mês</label>
                        <select name="month" class="form-control selectoption">
                            <option value="Janeiro">Janeiro</option>
                            <option value="Fevereiro">Fevereiro</option>
                            <option value="Março">Março</option>
                            <option value="Abril">Abril</option>
                            <option value="Maio">Maio</option>
                            <option value="Junho">Junho</option>
                            <option value="Julho">Julho</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Setembro">Setembro</option>
                            <option value="Outubro">Outubro</option>
                            <option value="Novembro">Novembro</option>
                            <option value="Dezembro">Dezembro</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                        <label class="control-label">Tipo</label>
                        <select name="type" class="form-control selectoption" id="status" onchange="ativar_button()">
                            <option value="resumoCfop" selected>Resumo CFOP</option>
                            <option value="resumoCfopCst">Resumo CFOP/CST</option>
                            <option value="resumoCfopAliq">Resumo CFOP/Aliquota</option>
                            <option value="resumoCfopIcmsIcmsST">Resumo CFOP ICMS/ICMS ST</option>
                            <option value="resumoCfopIcmsIcmsSTAnalitico">Resumo CFOP ICMS/ICMS ST Analítico</option>

                            @if (Model.Incentive == true)
                            {
                                @if (Model.AnnexId == 1 || Model.AnnexId == 3 || Model.AnnexId == 4)
                                {
                                    <option value="resumoCfopAnexo">Resumo CFOP Anexo</option>
                                    <option value="resumoCfopCstAenxo">Resumo CFOP/CST Anexo</option>
                                    <option value="resumoCfopAnexoAnalitico">Resumo CFOP Anexo Analítico</option>
                                    <option value="resumoCfopAnexoDC">Resumo CFOP Anexo Débito/Crédito</option>
                                    <option value="resumoCfopForaAnexo">Resumo CFOP Fora do Anexo</option>
                                    <option value="resumoCfopCstForaAenxo">Resumo CFOP/CST Fora do Anexo</option>
                                    <option value="resumoCfopForaAnexoAnalitico">Resumo CFOP Fora do Anexo Analítico</option>
                                    <option value="resumoCfopForaAnexoDC">Resumo CFOP Fora Anexo Débito/Crédito</option>
                                    <option value="resumoPorCfop">Resumo por CFOP</option>
                                    <option value="anexo">Venda Anexo</option>
                                    <option value="foraAnexo">Venda Fora do Anexo</option>
                                    <option value="vendaContribuinte">Venda P/ Contribuinte</option>
                                    <option value="vendaNContribuinte">Venda P/ não Contribuinte</option>
                                }
                                else if (Model.ChapterId == 4)
                                {
                                    <option value="resumoPorCfop">Resumo por CFOP</option>
                                    <option value="vendaContribuinte">Venda P/ Contribuinte</option>
                                    <option value="vendaNContribuinte">Venda P/ não Contribuinte</option>
                                }
                                else
                                {
                                    <option value="resumoPorCfop">Resumo por CFOP</option>
                                    <option value="vendaProdutoSTNormal">Venda de Produto ST como Normal</option>
                                    <option value="vendaProdutoSTNormalNote">Venda de Produto ST como Normal por Nota</option>
                                }

                            }
                            else
                            {
                                <option value="resumoPorCfop">Resumo por CFOP</option>
                            }

                            <option value="produtoST">Produtos ST com Base de Cálculo</option>
                            <option value="notaContigenciaIcms">Notas Contigência com ICMS</option>
                            <option value="notaContigenciaNIcms">Notas Contigência sem ICMS</option>
                            <!--
                                <option value="tributacaoDiveregente">Tributação Divergente</option>
                            -->
                            <option value="debitoCredito">Débito/Crédito</option>

                            @if (Model.Incentive == true)
                            {
                                @if (Model.AnnexId != null)
                                {
                                    <option value="suspensao">Notas Suspensão</option>
                                }

                                @if (Model.TipoApuracao == true)
                                {
                                    <option value="icmsExcedente">Icms Excedente</option>
                                }
                                else
                                {
                                    <option value="incentivo">Incentivo</option>
                                }

                                @if (Model.AnnexId != null)
                                {
                                    @if (Model.AnnexId == 1)
                                    {
                                        <option value="anexoAutoPecas">ANEXO CCCXVI</option>
                                    }
                                    else if (Model.AnnexId == 3)
                                    {
                                        <option value="anexoMedicamento">ANEXO CLIX</option>
                                    }
                                }
                            }

                            <option value="difal">DIFAL</option>
                        </select>
                    </div>

                    <!--
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Opção</label>
                            <select name="opcao" class="form-control selectoption" id="opcao">
                                <option value="entrada">Entrada</option>
                                <option value="saida" selected>Saida</option>
                            </select>
                        </div>

                    -->

                    <div class="form-group col-lg-3 col-md-6 col-xs-12">
                        <label class="control-label">Arquivo</label>
                        <select name="arquivo" class="form-control selectoption" id="arquivo">
                            <option value="xmlS" selected>XML SEFAZ</option>
                            <option value="xmlE">XML EMPRESA</option>
                        </select>
                    </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-xs-12">
                            <label class="control-label">CFOP</label>
                            <select asp-items="@ViewBag.CfopId" class="form-control selectoption" id="cfopId" name="cfopId" disabled="disabled" onchange="ativar_button()"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-12 col-xs-12">
                            <label class="control-label">CST</label>
                            <select asp-items="@ViewBag.CstId" class="form-control selectoption" id="cstId" name="cstId" disabled="disabled" onchange="ativar_button()"></select>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 col-xs-12">
                            <label class="control-label">Csosn</label>
                            <select asp-items="@ViewBag.CsosnId" class="form-control selectoption" id="csosnId" name="csosnId" disabled="disabled" onchange="ativar_button()"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">UF Destino</label>
                            <select asp-items="@ViewBag.StateId" class="form-control selectoption" id="stateId" name="stateId" disabled="disabled" onchange="ativar_button()"></select>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Icms %</label>
                            <input type="text" name="icms" id="icms" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Icms ST %</label>
                            <input type="text" name="icmsST" id="icmsST" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">MVA %</label>
                            <input type="text" name="mva" id="mva" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Série</label>
                            <input type="text" name="serie" id="serie" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-xs-12">
                            <label class="control-label">Número</label>
                            <input type="text" name="numero" id="numero" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-xs-12">
                        <input type="submit" value="Gerar" class="btn btn-success pull-right" onclick="show()" />
                    </div>
            </form>
        </div>
    </div>
    <div style="text-align:center; display:none;" id="loading">
        <img src="~/img/carregando.gif" />
    </div>
</div>

<script type="text/javascript">
    function ativar_button() {
        var tipo = document.getElementById("status").value;
        if (tipo == "incentivo") {
            document.getElementById("cfopId").disabled = true;
            document.getElementById("stateId").disabled = true;
            document.getElementById("cstId").disabled = true;
            document.getElementById("csosnId").disabled = true;
            document.getElementById("icms").disabled = true;
            document.getElementById("icmsST").disabled = true;
            document.getElementById("mva").disabled = true;
            //document.getElementById("opcao").disabled = true;
            document.getElementById("arquivo").disabled = true;
            document.getElementById("serie").disabled = true;
            document.getElementById("numero").disabled = true;
        } else if (tipo == "resumoCfop") {
            //document.getElementById("opcao").disabled = false;
            document.getElementById("arquivo").disabled = false;
            document.getElementById("cfopId").disabled = true;
            document.getElementById("cstId").disabled = true;
            document.getElementById("csosnId").disabled = true;
            document.getElementById("stateId").disabled = true;
            document.getElementById("icms").disabled = true;
            document.getElementById("icmsST").disabled = true;
            document.getElementById("mva").disabled = true;
            document.getElementById("arquivo").disabled = false;
            document.getElementById("serie").disabled = true;
            document.getElementById("serie").disabled = true;
            document.getElementById("numero").disabled = true;
        }
        else if (tipo == "resumoPorCfop") {
            document.getElementById("cfopId").disabled = false;
            document.getElementById("stateId").disabled = true;
            document.getElementById("cstId").disabled = true;
            document.getElementById("csosnId").disabled = true;
            document.getElementById("icms").disabled = true;
            document.getElementById("icmsST").disabled = true;
            document.getElementById("mva").disabled = true;
            //document.getElementById("opcao").disabled = false;
            document.getElementById("arquivo").disabled = false;
            document.getElementById("serie").disabled = true;
            document.getElementById("numero").disabled = true;
        }
        else if (tipo == "anexoAutoPecas" || tipo == "incentivo" || tipo == "icmsExcedente" || tipo == "difal") {
            document.getElementById("cfopId").disabled = true;
            document.getElementById("stateId").disabled = true;
            document.getElementById("cstId").disabled = true;
            document.getElementById("csosnId").disabled = true;
            document.getElementById("icms").disabled = true;
            document.getElementById("icmsST").disabled = true;
            document.getElementById("mva").disabled = true;
            //document.getElementById("opcao").disabled = true;
            document.getElementById("arquivo").disabled = true;
            document.getElementById("serie").disabled = true;
            document.getElementById("numero").disabled = true;
        }
        else if (tipo == "resumoCfopIcmsIcmsST") {
            document.getElementById("cfopId").disabled = false;
            document.getElementById("stateId").disabled = false;
            document.getElementById("cstId").disabled = false;
            document.getElementById("csosnId").disabled = false;
            document.getElementById("icms").disabled = false;
            document.getElementById("icmsST").disabled = false;
            document.getElementById("mva").disabled = false;
            //document.getElementById("opcao").disabled = false;
            document.getElementById("arquivo").disabled = false;
            document.getElementById("serie").disabled = true;
            document.getElementById("numero").disabled = true;
        }
        else if (tipo == "resumoCfopIcmsIcmsSTAnalitico") {
            document.getElementById("cfopId").disabled = true;
            document.getElementById("stateId").disabled = false;
            document.getElementById("cstId").disabled = true;
            document.getElementById("csosnId").disabled = true;
            document.getElementById("icms").disabled = true;
            document.getElementById("icmsST").disabled = true;
            document.getElementById("mva").disabled = true;
            //document.getElementById("opcao").disabled = false;
            document.getElementById("arquivo").disabled = false;
            document.getElementById("serie").disabled = true;
            document.getElementById("numero").disabled = true;
        }
        else if (tipo == "notaContigenciaIcms" || tipo == "notaContigenciaNIcms") {
            document.getElementById("cfopId").disabled = true;
            document.getElementById("stateId").disabled = true;
            document.getElementById("cstId").disabled = true;
            document.getElementById("csosnId").disabled = true;
            document.getElementById("icms").disabled = true;
            document.getElementById("icmsST").disabled = true;
            document.getElementById("mva").disabled = true;
            //document.getElementById("opcao").disabled = true;
            document.getElementById("arquivo").disabled = false;
            document.getElementById("serie").disabled = false;
            document.getElementById("numero").disabled = false;
        }
        else {
            document.getElementById("cfopId").disabled = true;
            document.getElementById("stateId").disabled = true;
            document.getElementById("cstId").disabled = true;
            document.getElementById("csosnId").disabled = true;
            document.getElementById("icms").disabled = true;
            document.getElementById("icmsST").disabled = true;
            document.getElementById("mva").disabled = true;
            //document.getElementById("opcao").disabled = true;
            document.getElementById("arquivo").disabled = false;
            document.getElementById("serie").disabled = true;
            document.getElementById("numero").disabled = true;

        }
    }
    function show() {
        document.getElementById('loading').style.display = 'block';
        document.getElementById('hiddenHeader').style.display = 'none';
        document.getElementById('hiddenBody').style.display = 'none';
    }
</script>