@model IEnumerable<Escon.SisctNET.Model.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"><strong>Saída</strong></h3>
    </div>
    <div class="box-body">
        <div style="width:100%; overflow:hidden; overflow-x:scroll; padding:20px;">

            <table class="table table-striped table-bordered" id="tblCompany" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SocialName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FantasyName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Document)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Incentive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th width="120px"></th>
                    </tr>
                </thead>
                
            </table>

        </div>
    </div>
    <div class="box-footer"></div>
</div>

<div class="modal modal-primary fade in" id="formShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblCompany').DataTable({
            searchDelay: 300,
            "fnDrawCallback": function (oSettings) {
                $('.showDetail').off();
                $('.showProduct').off();
                $('[data-toggle="tooltip"]').tooltip();
                $("input[type='checkbox']").bootstrapToggle();
                $('.showImport').click(function () {
                    $.get('HomeExit/Import/' + $(this).attr('id'), function (html) {
                        $('#formShow .modal-body').empty();
                        $('#formShow .modal-body').append($(html));
                        $('#formShow').modal('show');
                    });

                });

                $('.showSincronize').click(function () {
                    $.get('HomeExit/Sincronize/' + $(this).attr('id'), function (html) {
                        $('#formShow .modal-body').empty();
                        $('#formShow .modal-body').append($(html));
                        $('#formShow').modal('show');
                    });

                });
            },
            "processing": true,
            "ordering": false,
            "serverSide": true,
            "oLanguage": {
                "sProcessing": "Aguarde enquanto os dados são carregados ...",
                "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                "sZeroRecords": "Nenhum registro disponível",
                "sInfoEmpty": "Exibindo 0 a 0 de 0 registros",
                "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                "sInfoFiltered": "",
                "sSearch": "Buscar",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Próximo",
                    "sLast": "Último"
                }
            },
            "ajax": "/Company/GetAllActive",
            "initComplete": function (settings, json) {
            },
            "columns": [
                { "data": "code" },
                { "data": "socialName" },
                { "data": "fantasyName" },
                { "data": "document" },
                {
                    "mData": "incentivo",
                    "mRender": function (data, type, row) {
                        if (data == true) {
                            return "<input type='checkbox' data-off='Não' data-on='Sim' checked='" + data + "' data-toggle='toggle' data-size='small' data-offstyle = 'danger', data-onstyle = 'success' , disabled = 'true' id='" + row.id + "' />";
                        }
                        else {
                            return "<input type='checkbox' data-off='Não' data-on='Sim' data-toggle='toggle' data-size='small' data-offstyle = 'danger', data-onstyle = 'success' , disabled = 'true' id='" + row.id + "' />";
                        }
                    }
                },
                {
                    "mData": "status",
                    "mRender": function (data, type, row) {
                        if (data == true) {
                            return "<input type='checkbox' data-off='Todas' data-on='Fora' checked='" + data + "' data-toggle='toggle' data-size='small' data-offstyle = 'warning', data-onstyle = 'primary' , disabled = 'true' id='" + row.id + "' />";
                        }
                        else {
                            return "<input type='checkbox' data-off='Todas' data-on='Fora' data-toggle='toggle' data-size='small' data-offstyle = 'warning', data-onstyle = 'primary' , disabled = 'true' id='" + row.id + "' />";
                        }
                    }
                },
                {
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        if (row.incentivo == false) {
                            return  "<a href='/HomeExit/CompareCancellation/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px; color:red;' data-toggle='tooltip' data-placement='top' title='Compara Notas Canceladas' /> " +
                                    "<a href='/Company/Compare/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Compara' /> " +
                                    "<a href='/Company/Listing/" + data + "' class = 'fa fa-reorder pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Listagem de Produto' /> " +
                                    "<a href='/HomeExit/Sequence/" + data + "' class = 'glyphicon glyphicon-check pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Sequência Nota' /> " +
                                    "<a href='/TaxationNcm/IndexAll/" + data + "' class = 'glyphicon glyphicon-folder-close pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Ncm Pis/Cofins' /> " +
                                    "<a href='/ProductIncentivo/IndexAll/" + data + "' class = 'glyphicon glyphicon-tags pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Produto' /> " +
                                    "<a href='/Client/IndexAll/" + data + "' class = 'glyphicon glyphicon-user pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Cliente' /> " +
                                    "<a href='#" + data + "' class = 'showImport fa fa-cloud-upload pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Importar Dados ICMS e PIS/COFINS' id='" + row.id + "' /> " +
                                    "<a href='/HomeExit/Icms/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:blue;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Icms' /> " +
                                    "<a href='/HomeExit/PisCofins/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:green;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Pis/Cofins' /> "
                        }
                        else if (row.anexo != null && row.incentivo == true) {
                                if (row.anexo == 1) {
                                    return  "<a href='/HomeExit/CompareCancellation/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px; color:red;' data-toggle='tooltip' data-placement='top' title='Compara Notas Canceladas' /> " +
                                            "<a href='/Company/Compare/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Compara' /> " +
                                            "<a href='/Company/Listing/" + data + "' class = 'fa fa-reorder pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Listagem de Produto' /> " +
                                            "<a href='/HomeExit/Sequence/" + data + "' class = 'glyphicon glyphicon-check pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Sequência Nota' /> " +
                                            "<a href='/TaxationNcm/IndexAll/" + data + "' class = 'glyphicon glyphicon-folder-close pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Ncm Pis/Cofins' /> " +
                                            "<a href='/ProductIncentivo/IndexAll/" + data + "' class = 'glyphicon glyphicon-tags pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Produto' /> " +
                                            "<a href='/Client/IndexAll/" + data + "' class = 'glyphicon glyphicon-user pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Cliente' /> " +
                                            "<a href='#" + data + "' class = 'showSincronize fa fa-cloud-upload pull-left' style = 'margin-left:10px; margin-bottom:10px; color:#191932;' data-toggle='tooltip' data-placement='top' title='Importar Dados Anexo' id='" + row.id + "' /> " +
                                            "<a href='#" + data + "' class = 'showImport fa fa-cloud-upload pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Importar Dados ICMS e PIS/COFINS' id='" + row.id + "' /> " +
                                            "<a href='/HomeExit/Icms/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:blue;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Icms' /> " +
                                            "<a href='/HomeExit/PisCofins/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:green;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Pis/Cofins' /> "
                                }
                                else {
                                    return  "<a href='/HomeExit/CompareCancellation/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px; color:red;' data-toggle='tooltip' data-placement='top' title='Compara Notas Canceladas' /> " +
                                            "<a href='/Company/Compare/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Compara' /> " +
                                            "<a href='/Company/Listing/" + data + "' class = 'fa fa-reorder pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Listagem de Produto' /> " +
                                            "<a href='/HomeExit/Sequence/" + data + "' class = 'glyphicon glyphicon-check pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Sequência Nota' /> " +
                                            "<a href='/TaxationNcm/IndexAll/" + data + "' class = 'glyphicon glyphicon-folder-close pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Ncm Pis/Cofins' /> " +
                                            "<a href='/ProductIncentivo/IndexAll/" + data + "' class = 'glyphicon glyphicon-tags pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Produto' /> " +
                                            "<a href='/Client/IndexAll/" + data + "' class = 'glyphicon glyphicon-user pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Cliente' /> " +
                                            "<a href='#" + data + "' class = 'showImport fa fa-cloud-upload pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Importar Dados ICMS e PIS/COFINS' id='" + row.id + "' /> " +
                                            "<a href='/HomeExit/Icms/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:blue;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Icms' /> " +
                                            "<a href='/HomeExit/PisCofins/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:green;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Pis/Cofins' /> "
                                }
                            
                        }
                        else {
                                return  "<a href='/HomeExit/CompareCancellation/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px; color:red;' data-toggle='tooltip' data-placement='top' title='Compara Notas Canceladas' /> " +
                                        "<a href='/Company/Compare/" + data + "' class = 'glyphicon glyphicon-duplicate pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Compara' /> " +
                                        "<a href='/Company/Listing/" + data + "' class = 'fa fa-reorder pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Listagem de Produto' /> " +
                                        "<a href='/HomeExit/Sequence/" + data + "' class = 'glyphicon glyphicon-check pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Sequência Nota' /> " +
                                        "<a href='/TaxationNcm/IndexAll/" + data + "' class = 'glyphicon glyphicon-folder-close pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Ncm Pis/Cofins' /> " +
                                        "<a href='/ProductIncentivo/IndexAll/" + data + "' class = 'glyphicon glyphicon-tags pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Produto' /> " +
                                        "<a href='/Client/IndexAll/" + data + "' class = 'glyphicon glyphicon-user pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Visualizar Cliente' /> " +
                                        "<a href='#" + data + "' class = 'showImport fa fa-cloud-upload pull-left' style = 'margin-left:10px; margin-bottom:10px;' data-toggle='tooltip' data-placement='top' title='Importar Dados ICMS e PIS/COFINS' id='" + row.id + "' /> " +
                                        "<a href='/HomeExit/Icms/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:blue;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Icms' /> " +
                                        "<a href='/HomeExit/PisCofins/" + data + "' class = 'fa fa-file pull-left' style = 'margin-left:10px; margin-bottom:10px; color:green;' data-toggle='tooltip' data-placement='top' title='Gerar Relatório Pis/Cofins' /> "
                             }
                        

                    }
                }
            ]
        });
    });

</script>